{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Apigee Edge API",
        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.enterprise.apigee.com",
    "basePath": "/v1/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/organizations": {
            "get": {
                "description": "Lists all the organizations.",
                "operationId": "listOrganization_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates an organization.",
                "operationId": "createOrganization_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}": {
            "get": {
                "description": "Gets a specific organization.",
                "operationId": "getOrganization_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates the description of a specific organization.",
                "operationId": "updateOrganization_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a specific organization.",
                "operationId": "deleteOrganization_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/deployments": {
            "get": {
                "description": "Gets all deployments of an organization.",
                "operationId": "getOrganizationDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/pods": {
            "get": {
                "description": "Gets all the pods associated with an organization.",
                "operationId": "getOrganizationPods_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Disassociates a pod from an organization.",
                "operationId": "Create_disAssociatePod_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments": {
            "get": {
                "description": "Lists all the environments in an organization.",
                "operationId": "listEnvironments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates an environment.",
                "operationId": "createEnvironment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}": {
            "get": {
                "description": "Gets details for an environment.",
                "operationId": "getEnvironment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates an environment.",
                "operationId": "updateEnvironment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a specific environment in an organization.",
                "operationId": "deleteEnvironment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/deployments": {
            "get": {
                "description": "Gets the deployments for an environment in an organization.",
                "operationId": "getEnvironmentDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/apis/{api_name}/deployments": {
            "get": {
                "description": "Gets the deployments for an API Proxy in the given environment in an organization.",
                "operationId": "getAPIProxyEnvironmentDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/apis/{api_name}/revisions/{revision_number}/deployments": {
            "get": {
                "description": "Gets the deployments for an API Proxyâs revision for an environment in an organization.",
                "operationId": "getAPIProxyRevisionDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the revision"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/servers": {
            "get": {
                "description": "Gets the servers that are bound to an environment.",
                "operationId": "getServers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Add servers into the environment.",
                "operationId": "addServers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes servers from the environment.",
                "operationId": "deleteServers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/virtualhosts": {
            "get": {
                "description": "Lists all virtual hosts in an environment.",
                "operationId": "listVirtualHosts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a virtual host.",
                "operationId": "createVirtualHost_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/virtualhosts/{virtualhost_name}": {
            "get": {
                "description": "Gets details for a named virtual host .",
                "operationId": "getVirtualHosts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    },
                    {
                        "name": "virtualhost_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the virtual host name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates a specific virtual host in an environment.",
                "operationId": "updateVirtualHost_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the content type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    },
                    {
                        "name": "virtualhost_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the virtual host name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a specific virtual host in an environment.",
                "operationId": "deleteVirtualHost_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "env_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the environment name"
                    },
                    {
                        "name": "virtualhost_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the virtual host name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/deployments": {
            "post": {
                "description": "Undeploys an API proxy revision from an environment.",
                "operationId": "Create_undeployApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/octet-stream",
                        "type": "string",
                        "description": "Specify content type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "undeploy",
                        "type": "string",
                        "description": "Specify the action."
                    },
                    {
                        "name": "env",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specify environment name."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy revision number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apis": {
            "get": {
                "description": "Gets all APIs in an organization.",
                "operationId": "listApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads a ZIP-formatted API proxy configuration bundle from a local machine to an organization on the API Platform.",
                "operationId": "Create_importApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "multipart/form-data",
                        "type": "string",
                        "description": "Specify content type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "import",
                        "type": "string",
                        "description": "Specify the action."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specify API Proxy name."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}": {
            "get": {
                "description": "Gets an API proxy by name, providing a list of existing revisions of the API proxy configuration.",
                "operationId": "getApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an API and all associated endpoints, policies, resources, and revisions.",
                "operationId": "deleteApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/revision_number": {
            "put": {
                "description": "Use the POST method to update a specific API proxy in an organization.",
                "operationId": "updateApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the revision number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}": {
            "get": {
                "description": "Exports an API from Apigee to the local machine a ZIP bundle of config and code files..",
                "operationId": "Get_exportApiProxy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "bundle",
                        "type": "string",
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy revision"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a specific revision of an API.",
                "operationId": "deleteApiProxyRevision_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy revision"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/deployments": {
            "get": {
                "description": "Returns detail on deployments of the API specified.",
                "operationId": "getApiProxyDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_name}/deployments": {
            "get": {
                "description": "Get deployments for a revision of an API proxy.",
                "operationId": "getApiProxyRevisionDeployments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "api_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy name"
                    },
                    {
                        "name": "revision_number",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Proxy revision"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts": {
            "get": {
                "description": "Lists all API products by name for an organization.",
                "operationId": "listApiProduct_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the Organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create an API product: a list of API resources combined with Quota settings that you can use to deliver customized API bundles to your developers.",
                "operationId": "createApiProduct_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the Organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}": {
            "get": {
                "description": "Gets the list of keys/apps/developers for an API product of an organization.",
                "operationId": "getListforApiProduct_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "list",
                        "type": "string",
                        "description": "Query type count."
                    },
                    {
                        "name": "entity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "keys/apps/developers/companies",
                        "type": "string",
                        "description": "Specify the entity."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "apiproduct_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Product name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "This method updates an existing API product.",
                "operationId": "updateApiProduct_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "apiproduct_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Product name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an API product.",
                "operationId": "deleteApiProduct_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "apiproduct_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Product name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/developers": {
            "get": {
                "description": "Gets the developer profile by registered date.",
                "operationId": "getDeveloperforRegisteredDate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "registeredat",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "{register_date}",
                        "type": "string",
                        "description": "Mention the registered date"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a developer in an organization .",
                "operationId": "createDeveloper_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_name}": {
            "get": {
                "description": "Get a count of apps by developer email address.",
                "operationId": "getCountAppforDeveloper_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "count",
                        "type": "string",
                        "description": "Query type count."
                    },
                    {
                        "name": "entity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apps",
                        "type": "string",
                        "description": "Specify the entity."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Update an existing developer profile with new values or additional attributes.",
                "operationId": "updateDeveloper_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Sets the status of a developer.",
                "operationId": "Create_setDeveloperStatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/octet-stream",
                        "type": "string",
                        "description": "Specify Content Type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "{status}",
                        "type": "string",
                        "description": "Set the status."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a developer from an Organization.",
                "operationId": "deleteDeveloper_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps": {
            "get": {
                "description": "Provides an expanded view of a developer's collection of apps .",
                "operationId": "listExpandDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention expand value as true"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates an app associated with a developer.",
                "operationId": "createDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}": {
            "get": {
                "description": "Gets a count of all API resources in the API products accessible by a developer app .",
                "operationId": "getCountApiResourceForApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "count",
                        "type": "string",
                        "description": "Set query value to count."
                    },
                    {
                        "name": "entity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apiresources",
                        "type": "string",
                        "description": "Specify the entity as API resources."
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates the app to get a new set of consumer credentials.",
                "operationId": "updateDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specify the Content Type"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Revokes a Developer App, disabling access to all API Products .",
                "operationId": "Create_revokeDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/octet-stream",
                        "type": "string",
                        "description": "Specify Content Type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "revoke",
                        "type": "string",
                        "description": "Mention action as revoke"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a Developer's App.",
                "operationId": "deleteDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}": {
            "get": {
                "description": "Returns details for a consumer key for a developer app .",
                "operationId": "getSpecificKeyOfDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the Developer Email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "consumer_key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the consumer key"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Revokes a developer app key.",
                "operationId": "Create_revokeSpecificKeyOfDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/octet-stream",
                        "type": "string",
                        "description": "Specify Content Type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "revoke",
                        "type": "string",
                        "description": "Mention action as revoke"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the Developer Email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "consumer_key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the consumer key"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a consumer key that belongs to an app.",
                "operationId": "deleteSpecificKeyOfDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the Developer Email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "consumer_key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the consumer key"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/keys/{consumer_key}/apiproducts/{apiproduct_name}": {
            "post": {
                "description": "Revokes the association of an API Product with a Developer App's consumer key.",
                "operationId": "Create_revokeApiProductofSpecificKeyOfDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/octet-stream",
                        "type": "string",
                        "description": "Specify Content Type."
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "revoke",
                        "type": "string",
                        "description": "Mention action as revoke"
                    },
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "consumer_key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "apiproduct_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Product name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes an API product from a developer app key profile, and thereby renders the developer app unable to access the URIs defined in the API product specified.",
                "operationId": "deleteApiProductofSpecificKeyOfDeveloperApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "consumer_key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    },
                    {
                        "name": "apiproduct_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the API Product name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more."
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/oauth1accesstokens": {
            "get": {
                "description": "Get count of OAuth 1.0 access tokens for a developer's app.",
                "operationId": "getOauth1.0AccessTokenCountforApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "org_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization Name"
                    },
                    {
                        "name": "developer_email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "app_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/organizations/{org_name}/developers/{developer_email}/apps/{app_name}/oauth2accesstokens": {
            "get": {
                "description": "Get count of    OAuth 2.0 access tokens for a developer's app.",
                "operationId": "getOauth2.0AccessTokenCountforApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "organizationName",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the organization name"
                    },
                    {
                        "name": "developerEmail",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the developer email"
                    },
                    {
                        "name": "appName",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mention the app name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RESTful management API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and more.",
                        "schema": {
[...]
