{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Context.IO",
        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.context.io",
    "basePath": "/2.0/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/oauth_providers": {
            "get": {
                "description": "List configured OAuth providers.",
                "operationId": "listOauthProviders_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds a new OAuth provider.",
                "operationId": "addOauthProviders_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "GMAIL",
                            "GOOGLEAPPSMARKETPLACE"
                        ],
                        "type": "integer",
                        "description": "Identification of the OAuth provider. This must be either GMAIL and GOOGLEAPPSMARKETPLACE."
                    },
                    {
                        "name": "provider_consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The OAuth consumer key."
                    },
                    {
                        "name": "provider_consumer_secret",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The OAuth consumer secret."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth_providers/{key}": {
            "get": {
                "description": "Gets information about a given OAuth provider.",
                "operationId": "getOauthProvider_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The consumer key for this external OAuth provider."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes a given OAuth provider.",
                "operationId": "removeOauthProvider_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The consumer key for this external OAuth provider."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
                    }
                }
            }
        },
        "/discovery": {
            "get": {
                "description": "Attempts to discover IMAP settings for a given email address.",
                "operationId": "Get_discoverEmailImapSettings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "source_type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "IMAP"
                        ],
                        "type": "integer",
                        "description": "The type of source you want to discover settings for. Right now, the only supported source type is IMAP."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An email address you want to discover IMAP settings for. Make sure source_type is set to IMAP."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/connect_tokens": {
            "get": {
                "description": "Lists connect tokens created with your API key.",
                "operationId": "listConnectTokens_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Obtains a new connect_token.",
                "operationId": "Create_obtainNewConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callback_url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When the user's mailbox is connected to your API key, the browser will call this url (GET). This call will have a parameter called contextio_token indicating the connect_token related to this callback. You can then do a get on this connect_token to obtain details about the account and source created through that token and save that account id in your own user data."
                    },
                    {
                        "name": "service_level",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "PRO",
                            "BASIC"
                        ],
                        "type": "integer",
                        "description": "Sets the service level of the account's source to be created. Possible values are PRO and BASIC."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The email address of the account to be added. If specified, the first step of the connect UI where users are prompted for their email address, first name and last name is skipped."
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "First name of the account holder."
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Last name of the account holder."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/connect_tokens/{token}": {
            "get": {
                "description": "Gets information about a given connect token.",
                "operationId": "getConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used for the graphical account creation process."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes a given connect token.",
                "operationId": "removeConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used for the graphical account creation process."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
                    }
                }
            }
        },
        "/accounts": {
            "get": {
                "description": "Lists accounts.",
                "operationId": "listAccounts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Only return account associated to this email address."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "INVALID_CREDENTIALS",
                            "CONNECTION_IMPOSSIBLE",
                            "NO_ACCESS_TO_ALL_MAIL",
                            "OK",
                            "TEMP_DISABLED",
                            "DISABLED"
                        ],
                        "type": "integer",
                        "description": "Only return accounts with sources whose status is of a specific value. If an account has many sources, only those matching the given value will be included in the response. Possible statuses are: INVALID_CREDENTIALS, CONNECTION_IMPOSSIBLE, NO_ACCESS_TO_ALL_MAIL, OK, TEMP_DISABLED and DISABLED."
                    },
                    {
                        "name": "status_ok",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 0 to get all accounts with sources that are not working correctly. Set to 1 for the opposite. As for the status filter above, only sources matching the specific value are included in the response."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used for the graphical account creation process."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds a new account.",
                "operationId": "addAccount_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The primary email address of the account holder."
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "First name of the account holder."
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Last name of the account holder."
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used for the graphical account creation process."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}": {
            "get": {
                "description": "Gets details about a given account.",
                "operationId": "getAccount_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Modifies a given account.",
                "operationId": "modifyAccount_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "First name of the account holder."
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Last name of the account holder."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes a given account.",
                "operationId": "removeAccount_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
                    }
                }
            }
        },
        "/accounts/{id}/connect_tokens": {
            "get": {
                "description": "Lists connect tokens created for an account.",
                "operationId": "listAccountConnectTokens_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Obtains a new connect_token for a specific account.",
                "operationId": "Create_obtainNewAccountConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callback_url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When the user's mailbox is connected to your API key, the browser will call this url (GET). This call will have a parameter called contextio_token indicating the connect_token related to this callback. You can then do a get on this connect_token to obtain details about the account and source created through that token and save that account id in your own user data."
                    },
                    {
                        "name": "service_level",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "PRO",
                            "BASIC"
                        ],
                        "type": "integer",
                        "description": "Sets the service level of the account's source to be created. Possible values are PRO and BASIC."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The email address of the account to be added. If specified, the first step of the connect UI where users are prompted for their email address, first name and last name is skipped."
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "First name of the account holder."
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Last name of the account holder."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/connect_tokens/{token}": {
            "get": {
                "description": "Gets information about a given connect token.",
                "operationId": "getAccountConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used to add a second source to an existing account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Remove a given connect token.",
                "operationId": "removeAccountConnectToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique random token used to add a second source to an existing account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
                    }
                }
            }
        },
        "/accounts/{id}/contacts": {
            "get": {
                "description": "Lists contacts in an account.",
                "operationId": "listAccountContacts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String identifying the name or the email address of the contact(s) you are looking for."
                    },
                    {
                        "name": "active_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include contacts included in at least one email dated before a given time. This parameter should be a standard unix timestamp."
                    },
                    {
                        "name": "active_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include contacts included in at least one email dated after a given time. This parameter should be a standard unix timestamp."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/contacts/{email}": {
            "get": {
                "description": "Gets information about a given contact.",
                "operationId": "getAccountContact_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/contacts/{email}/files": {
            "get": {
                "description": "Lists files exchanged with a contact. Returns the latest attachments exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any file attached to an email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
                "operationId": "listAccountContactFiles_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/contacts/{email}/messages": {
            "get": {
                "description": "Lists messages where a contact is present. Returns the latest email messages exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
                "operationId": "listAccountContactMessages_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/contacts/{email}/threads": {
            "get": {
                "description": "Lists threads where a contact is present. Returns the latest email threads exchanged with one or more email addresses. By \"exchanged with Mr. X\" we mean any email received from Mr. X, sent to Mr. X or sent by anyone to both Mr. X and the mailbox owner.",
                "operationId": "listAccountContactThreads_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/email_addresses": {
            "get": {
                "description": "Lists email addresses used by an account.",
                "operationId": "listAccountEmailAddresses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds a new email address as an alias for an account.",
                "operationId": "addAccountEmailAddress_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email_address",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An email address."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/email_addresses/{email}": {
            "post": {
                "description": "Makes this email address the primary one for the account.",
                "operationId": "Create_setAccountEmailAddressAsPrimary_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "primary",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 to make this email address the primary one for the account."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "One of the email addresses associated to the account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes an email address form the aliases of an account.",
                "operationId": "removeAccountEmailAddress_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "One of the email addresses associated to the account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application."
                    }
                }
            }
        },
        "/accounts/{id}/files": {
            "get": {
                "description": "Lists files found as email attachments. List filters: each of the email, to, from, cc and bcc parameters can be set to a comma-separated list of email addresses. These multiple addresses are treated as an OR combination. You can set more than one parameter when doing this call. Multiple parameters are treated as an AND combination.",
                "operationId": "listAccountFiles_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "file_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search for files based on their name. You can filter names using typical shell wildcards such as *, ? and [] or regular expressions by enclosing the search expression in a leading / and trailing /. For example, *.pdf would give you all PDF files while /\\.jpe?g$/ would return all files whose name ends with .jpg or .jpeg."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of the contact for whom you want the latest files exchanged with. By \"exchanged with contact X\" we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner."
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact files have been sent to."
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact files have been received from."
                    },
                    {
                        "name": "cc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact CC'ed on the messages."
                    },
                    {
                        "name": "bcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact BCC'ed on the messages."
                    },
                    {
                        "name": "date_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include files attached to messages sent before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
                    },
                    {
                        "name": "date_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include files attached to messages sent after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
                    },
                    {
                        "name": "indexed_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include files attached to messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
                    },
                    {
                        "name": "indexed_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include files attached to messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
                    },
                    {
                        "name": "group_by_revisions",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "If set to 1, the list will do an intelligent grouping of files to reflect occurrences of the same document. The grouping algorithm is exactly the same as the one used to get file revisions but only the occurrences matching the filters applied to the list will be included in the results."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/files/{fileId}": {
            "get": {
                "description": "Gets information about a given file.",
                "operationId": "getAccountFile_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a file."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/files/{fileId}/changes": {
            "get": {
                "description": "Lists files that can be compared with a given file.",
                "operationId": "listComparableAccountFiles_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a file."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/files/{fileId}/content": {
            "get": {
                "description": "Downloads a given file. Returns the content a given attachment. On-demand data retrieval: since we do not keep full copies of attachments on our servers, the file has to be retrieved from the IMAP server when this call is made. If the IMAP server is unreachable at the time the call is made, this call will return an error.",
                "operationId": "getAccountFileContent_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a file."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/files/{fileId}/related": {
            "get": {
                "description": "Lists other files related to a given file. Returns a list of files that are related to the given file. Currently, relation between files is based on how similar their names are.",
                "operationId": "listAccountFileRelatedFiles_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a file."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/files/{fileId}/revisions": {
            "get": {
                "description": "Lists other revisions of a given file. Returns a list of revisions attached to other emails in the mailbox for a given file. Two files are considered revisions of the same document if their file names are identical outside of revision indicators such as dates, author initials, version numbers and keywords like \"final\" or \"draft\".",
                "operationId": "listAccountFileRevisions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a file."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages": {
            "get": {
                "description": "Lists email messages for an account. List filters: each of the email, to, from, cc and bcc parameters can be set to a comma-separated list of email addresses. These multiple addresses are treated as an OR combination. You can set more than one parameter when doing this call. Multiple parameters are treated as an AND combination.",
                "operationId": "listAccountMessages_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "subject",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Get messages whose subject matches this search string. To use regular expressions instead of simple string matching, make sure the string starts and ends with /."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of the contact for whom you want the latest messages exchanged with. By \"exchanged with contact X\" we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner."
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact messages have been sent to."
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact messages have been received from."
                    },
                    {
                        "name": "cc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact CC'ed on the messages."
                    },
                    {
                        "name": "bcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address of a contact BCC'ed on the messages."
                    },
                    {
                        "name": "folder",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Filter messages by the folder (or Gmail label). This parameter can be the complete folder name with the appropriate hierarchy delimiter for the mail server being queried (eg. Inbox/My folder) or the \"symbolic name\" of the folder (eg. \\Starred). The symbolic name refers to attributes used to refer to special use folders in a language-independant way. See http://code.google.com/apis/gmail/imap/#xlist (Gmail specific) and RFC-6154."
                    },
                    {
                        "name": "date_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include messages before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
                    },
                    {
                        "name": "date_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include messages after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin."
                    },
                    {
                        "name": "indexed_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
                    },
                    {
                        "name": "indexed_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Only include messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message."
                    },
                    {
                        "name": "include_body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 to include message bodies in the result. Since message bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
                    },
                    {
                        "name": "include_headers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Can be set to 0 (default), 1 or raw. If set to 1, complete message headers, parsed into an array, are included in the results. If set to raw, the headers are also included but as a raw unparsed string. Since full original headers bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
                    },
                    {
                        "name": "include_flags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 to include IMAP flags for this message in the result. Since message flags must be retrieved from the IMAP server, expect a performance hit when setting this parameter."
                    },
                    {
                        "name": "body_type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Used when include_body is set to get only body parts of a given MIME-type (i.e. text/html)."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to return."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Start the list at this offset (zero-based)."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}": {
            "get": {
                "description": "Gets the file, contact and other information about a given email message. As specified in the RFC822, the < and > at the beginning and end of the Message-ID are part of the value and should be included if you're putting an email_message_id in the url.",
                "operationId": "getAccountMessage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Copies or moves a message. Allows you to copy or move a message between folders. If there are more than one sources on the account, you can use this call to copy/move the message between these sources. In this case, the dst_label parameter must identify the source you want to message to be copied/moved to.",
                "operationId": "Create_copyMoveAccountMessage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dst_folder",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The folder within dst_source the message should be copied to."
                    },
                    {
                        "name": "dst_source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Label of the source you want the message copied to. This field is required if you're moving a message that already exists in one source of the account to another source of that account. If you only want to move the message to a different folder within the same source, dst_folder is sufficient."
                    },
                    {
                        "name": "move",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "By default, this calls copies the original message in the destination. Set this parameter to 1 to move instead of copy."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}/body": {
            "get": {
                "description": "Fetches the message body of a given email. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message. One thing to point out is we do fetch messages in such a way that large files attached to a message won't make any difference in the response time. This call only returns text portions of messages, attachments aren't included. To get a list of attachments on the message, look for the files property in the response of a message instance. To download the content of these attachments, use the files/content call.",
                "operationId": "getAccountMessageBody_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "GMAIL",
                            "GOOGLEAPPSMARKETPLACE"
                        ],
                        "type": "integer",
                        "description": "Many emails are sent with both rich text and plain text versions in the message body and by default, the response of this call will include both. It is possible to only get either the plain or rich text version by setting the type parameter to text/plain or text/html respectively."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}/source": {
            "get": {
                "description": "Fetches the message source. Returns the raw RFC-822 message source for the message (including attachments) with no parsing or decoding to any portions of the message. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message. Attachments are part of the message source so they will impact how fast this call responds.",
                "operationId": "getAccountMessageSource_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}/flags": {
            "get": {
                "description": "Lists message flags for an account. On-demand data retrieval: to ensure up-to-date values, flags are not cached by Context.IO. This call triggers a connection to the IMAP server to fetch the current message flags before it returns.",
                "operationId": "listAccountMessageFlags_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Sets message flags for a given email.",
                "operationId": "Create_setAccountMessageFlags_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "seen",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Message has been read. Set this parameter to 1 to set the flag, 0 to unset it."
                    },
                    {
                        "name": "answered",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Message has been answered. Set this parameter to 1 to set the flag, 0 to unset it."
                    },
                    {
                        "name": "flagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Message is \"flagged\" for urgent/special attention. Set this parameter to 1 to set the flag, 0 to unset it."
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Message is \"deleted\" for later removal. An alternative way of deleting messages is to move it to the Trash folder. Set this parameter to 1 to set the flag, 0 to unset it."
                    },
                    {
                        "name": "draft",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Message has not completed composition (marked as a draft). Set this parameter to 1 to set the flag, 0 to unset it."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}/headers": {
            "get": {
                "description": "Lists complete headers of a given email message. On-demand data retrieval: since we do not keep full copies of emails on our servers, this call triggers a connection to the IMAP server to fetch the message headers.",
                "operationId": "listAccountMessageHeaders_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/messages/{message_id}/thread": {
            "get": {
                "description": "Gets information about all messages of the thread a given message is in. This returns an array with the same structure as getting information on a single message for every message in the thread.",
                "operationId": "getAccountMessageThread_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    },
                    {
                        "name": "message_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/sources": {
            "get": {
                "description": "Lists IMAP sources assigned for an account.",
                "operationId": "listAccountSources_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "INVALID_CREDENTIALS",
                            "CONNECTION_IMPOSSIBLE",
                            "NO_ACCESS_TO_ALL_MAIL",
                            "OK",
                            "TEMP_DISABLED",
                            "DISABLED"
                        ],
                        "type": "integer",
                        "description": "Only return sources whose status is of a specific value. Possible statuses are: INVALID_CREDENTIALS, CONNECTION_IMPOSSIBLE, NO_ACCESS_TO_ALL_MAIL, OK, TEMP_DISABLED and DISABLED."
                    },
                    {
                        "name": "status_ok",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 0 to get sources that are not working correctly. Set to 1 to get those that are."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique id of an account accessible through your API key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Context.IO is the missing email API that makes it easy and fast to integrate your user's email data in your application.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds an IMAP account to a given account.",
                "operationId": "addAccountSource_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The primary email address used to receive emails in this account."
                    },
                    {
                        "name": "server",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Name of IP of the IMAP server, eg. imap.gmail.com."
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The username used to authentify an IMAP connection. On some servers, this is the same thing as the primary email address."
                    },
                    {
                        "name": "use_ssl",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 if you want SSL encryption to be used when opening connections to the IMAP server. Any other value will be considered as \"do not use SSL\"."
                    },
                    {
                        "name": "port",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Port number to connect to on the server. Keep in mind that most IMAP servers will have one port for standard connection and another one for encrypted connection (see use-ssl parameter above)."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "GMAIL",
                            "GOOGLEAPPSMARKETPLACE"
                        ],
                        "type": "integer",
                        "description": "Currently, the only supported type is IMAP"
                    },
                    {
                        "name": "service_level",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "PRO",
                            "BASIC"
                        ],
                        "type": "integer",
                        "description": "Sets the service level for the source to be created. Possible values are: PRO and BASIC. See our pricing page for more information."
                    },
                    {
                        "name": "sync_period",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1h",
                            "4h",
                            "12h",
                            "24h"
                        ],
                        "default": "24h",
                        "type": "integer",
                        "description": "Sets the period at which the Context.IO index for this source is synced with the origin email account on the IMAP server. Possible values are: 1h, 4h, 12h and 24h (default). Only available on sources with service_level set to PRO."
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Password for authentication on the IMAP server. Ignored if any of the provider_* parameters are set below."
                    },
                    {
                        "name": "provider_token",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An OAuth token obtained from the IMAP account provider to be used to authentify on this email account."
                    },
                    {
                        "name": "provider_token_secret",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An OAuth token secret obtained from the IMAP account provider to be used to authentify on this email account."
                    },
                    {
                        "name": "provider_consumer_key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The OAuth consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see http://context.io/docs/2.0/oauth_providers."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
[...]
