{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "EchoNest",
        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "developer.echonest.com",
    "basePath": "/api/v4/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/artist/biographies": {
            "get": {
                "description": "Get a list of artist biographies.",
                "operationId": "Get_artist.biographies_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "license",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "object"
                        },
                        "description": "The desired licenses of the returned images."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/blogs": {
            "get": {
                "description": "Get a list of blog articles related to an artist.",
                "operationId": "Get_artist.blogs_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "high_relevance",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If true only items that are highly relevant for this artist will be returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/familiarity": {
            "get": {
                "description": "Get our numerical estimation of how familiar an artist currently is to the world.",
                "operationId": "Get_artist.familiarity_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/hotttnesss": {
            "get": {
                "description": "Returns our numerical description of how hottt an artist currently is.",
                "operationId": "Get_artist.hotttnesss_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "overall",
                            "social",
                            "reviews",
                            "mainstream"
                        ],
                        "default": "overall",
                        "type": "string",
                        "description": "Controls the type of hotttnesss that is used."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/images": {
            "get": {
                "description": "Get a list of artist images.",
                "operationId": "Get_artist.images_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "license",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "object"
                        },
                        "description": "The desired licenses of the returned images."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/list_terms": {
            "get": {
                "description": "Get a list of the best typed descriptive terms for use with search.",
                "operationId": "Get_artist.list_terms_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "style",
                            "mood"
                        ],
                        "default": "style",
                        "type": "string",
                        "description": "The type of term that is of interest."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/news": {
            "get": {
                "description": "Get a list of news articles found on the web related to an artist.",
                "operationId": "Get_artist.news_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "high_relevance",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If true only news articles that are highly relevant for this artist will be returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/profile": {
            "get": {
                "description": "Get basic information on an artist: the name, the Echo Nest ID, and the MusicBrainz ID.",
                "operationId": "Get_artist.profile_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/reviews": {
            "get": {
                "description": "Get reviews related to an artist's work.",
                "operationId": "Get_artist.reviews_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/search": {
            "get": {
                "description": "Search artists.",
                "operationId": "Get_artist.search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If 'true', limit the results to any of the given idspaces or catalogs."
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A musical style or genre like rock, jazz, or funky. See the method list_terms for details on what styles are currently available."
                    },
                    {
                        "name": "mood",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A mood like happy or sad. See the method list_terms for details on what moods are currently available."
                    },
                    {
                        "name": "rank_type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "relevance",
                            "familiarity"
                        ],
                        "default": "relevance",
                        "type": "string",
                        "description": "For search by description, style or mood indicates whether results should be ranked by query relevance or by artist familiarity"
                    },
                    {
                        "name": "fuzzy_match",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "If true, a fuzzy search is performed."
                    },
                    {
                        "name": "max_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
                    },
                    {
                        "name": "max_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
                    },
                    {
                        "name": "artist_start_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_start_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Specified the sort order of the results."
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/extract": {
            "get": {
                "description": "Extract artist names from text.",
                "operationId": "Get_artist.extract_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If 'true', limit the results to any of the given idspaces or catalogs."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Text that contains artist names."
                    },
                    {
                        "name": "max_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
                    },
                    {
                        "name": "max_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Specified the sort order of the results."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/songs": {
            "get": {
                "description": "Get a list of songs created by an artist.",
                "operationId": "Get_artist.songs_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/similar": {
            "get": {
                "description": "Return similar artists given one or more artists for comparison.",
                "operationId": "Get_artist.similar_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "min_results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates the minimum number of results to be returned regardless of constraints. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "max_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum familiarity for returned artists (0.0 < familiarity < 1.0). Default: 0.0"
                    },
                    {
                        "name": "max_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 1.0"
                    },
                    {
                        "name": "min_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum hotttnesss for returned artists (0.0 < hotttnesss < 1.0). Default: 0.0"
                    },
                    {
                        "name": "artist_start_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_start_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "reverse",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If true, return artists that are disimilar to the seeds."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If true, limit the results to any of the given idspaces or catalogs."
                    },
                    {
                        "name": "seed_catalog",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Only give similars to those in a catalog or catalogs, An Echo Nest artist catalog identifier. Repeating: up to 5"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/suggest": {
            "get": {
                "description": "Suggest artists based upon partial names.",
                "operationId": "Get_artist.suggest_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 10.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/terms": {
            "get": {
                "description": "Get a list of most descriptive terms for an artist.",
                "operationId": "Get_artist.terms_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "weight",
                            "frequency"
                        ],
                        "default": "frequency",
                        "type": "string",
                        "description": "Sort terms based upon weight or frequency."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/top_hottt": {
            "get": {
                "description": "Return a list of the top hottt artists.",
                "operationId": "Get_artist.top_hottt_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned with each artist. Bucket:\nbiographies: returns up to the 15 most recent biographies found on the web related to the artist\nblogs: returns up to the 15 most recent blogs found on the web related to the artist\ndoc_counts(beta): returns document counts for each of the various artist document types\nfamiliarity: returns the familiarity for the artist\nhotttnesss: returns the hotttnesss for the artist\nimages: returns up to the 15 most recent images found on the web related to the artist\nnews: returns up to the 15 most recent news articles found on the web related to the artist\nreviews: returns up to the 15 most recent reviews found on the web related to the artist\nsongs(beta): returns up to the 15 hotttest songs for the artist\nurls: returns links to this artist's pages on various sites\nvideo: returns up to the 15 most recent videos found on the web related to the artist\nyears_active(beta): returns years active information for the artist\nid:rosetta-catalog: returns catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Taste-Profile-ID: returns personal catalog specific information about the artist for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If true artists will be limited to those that appear in any of the catalogs specified by the id: bucket."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/top_terms": {
            "get": {
                "description": "Returns a list of the overall top terms.",
                "operationId": "Get_artist.top_terms_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/twitter": {
            "get": {
                "description": "Gets the twitter handle for an artist.",
                "operationId": "Get_artist.twitter_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/urls": {
            "get": {
                "description": "Get links to the artist's official site, MusicBrainz site, MySpace site, Wikipedia article, Amazon list, and iTunes page.",
                "operationId": "Get_artist.urls_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/artist/video": {
            "get": {
                "description": "Get a list of video documents found on the web related to an artist.",
                "operationId": "Get_artist.video_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "jsonp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the response."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback function for JSONP requests. Required if format is jsonp."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/song/search": {
            "get": {
                "description": "Search for songs given different query types.",
                "operationId": "Get_song.search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the results."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The title of the song."
                    },
                    {
                        "name": "artist",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of the primary artist."
                    },
                    {
                        "name": "combined",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Query both artist and title fields."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A description of the artist."
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A musical style or genre like rock, jazz, or funky."
                    },
                    {
                        "name": "mood",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A mood like happy or sad."
                    },
                    {
                        "name": "rank_type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "relevance",
                            "familiarity"
                        ],
                        "default": "relevance",
                        "type": "string",
                        "description": "For search by description, style or mood indicates whether results should be ranked by query relevance or by artist familiarity"
                    },
                    {
                        "name": "artist_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The artist ID. An Echo Nest ID or a Rosetta ID (See http://developer.echonest.com/docs/v4/index.html#rosetta)."
                    },
                    {
                        "name": "results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results desired. 0 < results < 100"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 15.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The desired index of the first result returned."
                    },
                    {
                        "name": "max_tempo",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 500.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum tempo for the song. 0.0 < tempo < 500.0 (BPM)"
                    },
                    {
                        "name": "min_tempo",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimun tempo for the song. 0.0 < tempo < 500.0 (BPM)"
                    },
                    {
                        "name": "max_duration",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 3600.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum duration of any song. 0.0 < duration < 3600.0 (seconds)"
                    },
                    {
                        "name": "min_duration",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimun duration of any song. 0.0 < duration < 3600.0 (seconds)"
                    },
                    {
                        "name": "max_loudness",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum loudness of any song. -100.0 < loudness < 100.0 (dB)"
                    },
                    {
                        "name": "min_loudness",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": -100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum loudness of any song. -100.0 < loudness < 100.0 (dB)"
                    },
                    {
                        "name": "artist_max_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum familiarity of any song. 0.0 < familiarity < 1.0"
                    },
                    {
                        "name": "artist_min_familiarity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum familiarity of any song. 0.0 < familiarity < 1.0"
                    },
                    {
                        "name": "artist_start_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_start_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have an earliest start year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_before",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year before the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "artist_end_year_after",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Matches artists that have a latest end year after the given value. Examples: 1970, 2011, present"
                    },
                    {
                        "name": "song_max_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum hotttnesss of any song. 0.0 < hotttnesss < 1.0"
                    },
                    {
                        "name": "song_min_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum hotttnesss of any song. 0.0 < hotttnesss < 1.0"
                    },
                    {
                        "name": "artist_max_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum hotttnesss of any song's artist. 0.0 < hotttnesss < 1.0"
                    },
                    {
                        "name": "artist_min_hotttnesss",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum hotttnesss of any song's artist. 0.0 < hotttnesss < 1.0"
                    },
                    {
                        "name": "max_longitude",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 180.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum longitude of the primary artist location. -180.0 < longitude < 180.0"
                    },
                    {
                        "name": "min_longitude",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": -180.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum longitude of the primary artist location. -180.0 < longitude < 180.0"
                    },
                    {
                        "name": "max_latitude",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 90.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum latitude of the primary artist location. -90.0 < latitude < 90.0"
                    },
                    {
                        "name": "min_latitude",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": -90.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum latitude of the primary artist location. -90.0 < latitude < 90.0"
                    },
                    {
                        "name": "max_danceability",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum danceability of any song. 0.0 < danceability < 1.0"
                    },
                    {
                        "name": "min_danceability",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum danceability of any song. 0.0 < danceability < 1.0"
                    },
                    {
                        "name": "max_energy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum energy of any song. 0.0 < energy < 1.0"
                    },
                    {
                        "name": "min_energy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum energy of any song. 0.0 < energy < 1.0"
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "Value_0",
                            "Value_1"
                        ],
                        "type": "integer",
                        "description": "The mode of songs. (minor, major) 0, 1"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "Value_0",
                            "Value_1",
                            "Value_2",
                            "Value_3",
                            "Value_4",
                            "Value_5",
                            "Value_6",
                            "Value_7",
                            "Value_8",
                            "Value_8",
                            "Value_9",
                            "Value_10",
                            "Value_11"
                        ],
                        "type": "integer",
                        "description": "The key of songs in the playlist. (c, c-sharp, d, e-flat, e, f, f-sharp, g, a-flat, a, b-flat, b) 0 - 11"
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned for each song. If specifying the \"tracks\" bucket, a bucket with an id space must also be specified. See http://developer.echonest.com/docs/v4/index.html#rosetta for details on retrieving information associated with a particular catalog. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Indicates how the songs results should be ordered."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If 'true', limit the results to any of the given idspaces or catalogs."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/song/profile": {
            "get": {
                "description": "Get info about songs given a list of ids.",
                "operationId": "Get_song.profile_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "The format of the results."
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Indicates what data should be returned for each song. If specifying the \"tracks\" bucket, a bucket with an id space must also be specified. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "If 'true', limit the results to any of the given idspaces or catalogs."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/song/identify": {
            "get": {
                "description": "Identifies a song given an Echoprint or Echo Nest Musical Fingerprint hash codes.",
                "operationId": "Get_song.identify.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FP hashcodes for the track."
                    },
                    {
                        "name": "artist",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of the artist from the ID3 tag."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The title of the track from the ID3 tag."
                    },
                    {
                        "name": "release",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The title of the album/release from the ID3 tag."
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The length of time of the track, in seconds."
                    },
                    {
                        "name": "genre",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The genre from the ID3 tag."
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Version of codegen used to generate the code. Currently supported versions are 3.15 for ENMFP and 4.11 for Echoprint. If not specified, version 3.15 is used. See the section below on Echo Nest Fingerprinting systems to determine which fingerprinting system is best for you."
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "Array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Specifies which information should be returned for each matching song. Bucket:\naudio_summary: returns summary audio parameters for the song\nartist_familiarity: returns the familiarity for the song's artist\nartist_hotttnesss: returns the hotttnesss for the song's artist\nartist_location: returns information about the location of origin for the song's artist\nsong_hotttnesss: returns the hotttnesss of the song\ntracks: returns detailed track information for the song. You must also specify a Rosetta id space such as 7digital-US.\nid:rosetta-catalog: returns catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details.\nid:Personal-Catalog-ID: returns personal catalog specific information about the song for the given catalog. See http://developer.echonest.com/docs/v4/index.html#rosetta for details."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gain access to billions of data points about music, including artist info, taste profiles, playlists and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Identifies a song given an Echoprint or Echo Nest Musical Fingerprint hash codes. Request with Content-Type \"multipart/form-data\" where all parameters are in the post body and the query is in the \"query\" parameter of the post \"files\".",
                "operationId": "Create_song.identify.post.query_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
[...]
