{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Etsy",
        "description": "Bring Etsy's handmade marketplace and community into your apps.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "openapi.etsy.com",
    "basePath": "/v2/private/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/countries/{country_id}": {
            "get": {
                "description": "Retrieves a Country by id.",
                "operationId": "getCountry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "description": "Finds all Country.",
                "operationId": "findAllCountry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/favorites/listings": {
            "get": {
                "description": "Finds all favorite listings for a user",
                "operationId": "findAllUserFavoriteListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/favorites/listings/{listing_id}": {
            "get": {
                "description": "Finds a favorite listing for a user",
                "operationId": "findUserFavoriteListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new favorite listing for a user",
                "operationId": "createUserFavoriteListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a favorite listing for a user",
                "operationId": "deleteUserFavoriteListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/users/{user_id}/favorites/users": {
            "get": {
                "description": "Finds all favorite users for a user",
                "operationId": "findAllUserFavoriteUsers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/favorites/users/{target_user_id}": {
            "get": {
                "description": "Finds a favorite user for a user",
                "operationId": "findUserFavoriteUsers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "target_user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new favorite listing for a user",
                "operationId": "createUserFavoriteUsers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "target_user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a favorite listing for a user",
                "operationId": "deleteUserFavoriteUsers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "target_user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/homepages/pickers/": {
            "get": {
                "description": "Finds all FeaturedListingPicker in scope active.",
                "operationId": "findAllFeaturedListingPickerActive_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/pickers/{featured_listing_picker_id}": {
            "get": {
                "description": "Retrieves a FeaturedListingPicker by id.",
                "operationId": "getFeaturedListingPicker_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_picker_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/pickers/{featured_listing_picker_id}/featured": {
            "get": {
                "description": "Retrieves a set of FeaturedListing objects associated to a FeaturedListingPicker.",
                "operationId": "findAllFeaturedListingPickerFeatured_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_picker_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/pickers/{featured_listing_picker_id}/listings": {
            "get": {
                "description": "Retrieves a set of Listing objects associated to a FeaturedListingPicker.",
                "operationId": "findAllFeaturedListingPickerListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_picker_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/pickers/{featured_listing_picker_id}/listings/active": {
            "get": {
                "description": "Retrieves a set of Listing objects associated to a FeaturedListingPicker in scope active.",
                "operationId": "findAllFeaturedListingPickerListingsActive_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_picker_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/listings/": {
            "get": {
                "description": "Finds all FeaturedListings regardless of Listing state",
                "operationId": "findAllFeaturedListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/listings/active": {
            "get": {
                "description": "Finds all FeaturedListings that point to active Listings",
                "operationId": "findAllFeaturedListingActive_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/listings/{featured_listing_id}": {
            "get": {
                "description": "Retrieves a FeaturedListing by id.",
                "operationId": "getFeaturedListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/listings/{featured_listing_id}/picker": {
            "get": {
                "description": "Retrieves a set of FeaturedListingPicker objects associated to a FeaturedListing.",
                "operationId": "getFeaturedListingAssociatedPicker_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/homepages/listings/{featured_listing_id}/listing": {
            "get": {
                "description": "Retrieves a set of Listing objects associated to a FeaturedListing.",
                "operationId": "getFeaturedListingListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "featured_listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings/{listing_id}/images/{listing_image_id}": {
            "get": {
                "description": "Retrieves a ListingImage by id.",
                "operationId": "getListingImage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a listing image",
                "operationId": "deleteListingImage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/listings/{listing_id}/images": {
            "get": {
                "description": "Retrieves a set of ListingImage objects associated to a Listing.",
                "operationId": "findAllListingImages_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Upload a new listing image",
                "operationId": "uploadListingImage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "image",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings/{listing_id}": {
            "get": {
                "description": "Retrieves a Listing by id.",
                "operationId": "getListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a Listing",
                "operationId": "updateListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "quantity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "materials",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "renew",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shipping_template_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shop_section_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "default": "active",
                        "type": "integer",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a Listing",
                "operationId": "deleteListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/listings/{listing_id}/favored-by": {
            "get": {
                "description": "Retrieves a set of FavoriteListing objects associated to a Listing.",
                "operationId": "findAllListingFavoredBy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings/{listing_id}/shipping/info": {
            "get": {
                "description": "Retrieves a set of ShippingInfo objects associated to a Listing.",
                "operationId": "findAllListingShippingInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new ShippingInfo.",
                "operationId": "createShippingInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "origin_country_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "destination_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "primary_cost",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "secondary_cost",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "region_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings/{listing_id}/payments": {
            "get": {
                "description": "Retrieves a set of ListingPayment objects associated to a Listing.",
                "operationId": "getListingPaymentInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings/active": {
            "get": {
                "description": "Finds all active Listing",
                "operationId": "findAllListingActive_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "sort_on",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "created",
                            "price",
                            "score"
                        ],
                        "default": "created",
                        "type": "integer",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "up",
                            "down"
                        ],
                        "default": "down",
                        "type": "integer",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "color_accuracy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "0",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "materials",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/shops/{shop_id}/listings/active": {
            "get": {
                "description": "Finds all active Listings associated with a Shop",
                "operationId": "findAllShopListingsActive_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shop_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "sort_on",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "created",
                            "price",
                            "score"
                        ],
                        "default": "created",
                        "type": "integer",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "up",
                            "down"
                        ],
                        "default": "down",
                        "type": "integer",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "color_accuracy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "0",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "materials",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/listings": {
            "post": {
                "description": "Creates a new Listing",
                "operationId": "createListing_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "quantity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "materials",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shipping_template_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shop_section_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/orders/{order_id}": {
            "get": {
                "description": "Retrieves a Order by id.",
                "operationId": "getOrder_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/orders/{order_id}/receipts": {
            "get": {
                "description": "Retrieves a set of Receipt objects associated to a Order.",
                "operationId": "findAllOrderReceipts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/receipts/{receipt_id}": {
            "get": {
                "description": "Retrieves a Receipt by id.",
                "operationId": "getReceipt_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "receipt_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a Receipt",
                "operationId": "updateReceipt_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "receipt_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "was_paid",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "was_shipped",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "message_from_seller",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "message_from_buyer",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/receipts/{receipt_id}/transactions": {
            "get": {
                "description": "Retrieves a set of Transaction objects associated to a Receipt.",
                "operationId": "findAllReceiptTransactions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "receipt_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/recommended_listings": {
            "get": {
                "description": "Get recommended listings for an authenticated member. The number of listings returned may not match the specified limit if there is no activity from recommended shops.",
                "operationId": "getRecommendedListings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 25.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "excluded_listing_ids",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/recommended_listings/rejects/{listing_ids}": {
            "post": {
                "description": "Registers rejections of recommended listings. Affects future recommended listings.",
                "operationId": "Create_registerRecommendedListingRejects_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/recommended_listings/views/{listing_ids}": {
            "post": {
                "description": "Register viewings of recommended listings. Affects future recommended listings.",
                "operationId": "Create_registerRecommendedListingViews_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "__SELF__",
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/regions/{region_id}": {
            "get": {
                "description": "Retrieves a Region by id.",
                "operationId": "getRegion_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "region_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "description": "Finds all Region.",
                "operationId": "findAllRegion_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/shipping/info/{shipping_info_id}": {
            "get": {
                "description": "Retrieves a ShippingInfo by id.",
                "operationId": "getShippingInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_info_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a ShippingInfo with the given id.",
                "operationId": "updateShippingInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "origin_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "destination_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "primary_cost",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "secondary_cost",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "listing_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "region_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shipping_info_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the ShippingInfo with the given id.",
                "operationId": "deleteShippingInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_info_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/shipping/templates/entries/{shipping_template_entry_id}": {
            "get": {
                "description": "Retrieves a ShippingTemplateEntry by id.",
                "operationId": "getShippingTemplateEntry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_entry_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a ShippingTemplateEntry",
                "operationId": "updateShippingTemplateEntry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "destination_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "primary_cost",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "secondary_cost",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shipping_template_entry_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a ShippingTemplateEntry",
                "operationId": "deleteShippingTemplateEntry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_entry_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/shipping/templates/entries": {
            "post": {
                "description": "Creates a new ShippingTemplateEntry",
                "operationId": "createShippingTemplateEntry_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "destination_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "primary_cost",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "secondary_cost",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "number",
                        "format": "double",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "destination_region_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/shipping/templates/{shipping_template_id}": {
            "get": {
                "description": "Retrieves a ShippingTemplate by id.",
                "operationId": "getShippingTemplate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a ShippingTemplate",
                "operationId": "updateShippingTemplate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "origin_country_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    },
                    {
                        "name": "shipping_template_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the ShippingTemplate with the given id.",
                "operationId": "deleteShippingTemplate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bring Etsy's handmade marketplace and community into your apps."
                    }
                }
            }
        },
        "/shipping/templates/{shipping_template_id}/entries": {
            "get": {
                "description": "Retrieves a set of ShippingTemplateEntry objects associated to a ShippingTemplate.",
                "operationId": "findAllShippingTemplateEntries_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shipping_template_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
[...]
