{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Facebook",
        "description": "Connect to the social network with the Graph API.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "graph.facebook.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/search": {
            "get": {
                "description": "Search over all public objects in the social graph",
                "operationId": "search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "The search string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "post",
                            "user",
                            "page",
                            "event",
                            "group",
                            "checkin"
                        ],
                        "default": "post",
                        "type": "integer",
                        "description": "Supports these types of objects: All public posts (post), people (user), pages (page), events\n                                                        (event), groups (group), check-ins (checkin)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{album}": {
            "get": {
                "description": "A photo album",
                "operationId": "getalbum_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{album}/photos": {
            "get": {
                "description": "The photos contained in this album",
                "operationId": "getalbumphotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds a photo to the album",
                "operationId": "postalbumphotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Photo description"
                    },
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{album}/likes": {
            "get": {
                "description": "The likes made on this album",
                "operationId": "getalbumlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Likes the album",
                "operationId": "postalbumlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unlikes the album",
                "operationId": "deletealbumlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{album}/comments": {
            "get": {
                "description": "The comments made on this album",
                "operationId": "getalbumcomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a comment on the album",
                "operationId": "postalbumcomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comment text"
                    },
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{album}/picture": {
            "get": {
                "description": "The album's cover photo; the first picture uploaded to an album becomes the cover photo for the album.",
                "operationId": "getalbumpicture_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "post",
                            "user",
                            "page",
                            "event",
                            "group",
                            "checkin"
                        ],
                        "default": "small",
                        "type": "integer",
                        "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                                                        variable height)"
                    },
                    {
                        "name": "album",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "99394368305",
                        "type": "string",
                        "description": "Represents the ID of the album object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}": {
            "get": {
                "description": "An application's profile",
                "operationId": "getapplication_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/accounts": {
            "get": {
                "description": "Test User accounts associated with the application.",
                "operationId": "getapplicationaccounts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/accounts/test-users": {
            "post": {
                "description": "Creates a test account for the application",
                "operationId": "postapplicationaccounts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "installed",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Install app for the test user upon creation"
                    },
                    {
                        "name": "permissions",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "List of extended permissions app granted for the new test user if installed is true"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A name for the test user. The specified name will also be used in the email address assigned to the test user."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/albums": {
            "get": {
                "description": "The photo albums this application has created.",
                "operationId": "getapplicationalbums_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/feed": {
            "get": {
                "description": "The application's wall.",
                "operationId": "getapplicationfeed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a status message on the application's profile page",
                "operationId": "postapplicationfeedstatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Status Message content"
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/insights": {
            "get": {
                "description": "Usage metrics for this application",
                "operationId": "getapplicationinsights_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/links": {
            "get": {
                "description": "The application's posted links.",
                "operationId": "getapplicationlinks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a link on the application's profile page",
                "operationId": "postapplicationlinks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Link URL"
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Link message"
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/picture": {
            "get": {
                "description": "The application's logo",
                "operationId": "getapplicationpicture_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "post",
                            "user",
                            "page",
                            "event",
                            "group",
                            "checkin"
                        ],
                        "default": "small",
                        "type": "integer",
                        "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                                                        variable height)"
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/posts": {
            "get": {
                "description": "The application's own posts.",
                "operationId": "getapplicationposts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/reviews": {
            "get": {
                "description": "Reviews of this application",
                "operationId": "getapplicationreviews_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/staticresources": {
            "get": {
                "description": "Usage stats about the canvas application's static resources, such as javascript and CSS, and which ones are being flushed to browsers early.",
                "operationId": "getapplicationstaticresources_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/statuses": {
            "get": {
                "description": "The application's status updates",
                "operationId": "getapplicationstatuses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a status message on the application's profile page",
                "operationId": "postapplicationstatuses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Status Message content"
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/subscriptions": {
            "get": {
                "description": "All of the subscriptions this application has for real-time notifications.",
                "operationId": "getapplicationsubscriptions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds a real-time notification subscription for this application.",
                "operationId": "postapplicationsubscriptions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "object",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Object to monitor - `user`, `permissions`, or `page`."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "List of properties for the `object` to monitor."
                    },
                    {
                        "name": "callback_url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A callback URL to which Facebook will post subscription updates."
                    },
                    {
                        "name": "verify_token",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Token sent in the verification request."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a real-time notification subscription for this application.",
                "operationId": "deleteapplicationsubscriptions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "object",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Object to monitor - `user`, `permissions`, or `page`. If no object is specified all subscriptions are deleted."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{application}/tagged": {
            "get": {
                "description": "The photos, videos, and posts in which this application has been tagged.",
                "operationId": "getapplicationtagged_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{application}/translations": {
            "get": {
                "description": "The translated strings for this application.",
                "operationId": "getapplicationtranslations_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads translated strings for this application.",
                "operationId": "postapplicationtranslations_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "native_strings",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A JSON-encoded array of strings to translate. Each element of the string array is an object, with text storing the actual string, description storing the description of the text."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a translation string for this application.",
                "operationId": "deleteapplicationtranslations_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "native_hashes",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An array of native hashes. The native hash is a unique identifier of the native string and a description and is generated by the Translations application."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{application}/scores": {
            "get": {
                "description": "Scores for the user and their friends.",
                "operationId": "getapplicationscores_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes all the scores for the application.",
                "operationId": "deleteapplicationscores_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{application}/achievements": {
            "post": {
                "description": "Registers an achievement for the application",
                "operationId": "postapplicationachievements_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "achievement",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique URL to the achievement."
                    },
                    {
                        "name": "display_order",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Order of this achievement as it shows up in the achievement stories UI (low to high). For example a display order of 100 will be displayed in the UI before 200. We use this value to surface achievements according to the order the developer has specified. Please make sure this value is unique and increments in the correct order for your achievements."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unregisters an achievement for the application",
                "operationId": "deleteapplicationachievements_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "achievement",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unique URL to the achievement."
                    },
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2439131959",
                        "type": "string",
                        "description": "Represents the ID of the application object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{checkin}": {
            "get": {
                "description": "Represents a single visit by a user to a location",
                "operationId": "getcheckin_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{checkin}/comments": {
            "get": {
                "description": "All of the comments on this checkin.",
                "operationId": "getcheckincomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a comment to this checkin.",
                "operationId": "postcheckincomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comment text"
                    },
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{checkin}/likes": {
            "get": {
                "description": "Users who like this checkin.",
                "operationId": "getcheckinlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Likes this checkin.",
                "operationId": "postcheckinlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unlikes this checkin.",
                "operationId": "deletecheckinlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "checkin",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the checkin object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{comment}": {
            "get": {
                "description": "Returns a comment",
                "operationId": "getcomment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "19292868552_475058873552_14173716",
                        "type": "string",
                        "description": "Represents the ID of the comment object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a comment",
                "operationId": "deletecomment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "19292868552_475058873552_14173716",
                        "type": "string",
                        "description": "Represents the ID of the comment object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{comment}/likes": {
            "get": {
                "description": "All the likes on this comment",
                "operationId": "getcommentlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "19292868552_475058873552_14173716",
                        "type": "string",
                        "description": "Represents the ID of the comment object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Likes the comment",
                "operationId": "postcommentlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "19292868552_475058873552_14173716",
                        "type": "string",
                        "description": "Represents the ID of the comment object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unlikes the comment",
                "operationId": "deletecommentlikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "19292868552_475058873552_14173716",
                        "type": "string",
                        "description": "Represents the ID of the comment object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{event}": {
            "get": {
                "description": "Specifies information about an event, including the location, event name, and which invitees plan to attend.",
                "operationId": "getevent_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/feed": {
            "get": {
                "description": "This event's wall",
                "operationId": "geteventfeed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a status message on this event's wall",
                "operationId": "posteventfeedstatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Status Message content"
                    },
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/noreply": {
            "get": {
                "description": "All of the users who have been not yet responded to their invitation to this event",
                "operationId": "geteventnoreply_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/maybe": {
            "get": {
                "description": "All of the users who have been responded \"Maybe\" to their invitation to this event",
                "operationId": "geteventmaybe_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "RSVPs the user as a 'maybe' for the event",
                "operationId": "posteventmaybe_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/invited": {
            "get": {
                "description": "All of the users who have been invited to this event",
                "operationId": "geteventinvited_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/attending": {
            "get": {
                "description": "All of the users who are attending this event",
                "operationId": "geteventattending_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "RSVPs the user as 'attending' for the event",
                "operationId": "posteventattending_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/declined": {
            "get": {
                "description": "All of the users who declined their invitation to this event",
                "operationId": "geteventdeclined_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "RSVPs the user as 'declined' for the event",
                "operationId": "posteventdeclined_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{event}/picture": {
            "get": {
                "description": "The event's profile picture",
                "operationId": "geteventpicture_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "post",
                            "user",
                            "page",
                            "event",
                            "group",
                            "checkin"
                        ],
                        "default": "small",
                        "type": "integer",
                        "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                                                        variable height)"
                    },
                    {
                        "name": "event",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "331218348435",
                        "type": "string",
                        "description": "Represents the ID of the event object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{friendlist}": {
            "get": {
                "description": "A Facebook friend list. This object represents the list itself and not the members of the list.",
                "operationId": "getfriendlist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "friendlist",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the FriendList object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the FriendList.",
                "operationId": "deletefriendlist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "friendlist",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the FriendList object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{friendlist}/members": {
            "get": {
                "description": "All of the users who are members of this list.",
                "operationId": "getfriendlistmembers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "friendlist",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the FriendList object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{friendlist}/members/{user}": {
            "post": {
                "description": "Adds a user to the friend list",
                "operationId": "postfriendlistmembersuser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "friendlist",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the FriendList object."
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the User to add to or remove from the friend list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes a user from the friend list",
                "operationId": "deletefriendlistmembersuser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "friendlist",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the FriendList object."
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the ID of the User to add to or remove from the friend list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{group}": {
            "get": {
                "description": "A Facebook group",
                "operationId": "getgroup_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{group}/feed": {
            "get": {
                "description": "This group's wall",
                "operationId": "getgroupfeed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a status message on this group's wall",
                "operationId": "postgroupfeedstatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Status Message content"
                    },
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{group}/members": {
            "get": {
                "description": "All of the users who are members of this group",
                "operationId": "getgroupmembers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{group}/picture": {
            "get": {
                "description": "The profile picture of this group",
                "operationId": "getgrouppicture_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "post",
                            "user",
                            "page",
                            "event",
                            "group",
                            "checkin"
                        ],
                        "default": "small",
                        "type": "integer",
                        "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                                                        variable height)"
                    },
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{group}/docs": {
            "get": {
                "description": "The docs in this group",
                "operationId": "getgroupdocs_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "2204501798",
                        "type": "string",
                        "description": "Represents the ID of the group object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{link}": {
            "get": {
                "description": "A link shared on a user's wall",
                "operationId": "getlink_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{link}/comments": {
            "get": {
                "description": "All of the comments on this link.",
                "operationId": "getlinkcomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a comment to this link.",
                "operationId": "postlinkcomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comment text"
                    },
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{link}/likes": {
            "get": {
                "description": "Users who like this link.",
                "operationId": "getlinklikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Likes this link.",
                "operationId": "postlinklikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unlikes this link.",
                "operationId": "deletelinklikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "114961875194024",
                        "type": "string",
                        "description": "Represents the ID of the link object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{note}": {
            "get": {
                "description": "A Facebook note",
                "operationId": "getnote_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{note}/comments": {
            "get": {
                "description": "All of the comments on this note.",
                "operationId": "getnotecomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a comment to this note.",
                "operationId": "postnotecomments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comment text"
                    },
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{note}/likes": {
            "get": {
                "description": "Users who like this note.",
                "operationId": "getnotelikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Likes this note.",
                "operationId": "postnotelikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unlikes this note.",
                "operationId": "deletenotelikes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "note",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "122788341354",
                        "type": "string",
                        "description": "Represents the ID of the note object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API."
                    }
                }
            }
        },
        "/{page}": {
            "get": {
                "description": "Returns a Page",
                "operationId": "getpage_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "platform",
                        "type": "string",
                        "description": "Represents the ID of the page object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{page}/feed": {
            "get": {
                "description": "This page's wall",
                "operationId": "getpagefeed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "platform",
                        "type": "string",
                        "description": "Represents the ID of the page object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connect to the social network with the Graph API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a status message on this page's wall",
                "operationId": "postpagefeedstatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "message",
[...]
