{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Factual",
        "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.v3.factual.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/t/{table_name}/schema": {
            "get": {
                "description": "Returns the schema for a Factual table view. The schema includes:\n- Table view meta-data: Name, description, view id, list of fields schema version, and whether or not the table is geo and/or full-text searchable.\n- Field meta-data (for each field): name, optional aliase(s), datatype, whether the field is full-text-searchable.",
                "operationId": "Get_schema_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "restaurants-us",
                        "type": "string",
                        "description": "The table (or view) name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/t/{table_name}": {
            "get": {
                "description": "Reads rows of data from the specified table. Read requests may optionally include row filters, geo filters, and full-text-search filters as well offset/limit filters that can be used for paging. Specify any combination of full-text-search (q), geo, or row filters. Offset and limit are supported for paging. If you require a count of the total rows fitting our query, and don't mind incurring the performance cost, specify include_count=true. NOTE: If the filters, geo, or q parameters are declared and you pass a null value for any of those parameters your request will proceed as if those parameters were not passed at all.",
                "operationId": "Get_read_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "places",
                        "type": "string",
                        "description": "The table (or view) name."
                    },
                    {
                        "name": "filters",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "{\"last_name\":\"Smith\"}",
                        "type": "string",
                        "description": "Restrict the data returned to conform to specific conditions, e.g., \"parametric search\". Documentation on filters is here: http://developer.factual.com/api-docs/#row-filters."
                    },
                    {
                        "name": "include_count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Include a count of the total number of rows in the dataset that conform to the request based on included filters. Requesting the row count will increase the time required to return a response. The default behavior is to NOT include a row count."
                    },
                    {
                        "name": "geo",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "{\"$circle\":{\"$center\":[35.001,-18.221],\"$meters\":5000}}",
                        "type": "string",
                        "description": "For tables with latitude/longitude data, restrict data to be returned to be within a geographical range based. Documentation on filters is here: http://developer.factual.com/api-docs/#geo-filter. Maximum value for $meters is 20000."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of rows to return. Default is 20. The system maximum is 50. For higher limits please contact Factual, however consider requesting a download (http://www.factual.com/devtools/downloads) of the data if your use case is requesting more data in a single query than is required to fulfill a single end-user's request."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "Coffee,Tea",
                        "type": "string",
                        "description": "Full text search query string. Documentation for search filters are here: http://developer.factual.com/api-docs/full-text-search."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of rows to skip before returning a page of data. Maximum value is 500 minus any value provided under limit. Default is 0."
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "*",
                        "type": "string",
                        "description": "What fields to include in the query.    Note that the order of fields will not necessarily be preserved in the resulting JSON response due to the nature of JSON hashes."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "name:asc",
                        "type": "string",
                        "description": "The field (or secondary fields) to sort data on, as well as the direction of sort. Supports $distance as a sort option if a geo-filter is specified. Supports $relevance as a sort option if a full text search is specified either using the q parameter or using the $search operator in the filter parameter.    By default, any query with a full text search will be sorted by relevance.    Any query with a geo filter will be sorted by distance from the reference point.    If both a geo filter and full text search are present, the default will be relevance followed by distance."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/t/{table_name}/{factual_id}": {
            "get": {
                "description": "Read all of the details for a single business listing.",
                "operationId": "Get_readrow_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "places",
                        "type": "string",
                        "description": "The table (or view) name."
                    },
                    {
                        "name": "factual_id",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The factual ID of the business."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/t/{table_name}/facets": {
            "get": {
                "description": "Returns row counts for Factual tables, grouped by facets of the data.    For example, you may want to query all businesses within 1 mile of a location and for a count of those businesses by category. Not all fields are configured to return facet counts.    To determine what fields you can return facets for, use the schema call.    The faceted attribute of the schema will let you know. The facet API call is virtually identical to the read API call, except that it returns row counts (by facet) rather than rows of data.",
                "operationId": "Get_facets_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "restaurants-us",
                        "type": "string",
                        "description": "The table (or view) name."
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "locality,region",
                        "type": "string",
                        "description": "The fields to return faceted counts for."
                    },
                    {
                        "name": "filters",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "{\"last_name\":\"Smith\"}",
                        "type": "string",
                        "description": "Restrict the data returned to conform to specific conditions, e.g., \"parametric search\". Documentation on filters is here: http://developer.factual.com/api-docs/#row-filters."
                    },
                    {
                        "name": "geo",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "{\"$circle\":{\"$center\":[35.001,-18.221],\"$meters\":5000}}",
                        "type": "string",
                        "description": "Restrict data to be returned to be within a geographical range based. Documentation on geo filters is here: http://developer.factual.com/api-docs/#geo-filters."
                    },
                    {
                        "name": "include_count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Include a count of the total number of row counts returned. Requesting the row count will increase the time required to return a response. The default behavior is to NOT include a row count."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of facet counts to return in the response. Default is 20. Max is 50."
                    },
                    {
                        "name": "min_count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "For each facet count, the minimum count it must show in order to be returned in the response. Must be zero or greater. The default is 1."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "Coffee,Tea",
                        "type": "string",
                        "description": "Full text search query string. Documentation for search filters are here: http://developer.factual.com/api-docs/#full-text-search."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factual is an open data platform for application developers that leverages large-scale data aggregation and community exchange.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}