{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Flickr",
        "description": "Explore, upload and organize photos on Flickr",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.flickr.com",
    "basePath": "/services/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/upload": {
            "post": {
                "description": "Uploads a photo. Uploading apps can call the flickr.people.getUploadStatus method in the regular API to obtain file and bandwidth limits for the user.",
                "operationId": "upload_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The title of the photo. Optional."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A description of the photo. May contain some limited HTML. Optional."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A space-seperated list of tags to apply to the photo. Optional."
                    },
                    {
                        "name": "is_public",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
                    },
                    {
                        "name": "is_friend",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
                    },
                    {
                        "name": "is_family",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Set to 0 for no, 1 for yes. Specifies who can view the photo. Optional."
                    },
                    {
                        "name": "safety_level",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 for Safe, 2 for Moderate, or 3 for Restricted. Optional."
                    },
                    {
                        "name": "content_type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 for Photo, 2 for Screenshot, or 3 for Other. Optional."
                    },
                    {
                        "name": "hidden",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Set to 1 to keep the photo in global search results, 2 to hide from public searches. Optional."
                    },
                    {
                        "name": "async",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Flickr can process photos in async mode, for applications that need to post multiple photos and don't want to wait around for each one to complete, leaving a socket connection open the whole time. Set to 1 for async mode, 0 for sync mode."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/replace": {
            "post": {
                "description": "Replaces a photo that has already been uploaded to Flickr. Uploading apps can call the flickr.people.getUploadStatus method in the regular API to obtain file and bandwidth limits for the user.",
                "operationId": "Create_replace_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the photo to replace."
                    },
                    {
                        "name": "async",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Photos may be replaced in async mode, for applications that don't want to wait around for an upload to complete, leaving a socket connection open the whole time. Processing photos asynchronously is recommended. Please consult the documentation for details. Set to 1 for async mode, 0 for sync mode."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.activity.userComments": {
            "get": {
                "description": "Returns a list of recent activity on photos commented on by the calling user. Do not poll this method more than once an hour.",
                "operationId": "Get_flickr_activity_userComments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 10.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.activity.userPhotos": {
            "get": {
                "description": "Returns a list of recent activity on photos commented on by the calling user. Do not poll this method more than once an hour.",
                "operationId": "Get_flickr_activity_userPhotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "timeframe",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The timeframe in which to return updates for. This can be specified in days ('2d') or hours ('4h'). The default behavoir is to return changes since the beginning of the previous user session."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 10.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.auth.checkToken": {
            "get": {
                "description": "Returns the credentials attached to an authentication token. This call must be signed as specified in the authentication API spec.",
                "operationId": "Get_flickr_auth_checkToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "auth_token",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The authentication token to check."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.auth.getFrob": {
            "get": {
                "description": "Returns a frob to be used during authentication. This method call must be signed, and is deprecated in favour of OAuth.",
                "operationId": "Get_flickr_auth_getFrob_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.auth.getFullToken": {
            "get": {
                "description": "Get the full authentication token for a mini-token. This method call must be signed.",
                "operationId": "Get_flickr_auth_getFullToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "mini_token",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The mini-token typed in by a user. It should be 9 digits long. It may optionally contain dashes."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.auth.getToken": {
            "get": {
                "description": "Returns the auth token for the given frob, if one has been attached. This method call must be signed, and is deprecated in favour of OAuth.",
                "operationId": "Get_flickr_auth_getToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "frob",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The frob to check."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.auth.oauth.getAccessToken": {
            "get": {
                "description": "Exchange an auth token from the old Authentication API, to an OAuth access token. Calling this method will delete the auth token used to make the request. The request must be signed.",
                "operationId": "Get_flickr_auth_oauth_getAccessToken_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.blogs.getList": {
            "get": {
                "description": "Get a list of configured blogs for the calling user.",
                "operationId": "Get_flickr_blogs_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "service",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optionally only return blogs for a given service id. You can get a list of from flickr.blogs.getServices()."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.blogs.getServices": {
            "get": {
                "description": "Returns a list of Flickr supported blogging services.",
                "operationId": "Get_flickr_blogs_getServices_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.blogs.postPhoto": {
            "get": {
                "description": "Posts a photo to a blog.",
                "operationId": "Get_flickr_blogs_postPhoto_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "blog_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the blog to post to."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the photo to blog."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The blog post title."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The blog post body."
                    },
                    {
                        "name": "blog_password",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The password for the blog (used when the blog does not have a stored password)."
                    },
                    {
                        "name": "service",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Flickr supported blogging service. Instead of passing a blog id you can pass a service id and we'll post to the first blog of that service we find."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.collections.getInfo": {
            "get": {
                "description": "Returns information for a single collection. Currently can only be called by the collection owner, this may change.",
                "operationId": "Get_flickr_collections_getInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "collection_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the collection to fetch information for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.collections.getTree": {
            "get": {
                "description": "Returns a tree (or sub tree) of collections belonging to a given user.",
                "operationId": "Get_flickr_collections_getTree_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "collection_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "0",
                        "type": "string",
                        "description": "The ID of the collection to fetch a tree for, or zero to fetch the root collection. Defaults to zero."
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the account to fetch the collection tree for. Deafults to the calling user."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.commons.getInstitutions": {
            "get": {
                "description": "Retrieves a list of the current Commons institutions.",
                "operationId": "Get_flickr_commons_getInstitutions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.contacts.getList": {
            "get": {
                "description": "Get a list of contacts for the calling user.",
                "operationId": "Get_flickr_contacts_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An optional filter of the results. The following values are valid: friends (Only contacts who are friends, and not family), family (Only contacts who are family, and not friends), both (Only contacts who are both friends and family), neither (Only contacts who are neither friends nor family)."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1000.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.contacts.getListRecentlyUploaded": {
            "get": {
                "description": "Return a list of contacts for a user who have recently uploaded photos along with the total count of photos uploaded. This method is still considered experimental. We don't plan for it to change or to go away but so long as this notice is present you should write your code accordingly.",
                "operationId": "Get_flickr_contacts_getListRecentlyUploaded_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "date_lastupload",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Limits the resultset to contacts that have uploaded photos since this date. The date should be in the form of a Unix timestamp. The default offset is (1) hour and the maximum (24) hours."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "all",
                        "type": "string",
                        "description": "Limit the result set to all contacts or only those who are friends or family. Valid options are: ff (friends and family), all (all your contacts). Default value is \"all\"."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.contacts.getPublicList": {
            "get": {
                "description": "Get the contact list for a user.",
                "operationId": "Get_flickr_contacts_getPublicList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the user to fetch the contact list for."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1000.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.favorites.add": {
            "get": {
                "description": "Adds a photo to a user's favorites list.",
                "operationId": "Get_flickr_favorites_add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to add to the user's favorites."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.favorites.getList": {
            "get": {
                "description": "Returns a list of the user's favorite photos. Only photos which the calling user has permission to see are returned.",
                "operationId": "Get_flickr_favorites_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "min_fave_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp."
                    },
                    {
                        "name": "max_fave_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp."
                    },
                    {
                        "name": "extras",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.favorites.getPublicList": {
            "get": {
                "description": "Returns a list of favorite public photos for the given user.",
                "operationId": "Get_flickr_favorites_getPublicList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user to fetch the favorites list for."
                    },
                    {
                        "name": "min_fave_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp."
                    },
                    {
                        "name": "max_fave_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp."
                    },
                    {
                        "name": "extras",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.favorites.remove": {
            "get": {
                "description": "Adds a photo to a user's favorites list.",
                "operationId": "Get_flickr_favorites_remove_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to remove to the user's favorites."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.addPhoto": {
            "post": {
                "description": "Add a photo to a gallery.",
                "operationId": "Create_flickr_galleries_addPhoto_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The photo ID to add to the gallery."
                    },
                    {
                        "name": "comment",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A short comment or story to accompany the photo."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.create": {
            "post": {
                "description": "Create a new gallery for the calling user.",
                "operationId": "Create_flickr_galleries_create_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The title of the gallery."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A short description for the gallery."
                    },
                    {
                        "name": "primary_photo_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The first photo to add to your gallery."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.editMeta": {
            "post": {
                "description": "Modify the metadata for a gallery.",
                "operationId": "Create_flickr_galleries_editMeta_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The gallery ID to update."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new title for the gallery."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new description for the gallery."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.editPhoto": {
            "post": {
                "description": "Edit the comment for a gallery photo.",
                "operationId": "Create_flickr_galleries_editPhoto_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The photo ID to add to the gallery."
                    },
                    {
                        "name": "comment",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The updated comment the photo."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.editPhotos": {
            "post": {
                "description": "Modify the photos in a gallery. Use this method to add, remove and re-order photos.",
                "operationId": "Create_flickr_galleries_editPhotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the gallery to modify. The gallery must belong to the calling user."
                    },
                    {
                        "name": "primary_photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to use as the 'primary' photo for the gallery. This id must also be passed along in photo_ids list argument."
                    },
                    {
                        "name": "photo_ids",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of photo ids to include in the gallery. They will appear in the set in the order sent. This list must contain the primary photo id. This list of photos replaces the existing list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.getInfo": {
            "get": {
                "description": "Returns information about a gallery.",
                "operationId": "Get_flickr_galleries_getInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The gallery ID you are requesting information for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.getList": {
            "get": {
                "description": "Return the list of galleries created by a user. Sorted from newest to oldest.",
                "operationId": "Get_flickr_galleries_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the user to get a galleries list for. If none is specified, the calling user is assumed."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.getListForPhoto": {
            "get": {
                "description": "Return the list of galleries to which a photo has been added. Galleries are returned sorted by date which the photo was added to the gallery.",
                "operationId": "Get_flickr_galleries_getListForPhoto_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the photo to fetch a list of galleries for."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.galleries.getPhotos": {
            "get": {
                "description": "Return the list of photos for a gallery.",
                "operationId": "Get_flickr_galleries_getPhotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "gallery_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the gallery of photos to return."
                    },
                    {
                        "name": "extras",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.browse": {
            "get": {
                "description": "Browse the group category tree, finding groups and sub-categories.",
                "operationId": "Get_flickr_groups_browse_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "cat_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The category id to fetch a list of groups and sub-categories for. If not specified, it defaults to zero, the root of the category tree."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.getInfo": {
            "get": {
                "description": "Get information about a group.",
                "operationId": "Get_flickr_groups_getInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the group to fetch information for."
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The language of the group name and description to fetch. If the language is not found, the primary language of the group will be returned. Valid values are the same as in feeds."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.search": {
            "get": {
                "description": "Search for groups. 18+ groups will only be returned for authenticated calls where the authenticated user is over 18.",
                "operationId": "Get_flickr_groups_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The text to search for."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of groups to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.members.getList": {
            "get": {
                "description": "Get a list of the members of a group. The call must be signed on behalf of a Flickr member, and the ability to see the group membership will be determined by the Flickr member's group privileges.",
                "operationId": "Get_flickr_groups_members_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Return a list of members for this group. The group must be viewable by the Flickr member on whose behalf the API call is made."
                    },
                    {
                        "name": "membertypes",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma separated list of member types. Accepted values: 2 (member), 3 (moderator), 4 (admin). By default returns all types. (Returning super rare member type \"1: narwhal\" isn't supported by this API method)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of groups to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.pools.add": {
            "post": {
                "description": "Add a photo to a group's pool.",
                "operationId": "Create_flickr_groups_pools_add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to add to the group pool. The photo must belong to the calling user."
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the group whose pool the photo is to be added to."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.pools.getContext": {
            "get": {
                "description": "Returns next and previous photos for a photo in a group pool.",
                "operationId": "Get_flickr_groups_pools_getContext_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to fetch the context for."
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the group whose pool to fetch the photo's context for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.pools.getGroups": {
            "get": {
                "description": "Returns a list of groups to which you can add photos.",
                "operationId": "Get_flickr_groups_pools_getGroups_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "1",
                        "type": "string",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "400",
                        "type": "string",
                        "description": "Number of groups to return per page. If this argument is omitted, it defaults to 400. The maximum allowed value is 400."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.pools.getPhotos": {
            "get": {
                "description": "Returns a list of pool photos for a given group, based on the permissions of the group and the user logged in (if any).",
                "operationId": "Get_flickr_groups_pools_getPhotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A tag to filter the pool with. At the moment only one tag at a time is supported."
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The nsid of a user. Specifiying this parameter will retrieve for you only those photos that the user has contributed to the group pool."
                    },
                    {
                        "name": "extras",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 400."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to return. If this argument is omitted, it defaults to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr"
                    }
                }
            }
        },
        "/rest/?method=flickr.groups.pools.remove": {
            "post": {
                "description": "Remove a photo from a group pool.",
                "operationId": "Create_flickr_groups_pools_remove_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "photo_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The id of the photo to remove from the group pool. The photo must either be owned by the calling user of the calling user must be an administrator of the group."
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The NSID of the group who's pool the photo is to removed from."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explore, upload and organize photos on Flickr",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/rest/?method=flickr.interestingness.getList": {
            "get": {
                "description": "Returns the list of interesting photos for the most recent day or a user-specified date.",
                "operationId": "Get_flickr_interestingness_getList_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your API application key."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rest",
                        "type": "string",
                        "description": "Response format. Accepted values: rest (REST), xmlrpc (XML-RPC), soap (SOAP), soap2 (Alternate SOAP) json (JSON), php_serial (Serialized PHP)."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A specific date, formatted as YYYY-MM-DD, to return interesting photos for."
                    },
                    {
                        "name": "extras",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_z, url_l, url_o"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
[...]
