{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Foursquare",
        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.foursquare.com",
    "basePath": "/v2/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/users/{USER_ID}": {
            "get": {
                "description": "Returns profile information for a given user, including selected badges and mayorships. If the user is a friend, contact information, Facebook ID, and Twitter handle and the user's last checkin may also be present.In addition, the pings field will indicate whether checkins from this user will trigger a ping (notifications to mobile devices). This setting can be changed via setpings. Note that this setting is overriden if pings is false in settings (no pings will be sent, even if this user is set to true).",
                "operationId": "getUser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get details for. Pass self to get details of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/leaderboard": {
            "get": {
                "description": "Returns the user's leaderboard.",
                "operationId": "getLeaderboard_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "neighbors",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Number of friends' scores to return that are adjacent to your score, in ranked order. The current user's score is returned as well. An odd number of neighbors returns one more user ahead of the current user than behind. If the current user is at the top of the leaderboard, only the neighbors behind the current user are returned. If the current user is at the bottom of the leaderboard, only the neighbors ahead of the current user are returned. If neighbors is not specified, scores for all your friends are returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/requests": {
            "get": {
                "description": "Shows a user the list of users with whom they have a pending friend request (i.e., someone tried to add the acting user as a friend, but the acting user has not accepted).",
                "operationId": "getRequests_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/search": {
            "get": {
                "description": "Helps a user locate friends. Returns an array of compact user objects with Twitter or Facebook information and friend status.",
                "operationId": "searchUserGet_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Helps a user locate friends. Returns an array of compact user objects with Twitter or Facebook information and friend status.",
                "operationId": "Create_searchUserPost_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/badges": {
            "get": {
                "description": "Returns badges for a given user.",
                "operationId": "getBadges_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ID for user to view badges for. Pass self to get details of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/checkins": {
            "get": {
                "description": "Returns a history of checkins for the authenticated user.",
                "operationId": "getUserCheckins_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get details for. Pass self to get details of the acting user. For now, only \"self\" is supported"
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Number of results to return, up to 250."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The number of results to skip. Used to page through results."
                    },
                    {
                        "name": "afterTimestamp",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the first results to follow these seconds since epoch. This should be useful for paging forward in time, or when polling for changes. To avoid missing results when polling, we recommend subtracting several seconds from the last poll time and then de-duplicating."
                    },
                    {
                        "name": "beforeTimestamp",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the first results prior to these seconds since epoch. Useful for paging backward in time."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/friends": {
            "get": {
                "description": "Returns an array of a user's friends.",
                "operationId": "getFriends_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get friends of. Pass self to get friends of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Number of results to return, up to 500."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Used to page through results."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/lists": {
            "get": {
                "description": "Return a User's Lists.",
                "operationId": "getLists_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get lists for. Pass self to get lists of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "created",
                            "edited",
                            "followed",
                            "friends",
                            "suggested"
                        ],
                        "type": "string",
                        "description": "Can be created (lists created by this user), edited (other people's lists this user has edited), followed (lists this user follows), friends (lists from this user's friends), and suggested (lists relevant to the user's current location)."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Location of the user, required in order to receive the suggested group."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/mayorships": {
            "get": {
                "description": "Returns a user's mayorships.",
                "operationId": "getMayorship_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get mayorships for. Pass self to get friends of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/photos": {
            "get": {
                "description": "Returns photos from a user.",
                "operationId": "getPhotos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get details for. Pass self to get details of the acting user. For now, only \"self\" is supported"
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Number of results to return, up to 500."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Used to page through results."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/tips": {
            "get": {
                "description": "This endpoint is deprecated. Use /lists/USER_ID/tips instead. Returns tips from a user.",
                "operationId": "getUserTips_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get tips from. Pass self to get tips of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "recent",
                            "nearby",
                            "popular"
                        ],
                        "type": "string",
                        "description": "One of recent, nearby, or popular. Nearby requires geolat and geolong to be provided."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the user's location."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Number of results to return, up to 500."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Used to page through results."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/todos": {
            "get": {
                "description": "This endpoint is deprecated. Use /lists/USER_ID/todos instead. Returns todos from a user.",
                "operationId": "getTodos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get todos for. Pass self to get todos of the acting user."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/venuehistory": {
            "get": {
                "description": "Returns a list of all venues visited by the specified user, along with how many visits and when they were last there.",
                "operationId": "getVenueHistory_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to get details for. Pass self to get details of the acting user. For now, only \"self\" is supported"
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "beforeTimestamp",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Seconds since epoch."
                    },
                    {
                        "name": "afterTimestamp",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Seconds after epoch."
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Limits returned venues to those in this category. If specifying a top-level category, all sub-categories will also match the query."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/approve": {
            "post": {
                "description": "Approves a pending friend request from another user.",
                "operationId": "Create_approveFriend_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user ID of a pending friend."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/deny": {
            "post": {
                "description": "Denies a pending friend request from another user.",
                "operationId": "Create_denyFriend_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user ID of a pending friend."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/request": {
            "post": {
                "description": "Sends a friend request to another user. If the other user is a page then the requesting user will automatically start following the page.",
                "operationId": "Create_sendRequest_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user ID to which a request will be sent."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/setpings": {
            "post": {
                "description": "Changes whether the acting user will receive pings (phone notifications) when the specified user checks in.",
                "operationId": "Create_setPings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user ID of a friend."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "The value to set: true or false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{USER_ID}/unfriend": {
            "post": {
                "description": "Cancels any relationship between the acting user and the specified user. Removes a friend, unfollows a celebrity, or cancels a pending friend request.",
                "operationId": "Create_unfriendUser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "USER_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identity of the user to unfriend."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/self/update": {
            "post": {
                "description": "Updates the user's profile photo. Note: Photo under 100KB in multipart MIME encoding with content type image/jpeg, image/gif, or image/png.",
                "operationId": "updateUser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "image/jpeg",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "photo",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Photo under 100KB in multipart MIME encoding with content type image/jpeg, image/gif, or image/png."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/{VENUE_ID}": {
            "get": {
                "description": "Gives details about a venue, including location, mayorship, tags, tips, specials, and category. Authenticated users will also receive information about who is here now. If the venue ID given is one that has been merged into another \"master\" venue, the response will show data about the \"master\" instead of giving you an error.",
                "operationId": "getVenue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "VENUE_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ID of venue to retrieve."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/add": {
            "post": {
                "description": "Allows users to add a new venue. If this method returns an error, give the user the option to edit her inputs. The method may return an HTTP 409 error if the new venue looks like a duplicate of an existing venue. This response will include two useful values: candidateDuplicateVenues and ignoreDuplicatesKey. In this situation we recommend you try these two options: 1) use one of the candidateDuplicateVenues included in the response of the 409 error, or 2) ignore duplicates and force the addition of a new venue by resubmitting the same venue add request with two additional parameters: ignoreDuplicates set to true and ignoreDuplicatesKey set to the value from the earlier error response. In addition to this, give users the ability to say \"never mind, check-in here anyway\" and perform a manual (\"venueless\") checkin by specifying just the venue name. All fields are optional, but one of either a valid address or a geolat/geolong pair must be provided. We recommend that developers provide a geolat/geolong pair in every case. Caller may also, optionally, pass in a category (primarycategoryid) to which you want this venue assigned. You can browse a full list of categories using the /categories method. On adding venue, we recommend that applications show the user this hierarchy and allow them to choose something suitable.",
                "operationId": "addVenue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of the venue."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the venue, as accurate as is known."
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The address of the venue."
                    },
                    {
                        "name": "crossStreet",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The nearest intersecting street or streets."
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The city name where this venue is."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The nearest state or province to the venue."
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The zip or postal code for the venue."
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The phone number of the venue."
                    },
                    {
                        "name": "twitter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The twitter handle of the venue."
                    },
                    {
                        "name": "primaryCategoryId",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the category to which you want to assign this venue."
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A freeform description of the venue, up to 300 characters."
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The url of the homepage of the venue."
                    },
                    {
                        "name": "ignoreDuplicates",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "A boolean flag telling the server to ignore duplicates and force the addition of this venue."
                    },
                    {
                        "name": "ignoreDuplicatesKey",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Required if ignoreDuplicates is true. This key will be available in the response of the HTTP 409 error of the first (failed) attempt to add venue."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/categories": {
            "get": {
                "description": "Returns a hierarchical list of categories applied to venues. When designing client applications, please download this list only once per session, but also avoid caching this data for longer than a week to avoid stale information.",
                "operationId": "getCategories_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/explore": {
            "get": {
                "description": "Returns a list of recommended venues near the current location. If authenticated, the method will potentially personalize the ranking based on you and your friends. If you do not authenticate, you will not get this personalization. This is an experimental API. We're excited to share it, but it's a very new feature that is in flux, and we're also still learning if this is the right approach. Please give it a shot and provide feedback on the mailing list.",
                "operationId": "listRecommendedVenues_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the user's location, so response can include distance."
                    },
                    {
                        "name": "llAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of latitude and longitude, in meters."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Altitude of the user's location, in meters."
                    },
                    {
                        "name": "altAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of the user's altitude, in meters."
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Radius to search within, in meters. If radius is not specified, a suggested radius will be used depending on the density of venues in the area."
                    },
                    {
                        "name": "section",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "food",
                            "drinks",
                            "coffee",
                            "shops",
                            "arts",
                            "outdoors"
                        ],
                        "type": "string",
                        "description": "One of food, drinks, coffee, shops, arts, or outdoors. Choosing one of these limits results to venues with categories matching these terms."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A search term to be applied against tips, category, tips, etc. at a venue."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to return, up to 50."
                    },
                    {
                        "name": "intent",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Limit results to venues with specials."
                    },
                    {
                        "name": "novelty",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "object",
                        "description": "Pass new or old to limit results to places the acting user hasn't been or has been, respectively. Omitting this parameter returns a mixture."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/managed": {
            "get": {
                "description": "Get a list of venues the current user manages.",
                "operationId": "listVenuesOfCurrentUser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/search": {
            "get": {
                "description": "Returns a list of venues near the current location, optionally matching the search term. If lat and long is provided, each venue includes a distance. If authenticated, the method will return venue metadata related to you and your friends. If you do not authenticate, you will not get this data. Note that most of the fields returned inside venue can be optional. The user may create a venue that has no address, city or state (the venue is created instead at the geolat/geolong specified). Your client should handle these conditions safely. You'll also notice a stats block that reveals some count data about the venue. herenow shows the number of people currently there (this value can be 0).",
                "operationId": "searchVenue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the user's location, so response can include distance."
                    },
                    {
                        "name": "llAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of latitude and longitude, in meters."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Altitude of the user's location, in meters."
                    },
                    {
                        "name": "altAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of the user's altitude, in meters."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A search term to be applied against venue names."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to return, up to 50."
                    },
                    {
                        "name": "intent",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "checkin",
                            "browse",
                            "match"
                        ],
                        "type": "string",
                        "description": "One of the values checkin, browse or match, indicating your intent in performing the search. If no value is specified, defaults to checkin."
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Limit results to venues within this many meters of the specified location. Defaults to a city-wide area. Only valid for requests with intent=browse, or requests with intent=checkin and categoryId or query. Does not apply to match intent requests. The maximum supported radius is currently 100,000 meters."
                    },
                    {
                        "name": "sw",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "With ne, limits results to the bounding quadrangle defined by the latitude and longitude given by sw as its south-west corner, and ne as its north-east corner. The bounding quadrangle is only supported for intent=browse searches. Not valid with ll or radius. Bounding quadrangles with an area up to approximately 10,000 square kilometers are supported."
                    },
                    {
                        "name": "ne",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "See sw."
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma separated list of categories to limit results to. This is an experimental feature and subject to change or may be unavailable. If you specify categoryId you may also specify a radius. If specifying a top-level category, all sub-categories will also match the query."
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A third-party URL which we will attempt to match against our map of venues to URLs. This is an experimental API and subject to change or breakage."
                    },
                    {
                        "name": "providerId",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifier for a known third party that is part of our map of venues to URLs, used in conjunction with linkedId. This is an experimental API and subject to change or breakage."
                    },
                    {
                        "name": "linkedId",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifier used by third party specified in providerId, which we will attempt to match against our map of venues to URLs. This is an experimental API and subject to change or breakage."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/suggestcompletion": {
            "get": {
                "description": "Returns a list of mini-venues partially matching the search term, near the location. This is an experimental endpoint and very much subject to change. Please provide us feedback in the forum.",
                "operationId": "listSuggestCompletionVenues_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the user's location."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A search term to be applied against titles. Must be at least 3 characters long."
                    },
                    {
                        "name": "llAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of latitude and longitude, in meters. (Does not currently affect search results.)"
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Altitude of the user's location, in meters. (Does not currently affect search results.)"
                    },
                    {
                        "name": "altAcc",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accuracy of the user's altitude, in meters. (Does not currently affect search results.)"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to return, up to 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/timeseries": {
            "get": {
                "description": "Get daily venue stats for a list of venues over a time range.",
                "operationId": "getVenueTimeSeriesData_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "venueId",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-separated list of venue ids to retrieve series data for."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "startAt",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the time range to retrieve stats for (seconds since epoch)."
                    },
                    {
                        "name": "endAt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the time range to retrieve stats for (seconds since epoch). If omitted, the current time is assumed."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/trending": {
            "get": {
                "description": "Returns a list of venues near the current location with the most people currently checked in.",
                "operationId": "listTrending_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
                    },
                    {
                        "name": "ll",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Latitude and longitude of the user's location."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to return, up to 50."
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Radius in meters, up to approximately 2000 meters."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkin, explore your city and connect people and places <b>(API v2).</b>",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/venues/{VENUE_ID}/events": {
            "get": {
                "description": "Allows you to access information about the current events at a place. At this time we are only able to distribute Music events and limited information about Movie events via this endpoint due to partner restrictions.",
                "operationId": "getEvents_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "VENUE_ID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The venue id for which events are being requested."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "20131016",
                        "type": "string",
                        "description": "All requests now accept a v=YYYYMMDD param, which indicates that the client is up to date as of the specified date. Sometimes we may need to make breaking changes to an API. Although we’ll do everything possible to avoid this, when we do so we will use this parameter to give you time to transition to the new implementation. Requests to deprecated endpoints will return 200s, but they will also contain errorType deprecated in the meta section of the response. Clients that wish to be robust against changes should always pass    v=DATEVERIFIED (in the YYYYMMDD format) and watch for any deprecated responses coming back from the server. We expect to allow at least several months for any transitions. Not passing the v parameter will currently return the oldest version of the API. In the future, the default will be to use the most recent API (instead of current default, which is to use the oldest API). Over time, we will phase out support for legacy behavior."
[...]
