{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "GitHub v3",
        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.github.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/repos?page={num}&per_page={perPage}": {
            "get": {
                "description": "Return multiple items will be paginated with the page parameter and set a custom page size up to 100\n                                        with the per_page parameter.",
                "operationId": "GetPagination_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "num",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 30.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "perPage",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 100.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/issues": {
            "get": {
                "description": "List your issues.",
                "operationId": "ListIssues_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "assigned",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "created",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "desc",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "reponame",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/issues": {
            "get": {
                "description": "List all issues across owned and member repositories for the authenticated user.",
                "operationId": "ListIssuesForUser_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "assigned",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "created",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "desc",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/orgs/{org}/issues": {
            "get": {
                "description": "List all issues for a given organization for the authenticated user.",
                "operationId": "ListIssuesByOrg_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "assigned",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "created",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "desc",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "org",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "org",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues": {
            "get": {
                "description": "List issues for this Repository.",
                "operationId": "GetIssues_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "created",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "desc",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create an Issue.",
                "operationId": "CreateIssue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/{id}": {
            "get": {
                "description": "Returns a single Issue.",
                "operationId": "GetIssue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/comments": {
            "get": {
                "description": "List comments in a repository.",
                "operationId": "ListRepoComments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/{id}/comments": {
            "get": {
                "description": "Returns comments for an Issue.",
                "operationId": "GetIssueComments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a comment for an Issue.",
                "operationId": "CreateIssueComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/comments/{id}": {
            "get": {
                "description": "Returns a single Issue Comment.",
                "operationId": "GetIssueComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete an Issue Comment.",
                "operationId": "DeleteIssueComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/labels": {
            "get": {
                "description": "Returns a list all Labels for this Repository.",
                "operationId": "GetLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a Label.",
                "operationId": "CreateLabel_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/labels/{id}": {
            "get": {
                "description": "Returns a single Label.",
                "operationId": "GetLabel_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a label.",
                "operationId": "DeleteLabel_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/{id}/labels": {
            "get": {
                "description": "List labels on the Issue.",
                "operationId": "GetIssueLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Replace all Labels for an Issue.",
                "operationId": "UpdateIssueLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Add Labels to an Issue.",
                "operationId": "CreateIssueLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Remove all Labels from an Issue.",
                "operationId": "DeleteIssueLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/{id}/labels/{id}": {
            "delete": {
                "description": "Remove a Label from an Issue.",
                "operationId": "DeleteIssueLabel_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/milestones/{id}/labels": {
            "get": {
                "description": "Returns Labels for every Issue in a Milestone.",
                "operationId": "GetMilestoneIssueLabels_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/milestones": {
            "get": {
                "description": "List Milestones for an Issue.",
                "operationId": "GetMilestones_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "open",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "created",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "desc",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a Milestone.",
                "operationId": "CreateMilestone_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/milestones/{id}": {
            "get": {
                "description": "Returns a single Milestone.",
                "operationId": "GetMilestone_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a Milestone.",
                "operationId": "DeleteMilestone_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/{issueId}/events": {
            "get": {
                "description": "Returns Events for an Issue.",
                "operationId": "GetIssueEvents_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "issueId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/events": {
            "get": {
                "description": "List issue events for a repository.",
                "operationId": "ListRepoIssueEvents_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/repos/{userName}/{repoName}/issues/events/{id}": {
            "get": {
                "description": "Returns a single Issue Event.",
                "operationId": "GetIssueEvent_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "repoName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "Hello-World",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{userName}/gists": {
            "get": {
                "description": "List a user's gists",
                "operationId": "ListUserGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new gist.",
                "operationId": "CreateGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists": {
            "get": {
                "description": "List the authenticated user���s gists or if called anonymously, this will returns all public gists.",
                "operationId": "ListAuthUserGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/public": {
            "get": {
                "description": "List all public gists.",
                "operationId": "ListPublicGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/starred": {
            "get": {
                "description": "List the authenticated user���s starred gists.",
                "operationId": "ListStarredGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "octocat",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/{id}": {
            "get": {
                "description": "Get a single gist.",
                "operationId": "GetGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a gist.",
                "operationId": "DeleteGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/gists/{id}/star": {
            "get": {
                "description": "Check if a gist is starred.",
                "operationId": "Get_CheckGistStarred_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Star a gist.",
                "operationId": "Update_StarGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unstar a gist.",
                "operationId": "Delete_UnStarGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/gists/{id}/fork": {
            "post": {
                "description": "Fork a gist.",
                "operationId": "Create_ForkGist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/{gistId}/comments": {
            "get": {
                "description": "List Gist Comments.",
                "operationId": "GetGistComments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gistId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a Gist Comment",
                "operationId": "CreateGistComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gistId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/{gistId}/comments/{id}": {
            "get": {
                "description": "Returns a Gist Comment.",
                "operationId": "GetGistComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "gistId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/gists/comments/{id}": {
            "delete": {
                "description": "Delete a Gist Comment.",
                "operationId": "DeleteGistComment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": 1.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    },
                    {
                        "name": "User-Agent",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405",
                        "type": "string",
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perform secure source code hosting and collaborative development with GitHub v3 API."
                    }
                }
            }
        },
        "/user": {
            "get": {
[...]
