{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Google Calendar",
        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "www.googleapis.com",
    "basePath": "/calendar/v3/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/calendars/{calendarId}/acl": {
            "get": {
                "description": "Returns the rules in the access control list for the calendar",
                "operationId": "Get_calendar.access.control.rules.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates an access control rule.",
                "operationId": "Create_calendar.access.control.rule.insert_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/acl/{ruleId}": {
            "get": {
                "description": "Returns an access control rule.",
                "operationId": "Get_calendar.access.control.rule.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "ruleId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ACL rule identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates an access control rule.",
                "operationId": "Update_calendar.access.control.rule.update_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "ruleId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ACL rule identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an access control rule.",
                "operationId": "Delete_calendar.access.control.rule.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "ruleId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ACL rule identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
                    }
                }
            }
        },
        "/users/me/calendarList": {
            "get": {
                "description": "Returns entries on the user's calendar list.",
                "operationId": "Get_calendarList.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of entries returned on one result page."
                    },
                    {
                        "name": "minAccessRole",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The minimum access role for the user in the returned entires. Optional. The default is no restriction."
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Token specifying which result page to return."
                    },
                    {
                        "name": "showHidden",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "false",
                        "type": "string",
                        "description": "Whether to show hidden entries."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Adds an entry to the user's calendar list.",
                "operationId": "Create_calendarList.insert_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/me/calendarList/{calendarId}": {
            "get": {
                "description": "Returns an entry on the user's calendar list.",
                "operationId": "Get_entry.calendarList.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates an entry on the user's calendar list.",
                "operationId": "Update_entry.calendarList.update_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an entry on the user's calendar list.",
                "operationId": "Delete_entry.calendarList.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
                    }
                }
            }
        },
        "/calendars": {
            "post": {
                "description": "Creates a secondary calendar.",
                "operationId": "Create_calendars.insert_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}": {
            "get": {
                "description": "Returns metadata for a calendar.",
                "operationId": "Get_calendars.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates metadata for a calendar.",
                "operationId": "Update_calendars.update_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a secondary calendar.",
                "operationId": "Delete_calendars.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
                    }
                }
            }
        },
        "/calendars/{calendarId}/clear": {
            "get": {
                "description": "Clears a primary calendar. This operation deletes all data associated with the primary calendar of an account and cannot be undone.",
                "operationId": "Get_calendars.clear_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events": {
            "get": {
                "description": "Returns events on the specified calendar.",
                "operationId": "Get_events.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "iCalUID",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies iCalendar UID (iCalUID) of events to be included in the response."
                    },
                    {
                        "name": "maxAttendees",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of events returned on one result page."
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The order of the events returned in the result."
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Token specifying which result page to return."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Free text search terms to find events that match these terms in any field, except for extended properties."
                    },
                    {
                        "name": "showDeleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to include deleted events (with 'eventStatus' equals 'cancelled') in the result."
                    },
                    {
                        "name": "showHiddenInvitations",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to include hidden invitations in the result."
                    },
                    {
                        "name": "singleEvents",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves."
                    },
                    {
                        "name": "timeMax",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time."
                    },
                    {
                        "name": "timeMin",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time."
                    },
                    {
                        "name": "timeZone",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Time zone used in the response. The default is the time zone of the calendar."
                    },
                    {
                        "name": "updatedMin",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates an event.",
                "operationId": "Create_events.insert_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to send notifications about the creation of the new event."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/{eventId}": {
            "get": {
                "description": "Returns an event.",
                "operationId": "Get_events.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "maxAttendees",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
                    },
                    {
                        "name": "timeZone",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Time zone used in the response. The default is the time zone of the calendar."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates an event.",
                "operationId": "Update_events.update_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    },
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.)."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an event.",
                "operationId": "Delete_events.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to send notifications about the deletion of the event."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations."
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/{eventId}/instances": {
            "get": {
                "description": "Returns instances of the specified recurring event.",
                "operationId": "Get_events.instances_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    },
                    {
                        "name": "maxAttendees",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned."
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of entries returned on one result page."
                    },
                    {
                        "name": "originalStart",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The original start time of the instance in the result."
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Token specifying which result page to return."
                    },
                    {
                        "name": "showDeleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Whether to include deleted events (with 'eventStatus' equals 'cancelled') in the result."
                    },
                    {
                        "name": "timeZone",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Time zone used in the response. The default is the time zone of the calendar."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/import": {
            "post": {
                "description": "Imports an event.",
                "operationId": "Create_events.import_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/quickAdd": {
            "post": {
                "description": "Creates an event based on a simple text string.",
                "operationId": "Create_events.quickAdd_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The text describing the event to be created."
                    },
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "fasle",
                        "type": "boolean",
                        "description": "Whether to send notifications about the creation of the event."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/{eventId}/move": {
            "post": {
                "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
                "operationId": "Create_events.move_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    },
                    {
                        "name": "destination",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier of the target calendar where the event is to be moved to."
                    },
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "fasle",
                        "type": "boolean",
                        "description": "Whether to send notifications about the change of the event's organizer."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calendars/{calendarId}/events/{eventId}/reset": {
            "post": {
                "description": "Resets a specialized instance of a recurring event to its original state.",
                "operationId": "Create_events.reset_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "calendarId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Calendar identifier."
                    },
                    {
                        "name": "eventId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Event identifier."
                    },
                    {
                        "name": "sendNotifications",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "fasle",
                        "type": "boolean",
                        "description": "Whether to send notifications about the event update."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/me/settings": {
            "get": {
                "description": "Returns all user settings for the authenticated user.",
                "operationId": "Get_settings.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/me/settings/{setting}": {
            "get": {
                "description": "Returns a single user setting.",
                "operationId": "Get_settings.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "setting",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Name of the user setting."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/colors": {
            "get": {
                "description": "Returns the color definitions for calendars and events.",
                "operationId": "Get_colors.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/freeBusy": {
            "post": {
                "description": "Returns free/busy information for a set of calendars.",
                "operationId": "Create_freebusy.query_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Build apps that can edit, create and delete Google Calendar events and invitations.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}