{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Google Documents",
        "description": "Create, retrieve, upload and copy Google documents.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "docs.google.com",
    "basePath": "/feeds/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/default/{visibility}/full": {
            "get": {
                "description": "Lists all the documents for the Google Account that's associated with the authenticated user.",
                "operationId": "Get_documents.list.feeds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Category query filter. To do an OR between terms, use a pipe character (|), URL-encoded as %7C. For example: category=Fritz%7CLaurie returns entries that match either category. To do an AND between terms, use a comma character (,). For example: category=Fritz,Laurie returns entries that match both categories."
                    },
                    {
                        "name": "start-key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieves resources beyond the first page, page through results by following the next link of a feed."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
                    },
                    {
                        "name": "title-exact",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
                    },
                    {
                        "name": "opened-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound on the last time a document was opened by the current user. Use the RFC 3339 timestamp format. For example: opened-min=2005-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "opened-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Upper bound on the last time a document was opened by the current user. Use the RFC 3339 timestamp format. For example: opened-max=2009-03-02T10:00:00"
                    },
                    {
                        "name": "edited-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound on the last time a document was edited by the current user. This value corresponds to the <app:edited> value in the Atom entry, which represents changes to the document's content or metadata. Use the RFC 3339 timestamp format. For example: edited-min=2005-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "edited-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Upper bound on the last time a document was edited by the user. This value corresponds to the <app:edited> value in the Atom entry, which represents changes to the document's content or metadata. Use the RFC 3339 timestamp format. For example: edited-max=2009-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "owner",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents with a specific owner. Use the email address of the owner. For example: owner=user%40gmail.com"
                    },
                    {
                        "name": "writer",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents which can be written to by specific users.\tUse a single email address or a comma separated list of email addresses. For example: writer=user1%40gmail.com%2Cuser2%40example.com"
                    },
                    {
                        "name": "reader",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents which can be read by specific users. Use a single email address or a comma separated list of email addresses. For example: reader=user1%40gmail.com%2Cuser2%40example.com"
                    },
                    {
                        "name": "showfolders",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether the query should return folders as well as documents. Possible values are true and false. Default is false."
                    },
                    {
                        "name": "showroot",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "To determine which resources are in the root collection."
                    },
                    {
                        "name": "showdeleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether the query should return documents which are in the trash as well as other documents. Possible values are true and false. Default is false"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/-/{category}": {
            "get": {
                "description": "Searching for resources by type.",
                "operationId": "search.type.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "If-None-Match",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the entry's ETag, which you can find in the <feed> element's or <entry> element's gd:etag attribute."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Resource ID value that you've retrieved before."
                    },
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "private",
                        "type": "string",
                        "description": "Categories:\nDocument Type: All documents of the corresponding type in the requesting user's document list.\n\t- document\n\t- drawing\n\t- folder\n\t- pdf\n\t- presentation\n\t- spreadsheet\n\t- form\n\tNote: To return a list of files of MIME type application/msword, send a category query that includes the scheme + content type: {http://schemas.google.com/g/2005#kind}application/msword (This URL needs to be fully URL encoded)\nStarred Status: All documents that have been starred by the requesting user\n\t- starred\nTrashed Status: All documents that have been sent to the trash by the requesting user\n\t- trashed\nHidden status: All documents that are hidden\n\t- hidden\nViewed status: All documents that have been viewed by the requesting user\n\t- viewed\nOwned by user: All documents that are owned by the requesting user\n\t- mine\nPrivate status: All documents that are not shared with anyone\n\t- private\nShared with domain: All documents that are shared with everyone at the user's hosted domain. This only works for Google Apps users.\n\t- shared-with-domain\n\t\nYou can combine more than one category. As an example, to retrieve a list of only starred presentations, use the presentation and starred categories together: \"/feeds/default/private/full/-/presentation/starred\""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/{resourceID}": {
            "get": {
                "description": "Retrieves the document associated with the resourceID for the Google Account that's associated with the authenticated user.",
                "operationId": "Get_documents.list.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "If-None-Match",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the entry's ETag, which you can find in the <feed> element's or <entry> element's gd:etag attribute."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Resource ID value that you've retrieved before."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deleting a document or file permanently removes the resource from the user's documents list.",
                "operationId": "Delete_deleting.document.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "If-None-Match",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the entry's ETag, which you can find in the <feed> element's or <entry> element's gd:etag attribute."
                    },
                    {
                        "name": "delete",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": true,
                        "type": "boolean",
                        "description": "Specifies whether or to permanently delete a document when trashing it. Possible values are true and false. Default is false, meaning a document is moved to the trash."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Resource ID value that you've retrieved before."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents."
                    }
                }
            }
        },
        "/default/{visibility}/full/{resourceID}/contents": {
            "get": {
                "description": "The folders feed is used to list a folder's contents.",
                "operationId": "Get_folders.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Folder ID value that you've retrieved before."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/folder%3A{collection_id}/contents": {
            "post": {
                "description": "To add a resource to a collection.",
                "operationId": "add.resource.to.collection_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Collection ID value."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/folder%3A{collection_id}/contents/{resourceID}": {
            "delete": {
                "description": "To remove a resource from a collection.",
                "operationId": "remove.resource.from.collection_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Collection ID value."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Resource ID value."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents."
                    }
                }
            }
        },
        "/default/{visibility}/full/{resourceID}/acl": {
            "get": {
                "description": "The acl feed is used to request a document's sharing permissions.",
                "operationId": "get.acl.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the object you are requesting the sharing permissions for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "To insert a new role into the ACL feed.",
                "operationId": "post.acl.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "send-notification-emails",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Emails can be disabled by attaching the send-notification-emails."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the object you are requesting the sharing permissions for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/{resourceID}/acl/{user}": {
            "put": {
                "description": "To update the entry.",
                "operationId": "put.acl.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the object you are requesting the sharing permissions for."
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "To update the entry, we will need to issue an HTTP PUT request to the entry's edit link, which is simply a <link> element, whose rel attribute is set to edit. In our case it is:\n<link rel='edit'\n            type='application/atom+xml'\n            href='https://docs.google.com/feeds/default/private/full/document:1234abcd/acl/user:new_writer@example.com'/>"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "To remove permissions for a user.",
                "operationId": "delete.acl.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the object you are requesting the sharing permissions for."
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "To update the entry, we will need to issue an HTTP PUT request to the entry's edit link, which is simply a <link> element, whose rel attribute is set to edit. In our case it is:\n<link rel='edit'\n            type='application/atom+xml'\n            href='https://docs.google.com/feeds/default/private/full/document:1234abcd/acl/user:new_writer@example.com'/>"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents."
                    }
                }
            }
        },
        "/default/{visibility}/full/folder%3A{collection_id}/acl": {
            "post": {
                "description": "To share a collection.",
                "operationId": "Create_sharing.collection_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Collection ID value."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/media/{resourceID}": {
            "put": {
                "description": "The media feed is used to update a document's content body.",
                "operationId": "Update_media.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "If-Match",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "*",
                        "type": "string",
                        "description": "ETag or * here."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "multipart/related; boundary=END_OF_PART",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "Slug",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Contents is replaced with this document."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the object you wish to update."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/full/{resourceID}/revisions/{revisionID}": {
            "get": {
                "description": "The revisions feed is used to view a document's revision history.",
                "operationId": "Get_revisions.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "represents the object you are requesting revision history for."
                    },
                    {
                        "name": "revisionID",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A particular revision."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deleting file revisions.",
                "operationId": "Delete_revisions.delete.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "resourceID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "represents the object you are requesting revision history for."
                    },
                    {
                        "name": "revisionID",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A particular revision."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents."
                    }
                }
            }
        },
        "/default/{visibility}/archive": {
            "post": {
                "description": "The archive feed can be used to export the results of a query as a .zip file of documents. The body of the request contains data which controls the archive operation and, optionally, a list of resource IDs to archive. If no resource IDs are contained in the request body, query parameters from the URL (if any) is used to select the items to include in the archive. If the request body contains one or more resource IDs, query parameters from the URL is ignored.",
                "operationId": "post.archive.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Category query filter. To do an OR between terms, use a pipe character (|), URL-encoded as %7C. For example: category=Fritz%7CLaurie returns entries that match either category. To do an AND between terms, use a comma character (,). For example: category=Fritz,Laurie returns entries that match both categories."
                    },
                    {
                        "name": "start-key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieves resources beyond the first page, page through results by following the next link of a feed."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
                    },
                    {
                        "name": "title-exact",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
                    },
                    {
                        "name": "opened-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound on the last time a document was opened by the current user. Use the RFC 3339 timestamp format. For example: opened-min=2005-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "opened-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Upper bound on the last time a document was opened by the current user. Use the RFC 3339 timestamp format. For example: opened-max=2009-03-02T10:00:00"
                    },
                    {
                        "name": "edited-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Lower bound on the last time a document was edited by the current user. This value corresponds to the <app:edited> value in the Atom entry, which represents changes to the document's content or metadata. Use the RFC 3339 timestamp format. For example: edited-min=2005-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "edited-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Upper bound on the last time a document was edited by the user. This value corresponds to the <app:edited> value in the Atom entry, which represents changes to the document's content or metadata. Use the RFC 3339 timestamp format. For example: edited-max=2009-08-09T09:57:00-08:00"
                    },
                    {
                        "name": "owner",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents with a specific owner. Use the email address of the owner. For example: owner=user%40gmail.com"
                    },
                    {
                        "name": "writer",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents which can be written to by specific users.\tUse a single email address or a comma separated list of email addresses. For example: writer=user1%40gmail.com%2Cuser2%40example.com"
                    },
                    {
                        "name": "reader",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Searches for documents which can be read by specific users. Use a single email address or a comma separated list of email addresses. For example: reader=user1%40gmail.com%2Cuser2%40example.com"
                    },
                    {
                        "name": "showfolders",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether the query should return folders as well as documents. Possible values are true and false. Default is false"
                    },
                    {
                        "name": "showdeleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether the query should return documents which are in the trash as well as other documents. Possible values are true and false. Default is false"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/default/{visibility}/archive/{archiveID}": {
            "get": {
                "description": "Returns the status of an archive. The resulting entry contains elements which provide information (including completion status) about the archive operation.",
                "operationId": "get.archive.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "archiveID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the archive which refer to the state."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Changes the archive notification email address.",
                "operationId": "put.archive.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "archiveID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the archive which refer to the state."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Aborting an archive in the process of being generated.",
                "operationId": "delete.archive.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "archiveID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the archive which refer to the state."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents."
                    }
                }
            }
        },
        "/metadata/{user_id}": {
            "get": {
                "description": "The metadata feed is used to view general information about a user's account.",
                "operationId": "Get_metadata.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the user's Google Docs account or 'default' to represent the currently authorized user."
                    },
                    {
                        "name": "remaining-changestamps-first",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "causes the metadata feed to return the number of changestamps since the given changestamp, including the given changestamp. Thus, to get the number of changestamps since a given changestamp, clients must provide the last synced changestamp, plus one."
                    },
                    {
                        "name": "remaining-changestamps-limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Using this mechanism of the metadata feed can increase the latency of a metadata feed request. To minimize this latency, clients are required to provide the remaining-changestamps-limit parameter. This parameter gives an upper bound to the value returned in <docs:remainingChangestamps>."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{user_id}/private/changes": {
            "get": {
                "description": "The changes feed is used to view changes to a user's resources.",
                "operationId": "Get_changes.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Represents the user's email address or 'default' to represent the currently authorized user."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieves all changes since a given changestamp"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "To change the number of changes returned, set the max-results GET parameter to a number less than or equal to 1000."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{resumable-create-media-link}": {
            "post": {
                "description": "Creating a new resource with both metadata and content at once requires the use of the GData resumable upload protocol. When uploading a resource in this scenario, the resource will have the given title and metadata, as well as the given content.",
                "operationId": "create.doc.metadata.and.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "X-Upload-Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Upload Content Type."
                    },
                    {
                        "name": "X-Upload-Content-Length",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies Upload Content Length. Important: Always choose a chunk size that is a multiple of 512 kilobytes. The last chunk may be smaller than 512 kilobytes."
                    },
                    {
                        "name": "resumable-create-media-link",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Send an HTTP POST request to the resumable-create-media link of the resources feed. To acquire this link, clients query https://docs.google.com/feeds/default/private/full.\nExample:\n<link rel=\"http://schemas.google.com/g/2005#resumable-create-media\"\n        type=\"application/atom+xml\"\n        href=\"https://docs.google.com/feeds/upload/create-session/default/private/full\"/>\t\t\n        \nImportant: To upload a file, append ?convert=false to the resumable-create-media link."
                    },
                    {
                        "name": "ocr",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Uploading documents using Optical Character Recognition.\nLimitations:\n        Supported file formats: application/pdf, image/jpeg, image/png, image/gif\n        Works best with high resolution images (at least 10 pixel character height)\n        OCR is a computationally expensive operation and can take up to 30 seconds.\n        Works only for latin character sets.\nTo perform OCR on a .pdf, .jpg, .png, or .gif file, include the ocr=true"
                    },
                    {
                        "name": "ocr-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "May be provided in order to hint at which language to use when performing OCR. Even while providing this parameter, if there is overwhelming evidence that a character or paragraph is of a certain language, the hint will not be applied in that case.\nValid values for ocr-language are ISO 639-1 codes. \nThe following codes are currently supported by the API: bg, ca, cs, da, de, el, en, es, fi, fil, fr, hr, hu, id, it, ja, ko, lt, lv, nl, no, pl, pt, ro, ru, sk, sl, sr, sv, th, tr, uk, vi, zh-Hans"
                    },
                    {
                        "name": "targetLanguage",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the language to translate a document into."
                    },
                    {
                        "name": "sourceLanguage",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the source language of the original document. Optional when using the translation service. If not provided, Google will attempt to auto-detect the source language."
                    },
                    {
                        "name": "convert",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": true,
                        "type": "boolean",
                        "description": "Specifies whether or not a document-type arbitrary file upload should be converted into a native Google Doc. Optional when uploading a file. Possible values are true and false. Default is true. This parameter has no effect on PDFs or arbitrary file uploads."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{next-location}": {
            "post": {
                "description": "Request to upload the document or file in chunks of 512 kilobytes each.",
                "operationId": "upload.document.chunks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "Content-Range",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the range."
                    },
                    {
                        "name": "next-location",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Next location for upload a chunk of 512 kilobytes each. Important: After a period of time, requesting an expired [next location] receives a response of 410 Gone or 404 Not Found."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/download/{document-type}/Export": {
            "get": {
                "description": "Download spreadsheets in a variety of formats.",
                "operationId": "Get_download.spreadsheet_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "document-type",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "spreadsheets",
                        "type": "string",
                        "description": "Type of document."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the spreadsheet key/id to download."
                    },
                    {
                        "name": "gid",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the spreadsheet grid to export."
                    },
                    {
                        "name": "exportFormat",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the output format for spreadsheets.\nValues for documents: \"txt\", \"odt\", \"pdf\", \"html\", \"rtf\", \"doc\", \"png\", \"zip\"\nValues for presentations: \"pdf\", \"png\", \"ppt\", and \"txt\".\nValues for drawings: \"jpeg\", \"pdf\", \"png\", svg.\nvalues for spreadsheets: \"xls\", \"csv\", \"pdf\", \"ods\", \"tsv, \"html\""
                    },
                    {
                        "name": "revision",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies a particular revision."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create, retrieve, upload and copy Google documents.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "visibility": {
            "title": "visibility",
            "type": "integer",
            "format": "int32",
            "enum": [
                "private"
            ]
        },
        "alt": {
            "title": "alt",
            "type": "integer",
            "format": "int32",
            "enum": [
                "atom",
                "rss",
                "json-in-script",
                "atom-in-script",
                "rss-in-script",
                "atom-service"
            ]
        },
        "document-type": {
            "title": "document-type",
            "type": "integer",
            "format": "int32",
            "enum": [
                "document",
                "drawing",
                "presentation"
            ]
        }
    }
}