{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Google Books",
        "description": "Leverage Google Books content with full-text search and book information.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "www.googleapis.com",
    "basePath": "/books/v1/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/users/{userId}/bookshelves": {
            "get": {
                "description": "Retrieves a list of public Bookshelf resources for the specified user.",
                "operationId": "Get_books.bookshelves.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of user for whom to retrieve bookshelves. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{userId}/bookshelves/{shelf}": {
            "get": {
                "description": "Retrieves a specific Bookshelf resource for the specified user.",
                "operationId": "Get_books.bookshelves.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of user for whom to retrieve bookshelves. (string)"
                    },
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf to retrieve. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves": {
            "get": {
                "description": "Retrieves a list of Bookshelf resources belonging to the authenticated user. Authentication is required.",
                "operationId": "Get_books.mylibrary.bookshelves.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves/{shelf}": {
            "get": {
                "description": "Retrieves a specific Bookshelf resource belonging to the authenticated user. Authentication is required.",
                "operationId": "Get_books.mylibrary.bookshelves.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf to retrieve. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves/{shelf}/addVolume": {
            "post": {
                "description": "Adds a volume to a mutable pre-defined or user-defined bookshelf. Authentication is required.",
                "operationId": "Create_books.mylibrary.bookshelves.addVolume_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf to which to add a volume. (string)"
                    },
                    {
                        "name": "volumeId",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of volume to add. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves/{shelf}/removeVolume": {
            "post": {
                "description": "Removes a volume from a mutable pre-defined or user-defined bookshelf. Authentication is required.",
                "operationId": "Create_books.mylibrary.bookshelves.removeVolume_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf from which to remove a volume. (string)"
                    },
                    {
                        "name": "volumeId",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of volume to remove. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves/{shelf}/clearVolumes": {
            "post": {
                "description": "Clears all volumes from a bookshelf. Authentication is required.",
                "operationId": "Create_books.mylibrary.bookshelves.clearVolumes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf from which to clear all volumes. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/volumes/{volumeId}": {
            "get": {
                "description": "Retrieves a Volume resource based on ID. Authentication is required.",
                "operationId": "Get_books.volumes.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "volumeId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of volume to retrieve. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "partner",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifier of partner for whom to brand results. (string)"
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "lite"
                        ],
                        "type": "integer",
                        "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data\n- lite: Includes a subset of fields in volumeInfo and accessInfo."
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/volumes": {
            "get": {
                "description": "Performs a book search. Authentication is required.",
                "operationId": "Get_books.volumes.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of volume to retrieve. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "download",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restrict to volumes by download availability. (string)"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "ebooks",
                            "free-ebooks",
                            "full",
                            "paid-ebooks",
                            "partial"
                        ],
                        "type": "integer",
                        "description": "Filter search results. (string)\nApplicable values:\n- ebooks: All Google eBooks.\n- free-ebooks: Google eBook with full volume text viewability.\n- full: Public can view entire volume text.\n- paid-ebooks: Google eBooks with a price.\n- partial: Public able to see parts of text."
                    },
                    {
                        "name": "langRestrict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restrict results to books with this language code. (string)"
                    },
                    {
                        "name": "libraryRestrict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restrict search to this user's library. (string)"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return. (integer, 0-40)"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "newest",
                            "relevance"
                        ],
                        "type": "integer",
                        "description": "Sort search results. (string)\nApplicable values:\n- newest: Most recently published.\n- relevance: Relevance to search terms."
                    },
                    {
                        "name": "partner",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifier of partner for whom to restrict and brand results. (string)"
                    },
                    {
                        "name": "printType",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "all",
                            "books",
                            "magazines"
                        ],
                        "type": "integer",
                        "description": "Restrict to books or magazines. (string)\nApplicable values:\n- all: All volume content types.\n- books: Just books.\n- magazines: Just magazines."
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "lite"
                        ],
                        "type": "integer",
                        "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data.\n- lite: Includes a subset of fields in volumeInfo and accessInfo."
                    },
                    {
                        "name": "showPreorders",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Set to true to show books available for preorder. Defaults to false. (boolean)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Index of the first result to return (starts at 0) (integer, 0+)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mylibrary/bookshelves/{shelf}/volumes": {
            "get": {
                "description": "Retrieves a list of Volume resources for a given bookshelf. Authentication is required.",
                "operationId": "Get_books.mylibrary.bookshelves.volumes.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The bookshelf id or name retrieve volumes for. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return (integer, 0+)"
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "lite"
                        ],
                        "type": "integer",
                        "description": "Restrict information returned to a set of selected fields. (string)\nApplicable values:\n- full: Includes all volume data.\n- lite: Includes a subset of fields in volumeInfo and accessInfo."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text search query string in this bookshelf. (string)"
                    },
                    {
                        "name": "showPreorders",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Set to true to show pre-ordered books. Defaults to false. (boolean)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Index of the first element to return (starts at 0) (integer, 0+)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{userId}/bookshelves/{shelf}/volumes": {
            "get": {
                "description": "Retrieves volumes in a specific bookshelf for the specified user.",
                "operationId": "Get_books.bookshelves.volumes.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of user for whom to retrieve bookshelf volumes. (string)"
                    },
                    {
                        "name": "shelf",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Id of bookshelf to retrieve volumes. (string)"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ISO-3166-1 code to override the IP-based location. (string)"
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to return (integer, 0+)"
                    },
                    {
                        "name": "showPreorders",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Set to true to show pre-ordered books. Defaults to false. (boolean)"
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "String to identify the originator of this request. (string)"
                    },
                    {
                        "name": "startIndex",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Index of the first element to return (starts at 0) (integer, 0+)"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Selector specifying which fields to include in a partial response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Leverage Google Books content with full-text search and book information.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "projection": {
            "title": "projection",
            "type": "integer",
            "format": "int32",
            "enum": [
                "full",
                "lite"
            ]
        },
        "filter": {
            "title": "filter",
            "type": "integer",
            "format": "int32",
            "enum": [
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
            ]
        },
        "orderBy": {
            "title": "orderBy",
            "type": "integer",
            "format": "int32",
            "enum": [
                "newest",
                "relevance"
            ]
        },
        "printType": {
            "title": "printType",
            "type": "integer",
            "format": "int32",
            "enum": [
                "all",
                "books",
                "magazines"
            ]
        }
    }
}