{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Google Spreadsheets",
        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "spreadsheets.google.com",
    "basePath": "/feeds/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/spreadsheets/{visibility}/{projection}": {
            "get": {
                "description": "Retrieves the list of spreadsheets for the authenticated user.",
                "operationId": "Get_spreadsheets.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounds on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
                    },
                    {
                        "name": "title-exact",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spreadsheets/{visibility}/{projection}/{key}": {
            "get": {
                "description": "Retrieves the only the entry for the spreadsheet associated with the provided key.",
                "operationId": "Get_spreadsheet.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/worksheets/{key}/{visibility}/{projection} ": {
            "get": {
                "description": "List all the worksheets within the spreadsheet identified by the specified key.",
                "operationId": "Get_worksheets.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
                    },
                    {
                        "name": "title-exact",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "To add a worksheet to the spreadsheet.",
                "operationId": "add.worksheet_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the search terms for the title of a document. This parameter used without title-exact will only submit partial queries, not exact queries."
                    },
                    {
                        "name": "title-exact",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Specifies whether the title query should be taken as an exact string. Meaningless without title. Possible values are true and false. Note: Matches are case-insensitive."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/worksheets/{key}/{visibility}/{projection}/{worksheetId}": {
            "get": {
                "description": "List a worksheet within the spreadsheet identified by the specified key.",
                "operationId": "Get_worksheet.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Modify the title and size of a worksheet.",
                "operationId": "update.worksheet_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/worksheets/{key}/{visibility}/{projection}/{worksheetId}/{version}": {
            "delete": {
                "description": "To delete a worksheet. If you delete a worksheet, that worksheet is completely removed from the spreadsheet and all data contained on that worksheet is discarded.",
                "operationId": "delete.worksheet_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the version of worksheet."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists."
                    }
                }
            }
        },
        "/list/{key}/{worksheetId}/{visibility}/{projection}": {
            "get": {
                "description": "Retrieving a list-based feed.",
                "operationId": "retrieve.list.based.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies what column to use in ordering the entries in the feed.\n- By position (the default): orderby=position returns rows in the order in which they appear in the GUI. Row 1, then row 2, then row 3, and so on.\n- By column: orderby=column:columnName sorts rows in ascending order based on the values in the column with the given columnName, where columnName is the value in the header row for that column."
                    },
                    {
                        "name": "reverse",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to sort in descending or ascending order. Reverses default sort order: reverse=true results in a descending sort; reverse=false (the default) results in an ascending sort."
                    },
                    {
                        "name": "sq",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Structured query on the full text in the worksheet. \n[columnName][binaryOperator][value]\nSupported binaryOperators are:\n                    o () for overriding order of operations\n                    o = or == for strict equality\n                    o <> or != for strict inequality\n                    o and or && for boolean and\n                    o or or || for boolean or\nNote that the binaryOperators need to be URL-encoded. \nExample: https://spreadsheets.google.com/feeds/list/key/worksheetId/private/full?sq=ipm<4%20and%20hours>40"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "To add a row to the worksheet.",
                "operationId": "add.row.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies what column to use in ordering the entries in the feed.\n- By position (the default): orderby=position returns rows in the order in which they appear in the GUI. Row 1, then row 2, then row 3, and so on.\n- By column: orderby=column:columnName sorts rows in ascending order based on the values in the column with the given columnName, where columnName is the value in the header row for that column."
                    },
                    {
                        "name": "reverse",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to sort in descending or ascending order. Reverses default sort order: reverse=true results in a descending sort; reverse=false (the default) results in an ascending sort."
                    },
                    {
                        "name": "sq",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Structured query on the full text in the worksheet. \n[columnName][binaryOperator][value]\nSupported binaryOperators are:\n                    o () for overriding order of operations\n                    o = or == for strict equality\n                    o <> or != for strict inequality\n                    o and or && for boolean and\n                    o or or || for boolean or\nNote that the binaryOperators need to be URL-encoded. \nExample: https://spreadsheets.google.com/feeds/list/key/worksheetId/private/full?sq=ipm<4%20and%20hours>40"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/list/{key}/{worksheetId}/{visibility}/{projection}/{rowId}": {
            "get": {
                "description": "Retrieving a list-based feed where the feed is limited to specific row.",
                "operationId": "Get_retrive.row.list.based.feeds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies row ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "To update the contents of an existing row.",
                "operationId": "update.row.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies row ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "To delete a row. If you delete a row, that row is completely removed from the worksheet.",
                "operationId": "delete.row.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "rowId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies row ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists."
                    }
                }
            }
        },
        "/cells/{key}/{worksheetId}/{visibility}/{projection}": {
            "get": {
                "description": "To retrieve cell-based feed",
                "operationId": "retrieve.cells.based.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json-in-script",
                            "atom-in-script",
                            "rss-in-script",
                            "atom-service"
                        ],
                        "type": "integer",
                        "description": "Alternative representation type.\natom: If you don't specify an alt parameter, the service returns an Atom feed.\nrss: Returns an RSS 2.0 result feed (for reads only). When you request data from a service in RSS format, the service supplies a feed (or other representation of the resource) in RSS format. If there's no equivalent RSS property for a given Data API property, the service uses the Atom property, labeling it with an appropriate namespace to indicate that it's an extension to RSS.\njson: Returns a JSON representation of the feed. More information\njson-in-script: Requests a response that wraps JSON in a script tag. More information\natom-in-script: Requests an Atom response that wraps an XML string in a script tag.\nrss-in-script: Requests an RSS response that wraps an XML string in a script tag.\natom-service: Requests an Atom service document that describes the feed."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "min-row",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Positional number of minimum row returned in query. Queries indicate an inclusive range."
                    },
                    {
                        "name": "max-row",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Positional number of maximum row returned in query. Queries indicate an inclusive range."
                    },
                    {
                        "name": "min-col",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Positional number of minimum column returned in query. Queries indicate an inclusive range."
                    },
                    {
                        "name": "max-col",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Positional number of maximum column returned in query. Queries indicate an inclusive range."
                    },
                    {
                        "name": "range",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single cell or a range of cells.\nUse standard spreadsheet cell-range notations, using a colon to separate start and end of range. Examples:\n     range=A1 and range=R1C1 both specify only cell A1.\n     range=D1:F3 and range=R1C4:R3C6 both specify the rectangle of cells with corners at D1 and F3."
                    },
                    {
                        "name": "return-empty",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "If true then empty cells will be returned in the feed. The default is false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/cells/{key}/{worksheetId}/{visibility}/{projection}/{cellId}": {
            "get": {
                "description": "Retrieves the entry for the indicated cell.",
                "operationId": "Get_retrive.cell.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "cellId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies cell ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "To clear a cell.",
                "operationId": "Update_clear.cell_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    },
                    {
                        "name": "cellId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies cell ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/cells/{key}/{worksheetId}/{visibility}/{projection}/batch": {
            "put": {
                "description": "To update an entire column, row, or other set of cells.",
                "operationId": "update.multiple.cells_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "3.0",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "visibility",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "private"
                        ],
                        "default": "private",
                        "type": "integer",
                        "description": "private: For use whenever you can authenticate the request. Read/write access if the authenticated user has edit privileges; otherwise, read-only."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies spreadsheet ID."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "full",
                            "values",
                            "basic"
                        ],
                        "type": "integer",
                        "description": "Indicates what information is included in the representation.\nfull: Full-fidelity feed; contains all spreadsheet data including formulas. Full read/write access.\nvalues:\tFeed includes all data except for formulas. Formulas are replaced with their evaluations. Includes Data API extension elements.\tRead-only access.\nbasic: Feed includes all data except for formulas. Formulas are replaced with their evaluations. This feed uses only Atom elements, leaving out all Data API extension elements. Read-only access.\nNote: All combinations of visibility and projection are valid except for public/full."
                    },
                    {
                        "name": "worksheetId",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies worksheet ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage and search Spreadsheet worksheets, cells and lists.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "visibility": {
            "title": "visibility",
            "type": "integer",
            "format": "int32",
            "enum": [
                "private"
            ]
        },
        "projection": {
            "title": "projection",
            "type": "integer",
            "format": "int32",
            "enum": [
                "full",
                "values",
                "basic"
            ]
        },
        "alt": {
            "title": "alt",
            "type": "integer",
            "format": "int32",
            "enum": [
                "atom",
                "rss",
                "json-in-script",
                "atom-in-script",
                "rss-in-script",
                "atom-service"
            ]
        }
    }
}