{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Google Sites",
        "description": "Publish and edit Sites content, including comments, revisions and pages.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "sites.google.com",
    "basePath": "/feeds/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/site/{domainName}": {
            "get": {
                "description": "Gets the sites a user has access to.",
                "operationId": "Get_sites.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "with-mappings",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "include-all-sites",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "List all sites that can be at least viewed by the user in the Google Apps domain. This parameter is only applicable when listing sites for a Google Apps domain. Possible values are true or false. Default is false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "To add, update, or delete a mapping. To update address mappings, you need to be a site admin, or a domain admin in the case of a Google Apps hosted site.",
                "operationId": "modify.web.address.mappings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "with-mappings",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": true,
                        "type": "boolean",
                        "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "include-all-sites",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "List all sites that can be at least viewed by the user in the Google Apps domain. This parameter is only applicable when listing sites for a Google Apps domain. Possible values are true or false. Default is false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "To duplicate an existing site.",
                "operationId": "Create_copy.site_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "with-mappings",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": true,
                        "type": "boolean",
                        "description": "Includes the web address mappings in a site entry. Possible values are true or false. Default is false."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "include-all-sites",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "List all sites that can be at least viewed by the user in the Google Apps domain. This parameter is only applicable when listing sites for a Google Apps domain. Possible values are true or false. Default is false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/site/{domainName}/{siteName}": {
            "get": {
                "description": "Gets the site specified.",
                "operationId": "Get_site.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "To add or update categories metadata. This feature is only available to Google Apps domains.",
                "operationId": "add.categories_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/activity/{domainName}/{siteName}": {
            "get": {
                "description": "Gets all activites within a site.",
                "operationId": "Get_activity.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/activity/{domainName}/{siteName}/{activityEntryID}": {
            "get": {
                "description": "Gets a specifies activites within a site.",
                "operationId": "get.activity_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "activityEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Activity Entry ID.}"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/revision/{domainName}/{siteName}/{contentEntryID}": {
            "get": {
                "description": "To fetch the revision history for any content entry.",
                "operationId": "get.revision.history_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "contentEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Content Entry ID."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/revision/{domainName}/{siteName}/{contentEntryID}/{revisionEntryID}": {
            "get": {
                "description": "To fetch a specify revision for any content entry.",
                "operationId": "get.revision_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "contentEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Content Entry ID."
                    },
                    {
                        "name": "revisionEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies an Revision Entry ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/content/{domainName}/{siteName}": {
            "get": {
                "description": "Lists a Sites's current content.",
                "operationId": "retrieve.site.current.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "published-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
                    },
                    {
                        "name": "published-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
                    },
                    {
                        "name": "ancestor",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests only entries that have the specified ancestor. Provide the ID of the desired ancestor entry. For example: 0123456789. Returns all entries that have the specified ancestor as a parent, a parent's parent, and so on."
                    },
                    {
                        "name": "include-deleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to include deleted entries. Possible values are true or false. Default is false."
                    },
                    {
                        "name": "include-draft",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to include draft entries. Possible values are true or false. Default is false. You need to be the owner or author of the draft to view it."
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "announcement",
                            "announcementspage",
                            "attachment",
                            "comment",
                            "filecabinet",
                            "listitem",
                            "listpage",
                            "webpage",
                            "webattachment",
                            "template"
                        ],
                        "type": "integer",
                        "description": "Specifies the kind(s) of content entries to return. These follow the type of page within Google Sites."
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests only entries that have the specified parent. Provide the ID of the parent entry. For example: 0123456789."
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests content under a certain page hierarchy. The path to a subpage within a Site to fetch content for. For example: path=/path/to/page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Web attachments are special kinds of attachments. Essentially, they're links to other files on the web that you can add to your filecabinet listings.",
                "operationId": "Create_web.attachment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Entry author. The service returns entries where the author name and/or email address match your query string."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Full-text query string. \nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3. (As with all of the query parameter values, the spaces must be URL encoded.) The service returns all entries that match all of the search terms (like using AND between terms). Like Google's web search, a service searches on complete words (and related words with the same stem), not substrings.\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\nTo exclude entries that match a given term, use the form q=-term.\nThe search is case-insensitive."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1-based index of the first result to be retrieved. Note that this isn't a general cursoring mechanism. If you first send a query with ?start-index=1&max-results=10 and then send another query with ?start-index=11&max-results=10, the service cannot guarantee that the results are equivalent to ?start-index=1&max-results=20, because insertions and deletions could have taken place in between the two queries."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of results to be retrieved. By default the API will return the first 100 documents and files in the user's resource list. To request more or less than 100 resources, use the max-results GET parameter with any resources feed URL. Valid values for this parameter are integers from 1 to 1000, inclusive."
                    },
                    {
                        "name": "updated-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "updated-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry update date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive. In some cases (such as when using v2.1 or newer of the Calendar Data API), specifying an updated-min that is too far in the past will cause an HTTP 410 (Gone) status to be returned."
                    },
                    {
                        "name": "published-min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
                    },
                    {
                        "name": "published-max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bound on the entry publication date. Use the RFC 3339 timestamp format. For example: 2005-08-09T10:57:00-08:00. The lower bound is inclusive, whereas the upper bound is exclusive."
                    },
                    {
                        "name": "ancestor",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests only entries that have the specified ancestor. Provide the ID of the desired ancestor entry. For example: 0123456789. Returns all entries that have the specified ancestor as a parent, a parent's parent, and so on."
                    },
                    {
                        "name": "include-deleted",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to include deleted entries. Possible values are true or false. Default is false."
                    },
                    {
                        "name": "include-draft",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Specifies whether to include draft entries. Possible values are true or false. Default is false. You need to be the owner or author of the draft to view it."
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "announcement",
                            "announcementspage",
                            "attachment",
                            "comment",
                            "filecabinet",
                            "listitem",
                            "listpage",
                            "webpage",
                            "webattachment",
                            "template"
                        ],
                        "type": "integer",
                        "description": "Specifies the kind(s) of content entries to return. These follow the type of page within Google Sites."
                    },
                    {
                        "name": "parent",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests only entries that have the specified parent. Provide the ID of the parent entry. For example: 0123456789."
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Requests content under a certain page hierarchy. The path to a subpage within a Site to fetch content for. For example: path=/path/to/page."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/content/{domainName}/{siteName}/{contentEntryID}": {
            "get": {
                "description": "Get a specific content.",
                "operationId": "retrieve.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "contentEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Content Entry ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/content/{domainName}/{siteName}/{entryID}": {
            "put": {
                "description": "To update an entry's metadata or HTML content.",
                "operationId": "update.item.or.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "entryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies entry ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "To remove an item from a Google Site.",
                "operationId": "delete.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "If-Match",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "ETag or * here."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "entryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies entry ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages."
                    }
                }
            }
        },
        "/media/content/{domainName}/{siteName}/{attchmentEntryID}": {
            "put": {
                "description": "To update both an attachment's metadata and its content at the same time.",
                "operationId": "update.attachment.metadata.content_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "multipart/related; boundary=END_OF_PART",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "attchmentEntryID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies Attchment Entry ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/acl/site/{domainName}/{siteName}": {
            "get": {
                "description": "To retrieve a site's sharing permissions.",
                "operationId": "retrieve.acl.feed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "To insert a new role into the ACL feed.",
                "operationId": "Create_sharing.site_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/acl/site/{domainName}/{siteName}/user%3A{user_mail}": {
            "put": {
                "description": "To update an ACL entry.",
                "operationId": "modify.sharing.permissions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "user_mail",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "User mail. Example: new_writer%40example.com."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "To remove permissions for an user.",
                "operationId": "remove.sharing.permissions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    },
                    {
                        "name": "user_mail",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "User mail. Example: new_writer%40example.com."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages."
                    }
                }
            }
        },
        "/content/{domainName}/{siteName}/batch": {
            "post": {
                "description": "Batch requests gives your client the ability to execute multiple operations in one request, rather than submitting each operation individually.",
                "operationId": "Create_batch.request_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "GData-Version",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "1.4",
                        "type": "string",
                        "description": "Specifies a version number."
                    },
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "domainName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "'site' or the domain of your Google Apps hosted domain (e.g. example.com)."
                    },
                    {
                        "name": "siteName",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The webspace name of your site; found in the Site's URL (e.g. myCoolSite)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish and edit Sites content, including comments, revisions and pages.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "kind": {
            "title": "kind",
            "type": "integer",
            "format": "int32",
            "enum": [
                "announcement",
                "announcementspage",
                "attachment",
                "comment",
                "filecabinet",
                "listitem",
                "listpage",
                "webpage",
                "webattachment",
                "template"
            ]
        }
    }
}