{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Heroku",
        "description": "Manage your Heroku apps, configs, collaborators & resources",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.heroku.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/addons": {
            "get": {
                "description": "List all available addons.",
                "operationId": "listAddons_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/addons": {
            "get": {
                "description": "List addons installed on an app.",
                "operationId": "listAppAddons_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/addons/{addon}": {
            "put": {
                "description": "Upgrade an addon to an app.",
                "operationId": "Update_upgradeAppAddon_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "addon",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "the addon name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Install an addon to an app.",
                "operationId": "Create_installAppAddon_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "addon",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "the addon name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Uninstall an addon from an app.",
                "operationId": "Delete_uninstallAppAddon_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "addon",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "the addon name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/apps": {
            "get": {
                "description": "List apps.",
                "operationId": "listApps_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Create an app.",
                "operationId": "createApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{name}": {
            "get": {
                "description": "Get info for an app.",
                "operationId": "getAppInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Destroy an app.",
                "operationId": "destroyApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/apps/{app}/collaborators": {
            "get": {
                "description": "List collaborators for an app.",
                "operationId": "listCollaborators_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/collaborators/{email}": {
            "delete": {
                "description": "Remove a collaborator from an app.",
                "operationId": "removeCollaborator_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The email of the user to remove as a collaborator."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/apps/{app}/config_vars": {
            "get": {
                "description": "List config vars for an app.",
                "operationId": "listConfigVars_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Add config vars to an app.",
                "operationId": "addConfigVars_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/config_vars/{key}": {
            "delete": {
                "description": "Remove a config var from an app.",
                "operationId": "removeConfigVar_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The config var to remove."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/apps/{app}/domains": {
            "get": {
                "description": "List domains for an app.",
                "operationId": "listDomains_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/domains/{domain_name}": {
            "delete": {
                "description": "Remove a domain from an app.",
                "operationId": "removeDomain_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "domain_name",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The domain to remove."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/user/keys": {
            "get": {
                "description": "List SSH keys.",
                "operationId": "listSSHkeys_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Associate an SSH key with this account.",
                "operationId": "Create_associateSSHkey_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/keys/{key}": {
            "delete": {
                "description": "Remove an SSH key from this account.",
                "operationId": "removeSSHkey_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The username@hostname description field of the key."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources"
                    }
                }
            }
        },
        "/apps/{app}/logs": {
            "get": {
                "description": "Get logs for an app.",
                "operationId": "getAppLogs_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "logplex",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "true",
                        "type": "string",
                        "description": "Use logplex to stream logs (always true)."
                    },
                    {
                        "name": "num",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of lines to display."
                    },
                    {
                        "name": "ps",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Only display logs from a given process."
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Only display logs from a given source."
                    },
                    {
                        "name": "tail",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "1: continually stream logs - <blank>: display only num logs"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/ps": {
            "get": {
                "description": "List processes for an app.",
                "operationId": "ListProcesses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Run a one-off process.",
                "operationId": "Create_runOne-offProcess_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "command",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The command to run."
                    },
                    {
                        "name": "attach",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "true: use rendezvous to access stdin/stdout - <blank>: stream process output to the application log"
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/ps/restart": {
            "post": {
                "description": "Restart processes of an app. Specify either ps or type to restart only the specified processes. Leave both blank to restart the entire app.",
                "operationId": "Create_restartProcesses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "ps",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of a process to restart."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The type of process to restart."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/ps/stop": {
            "post": {
                "description": "Stop processes of an app. Specify either ps or type to stop the specified processes.",
                "operationId": "Create_stopProcesses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/ps/scale": {
            "post": {
                "description": "Scale processes of an app.",
                "operationId": "Create_scaleProcesses_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The type of process to scale."
                    },
                    {
                        "name": "qty",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The desired number of processes of this type."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/releases": {
            "get": {
                "description": "List releases for an app.",
                "operationId": "listReleases_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Rollback to a release.",
                "operationId": "Create_rollbackToRelease_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "rollback",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The release to which to roll back."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/releases/{release}": {
            "get": {
                "description": "Get info for a release.",
                "operationId": "getReleaseInfo_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    },
                    {
                        "name": "release",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The release name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/apps/{app}/stack": {
            "get": {
                "description": "List available stacks for an app.",
                "operationId": "listStacks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Migrate an app to a new stack.",
                "operationId": "Update_migrateApp_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/json",
                        "type": "object",
                        "description": "Content type."
                    },
                    {
                        "name": "app",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The app name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Manage your Heroku apps, configs, collaborators & resources",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}