{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "NYTimes",
        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.nytimes.com",
    "basePath": "/svc/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/search/v1/article": {
            "get": {
                "description": "With the Article Search API, you can search New York Times articles from 1981 to today, retrieving headlines, abstracts, lead paragraphs, links to associated multimedia and other article metadata. Along with standard keyword searching, the API also offers faceted searching. The available facets include Times-specific fields such as sections, taxonomic classifiers and controlled vocabulary terms (names of people, organizations and geographic locations).",
                "operationId": "Get_article_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search keywords (optionally applied to specific fields) and/or facets. Keywords can be specified with or without a limiting \"field:\" label. Facets must be specified in the format \"facet-field:[facet-value]\". See \"Constructing a Search Query\" in the API docs for more information and examples."
                    },
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "629a39d0768609d31fee424b52fbb704:5:64325990",
                        "type": "string",
                        "description": "API Key for Article Search API."
                    },
                    {
                        "name": "begin_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Sets the starting point (inclusive) of the range of publication dates to return. Must be used with end_date. Format: YYYYMMDD"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Sets the end point (inclusive) of the range of publication dates to return. Must be used with begin_date. Format: YYYYMMDD"
                    },
                    {
                        "name": "facets",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma-delimited list of up to 5 facets. Specifies the sets of facet values to include in the facets array at the beginning of response, which collects the facet values from all the search results. See API docs for more info."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma-delimited list of fields (no limit). Specifies the fields (including facets) you want return for each search result. By default (unless you include a fields list in your request), the following fields are returned for each result: body, byline, date, title, url. To return only the array of facet values (no search results), set fields to a blank space (encoded: fields=+) and include the facets parameter. See API docs for more info."
                    },
                    {
                        "name": ".format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Response format. Currently, only JSON is supported. Default: json"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The value of offset corresponds to a set of 10 results (it does not indicate the starting number of the result set). For example, offset=0 corresponds to records 0-9. To return records 10-19, set offset to 1, not 10. Range: 0 to last set of ten. Default: 0"
                    },
                    {
                        "name": "rank",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "newest",
                        "type": "string",
                        "description": "Use the rank parameter to set the order of the results. Accepted values: newest (default), oldest, closest"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/books/{version}/lists{.format}": {
            "get": {
                "description": "Searches for best-seller list data. See API docs for more information about search parameters.",
                "operationId": "search_best_seller_lists_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "list-name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Required list name search parameter. be sure to replace spaces with hyphens (e.g., \"e-book-fiction\" or \"hardcover-fiction\", not \"E-Book Fiction\" or \"Hardcover Fiction\"). (The parameter is not case sensitive.) Can also be passed as list; the two labels are provided for ease of use."
                    },
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
                        "type": "string",
                        "description": "API Key for Best Sellers API."
                    },
                    {
                        "name": "bestsellers-date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "list",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "published-date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "rank",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "rank-last-week",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "weeks-on-list",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional search parameter. See API docs for more info."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Sets the starting point of the result set. The first 20 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=20 displays results 21–40). Accepted values: positive integer, multiple of 20"
                    },
                    {
                        "name": "sort-by",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rank",
                        "type": "string",
                        "description": "For details on the available sort options, see API docs. If you do not specify a sort-by value, the results will be sorted by best-seller rank. Accepted values: bestsellers-date, date, isbn, list, list-name, published-date, rank, rank-last-week, weeks-on-list"
                    },
                    {
                        "name": "sort-order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "ASC",
                        "type": "string",
                        "description": "Sets the sort order of the result set. The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type. Accepted values: ASC (ascending), DESC (descending)"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v2",
                        "type": "string",
                        "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/books/{version}/lists/best-sellers/history{.format}": {
            "get": {
                "description": "Returns the history of a best seller (its rank and number of weeks on the various Times best-seller lists).",
                "operationId": "get_best_seller_history_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
                        "type": "string",
                        "description": "API Key for Best Sellers API."
                    },
                    {
                        "name": "age-group",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "contributor",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "publisher",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search parameter; at least one is required. See API docs for more info."
                    },
                    {
                        "name": "sort-by",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "rank",
                        "type": "string",
                        "description": "For details on the available sort options, see API docs. If you do not specify a sort-by value, the results will be sorted by title (exception: if you are searching by ISBN, the results will be sorted by ISBN). Accepted values: age-group, author, contributor, isbn, price, publisher, title"
                    },
                    {
                        "name": "sort-order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "ASC",
                        "type": "string",
                        "description": "Sets the sort order of the result set. The default is ASC (ascending). The sort-order parameter is used with the sort-by parameter — for details, see each request type. Accepted values: ASC (ascending), DESC (descending)"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v2",
                        "type": "string",
                        "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "type": "string",
                        "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/books/{version}/lists/names{.format}": {
            "get": {
                "description": "Returns the complete set of Times best-seller list names.",
                "operationId": "get_best_seller_list_names_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "d28cb3126eae332c6279f9dedf4bb830:10:64325990",
                        "type": "string",
                        "description": "API Key for Best Sellers API."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v2",
                        "type": "string",
                        "description": "The API version. The current version is v2. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/candidates/search{.format}": {
            "get": {
                "description": "Searches for Congressional and presidential candidates by last name.",
                "operationId": "Get_candidate_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "lname",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The candidate last name or partial last name. Examples: Greene (retrieves Greene), Robin (retrieves both Robin and Robinson)"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/candidates/{fec-id}{.format}": {
            "get": {
                "description": "Retrieves campaign finance details for a particular candidate (presidential or Congressional)",
                "operationId": "Get_candidate_details_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "fec-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each candidate. Note that this request type uses the candidate ID, not the committee ID used in the Presidential Candidate Details request type. To find a candidate's official FEC ID, use a candidate search request or the FEC web site. Format: P | H | S + 9 digits (P = President; H = House; S = Senate)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/candidates/leaders/{category}{.format}": {
            "get": {
                "description": "Retrieves the top 20 candidates in a specific category (such as contribution total or debts owed)",
                "operationId": "Get_candidate_leaders_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "One of the following categories: candidate-loan, contribution-total, debts-owed, disbusements-total, end-cash, individual-total, pac-total, receipts-total, refund-total"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/seats/{state}/{chamber}/{district}{.format}": {
            "get": {
                "description": "Retrieves House and Senate candidates for a particular state (and optional chamber and district)",
                "operationId": "Get_state_candidates_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Two-letter state abbreviation"
                    },
                    {
                        "name": "chamber",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accepted values: house, senate. Optional."
                    },
                    {
                        "name": "district",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "House of Representatives district number. For \"at large\" districts (Alaska, Delaware, Montana, North Dakota, South Dakota, Vermont and Wyoming), specify the number 1. If you do not specify a district, all House candidates for state will be returned. If you specify a district in a Senate request, it will be ignored. Optional."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "One of the following categories: candidate-loan, contribution-total, debts-owed, disbusements-total, end-cash, individual-total, pac-total, receipts-total, refund-total"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/candidates/new{.format}": {
            "get": {
                "description": "Retrieves the 20 most recently added candidates.",
                "operationId": "Get_new_candidates_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. NOTE: Only the current campaign cycle is supported. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/search{.format}": {
            "get": {
                "description": "Searches for political committee by full or partiatl name.",
                "operationId": "Get_committee_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The committee name or partial name. Examples: medicare, viacom"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}{.format}": {
            "get": {
                "description": "Returns details about a committee by FEC ID.",
                "operationId": "Get_committee_details_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "fec-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. Format: C + 9 digits"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/new{.format}": {
            "get": {
                "description": "Retrieves the 20 most recently added committees.",
                "operationId": "Get_new_committees_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. NOTE: Only the curent campaign cycle is supported. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/contributions/{.format}": {
            "get": {
                "description": "Retrieves all available data about a particular committee's contributions to candidates.",
                "operationId": "Get_committee_contributions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The value of offset corresponds to a set of 10 results (it does not indicate the starting number of the result set). For example, offset=0 corresponds to records 0-9. To return records 10-19, set offset to 1, not 10. Range: 0 to last set of ten. Default: 0"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "fec-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. Format: C + 9 digits"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/contributions/candidates/{candidate-id}{.format}": {
            "get": {
                "description": "Retrieves committee contributions to a particular candidate.",
                "operationId": "Get_committee_contributions_to_candidate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "fec-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. If the fec-id does not exist in the data for the specified campaign-cycle, a 404 will be returned. Format: C + 9 digits"
                    },
                    {
                        "name": "candidate-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each candidate. To find a candidate's official FEC ID, use a candidate search request or the FEC web site. If the candidate-id does not exist in the data for the specified committee in the specified campaign-cycle, a 404 will be returned. Format: P | H | S + 9 digits (P = President; H = House; S = Senate)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/{fec-id}/filings{.format}": {
            "get": {
                "description": "Retrieves a committee's electronic filings. Electronic filings are available back to 2001. Paper filings by Senate candidate committees and senatorial party committees go back to 1999.",
                "operationId": "Get_committee_filings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "fec-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC assigns a unique ID to each committee. To find a committee's official FEC ID, use a committee search request or the FEC web site. If the fec-id does not exist in the data for the specified campaign-cycle, a 404 will be returned. Format: C + 9 digits"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/committees/leadership{.format}": {
            "get": {
                "description": "Retrieves committees designated as \"leadership PACs\" by the FEC.",
                "operationId": "Get_leadership_committees_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/president/totals{.format}": {
            "get": {
                "description": "Retrieves totals (receipts and disbursements) for all presidential candidates for a particular campaign cycle.",
                "operationId": "Get_presidential_candidate_totals_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/president/candidates/{candidate-name-or-committeeID}{.format}": {
            "get": {
                "description": "Retrieves campaign finance details for a particular presidential candidate. This request type is for presidential candidates only, and is provided for backward compatibility with version 2 of the Campaign Finance API. Responses vary slightly from the main version 3 Candidate Details response.",
                "operationId": "Get_presidential_candidate_details_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "candidate-name-or-committeeID",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Either the candidate's name, or the FEC committee ID. Candidate name format: {last-name}[,first-name]    (first-name is optional) If you include a first name, there should be no space after the comma. If you do not include a first-name, data will be returned for all candidates with the last-name you specify. Committee ID format: C + 9 digits. The FEC assigns a unique ID to each campaign committee. Note that this request type uses the committee ID, not the candidate ID used in the main Candidate Details request type."
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/president/{resource-type}/{location}{.format}": {
            "get": {
                "description": "Retrieves totals (donations to all presidential candidates) for a particular location.",
                "operationId": "Get_presidential_state_zip_totals_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "resource-type",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Accepted values: states, zips"
                    },
                    {
                        "name": "location",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Two-letter state abbreviation (for the states resource type) or five-digit ZIP code (for the zips resource type)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/president/contributions/donorsearch{.format}": {
            "get": {
                "description": "Retrieves information about an individual donor to a presidential campaign or get a summary of donors in a particular location.",
                "operationId": "Get_presidential_donor_information_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "lname",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A donor's last name. Specify either this or both (with zip), but not neither. Example: paley"
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "A donor's ZIP code location. Specify either this or both (with lname), but not neither. Example: 11797"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/filings/{year}/{month}/{day}{.format}": {
            "get": {
                "description": "Returns metadata for FEC reports filed electronically on a specific date. Electronic filings are available back to 2001. Paper filings by Senate candidate committees and senatorial party committees go back to 1999.",
                "operationId": "Get_electronic_filings_by_date_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "year",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: YYYY"
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: MM"
                    },
                    {
                        "name": "day",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date the documents were filed. Note that some filings (such as correspondence to the FEC) do not reflect campaign activity for a particular time period but still have a filing date. Format: DD"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/filings/types{.format}": {
            "get": {
                "description": "Returns a list of available form types for FEC electronic filings.",
                "operationId": "Get_electronic_filing_form_types_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/elections/us/{version}/finances/{campaign-cycle}/filings/types/{form-type-id}{.format}": {
            "get": {
                "description": "Retrieves FEC electronic filings by form type.",
                "operationId": "Get_electronic_filings_by_type_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "9746e90579a5e13719708aceb37ad848:0:64325990",
                        "type": "string",
                        "description": "API Key for Campaign Finance API."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "JSONP callback function. As of February 2011, the Campaign Finance API supports JSONP requests."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v3",
                        "type": "string",
                        "description": "The API version. The current version is v3. Support for version 2 ended in February 2011. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": "campaign-cycle",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An even numbered year representing the campaign cycle. Presidential data: 2008–present. Congressional data: 2000–present. Format: YYYY"
                    },
                    {
                        "name": "form-type-id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The FEC electronic filing form type ID. To get form type IDs, use an electronic filing form types request. Format: F + integer"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return JSON, add the .json extension to your request URI. XML is the default format; you do not need to add the .xml extension to get an XML response. Accepted values: json (implicit default), xml"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/community/{version}/comments/recent{.format}": {
            "get": {
                "description": "Retrieve the most recent user comments.",
                "operationId": "Get_recent_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
                        "type": "string",
                        "description": "API Key for Community API."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Sets the starting point of the result set. The first 25 results are shown by default. To page through the results, set offset to the appropriate value (e.g., offset=25 displays results 26-50). Format: positive integer, multiple of 25"
                    },
                    {
                        "name": "force-replies",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Limits the results to comments that have been replied to. Accepted values: 1 (limit is set), 0 (limit is not set)"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Sets the sort order of the result set. See API docs for more details. Accepted values: newest, oldest, recommended, replied, editors-selection"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v2",
                        "type": "string",
                        "description": "The current version is v2. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml",
                            "sphp"
                        ],
                        "default": "json",
                        "type": "string",
                        "description": "Sets the representation data format. To return XML or serialized PHP, add the appropriate extension to your request URI. JSON is the default format; you do not need to add the .json extension to get a JSON response. Accepted values: json (implicit default), xml, sphp"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find breaking news, multimedia, reviews and opinion on Washington, business, sports, movies and more."
                    }
                }
            }
        },
        "/community/{version}/comments/random{.format}": {
            "get": {
                "description": "Retrieve a random set of user comments (50 records)",
                "operationId": "Get_random_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "api-key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "ffd13be0b6e879f3cee1075d3c05a59f:11:64325990",
                        "type": "string",
                        "description": "API Key for Community API."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "v2",
                        "type": "string",
                        "description": "The current version is v2. (Version 1 is for internal use only.)"
                    },
                    {
                        "name": ".format",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "json",
[...]
