{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Salesforce Sandbox",
        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "na14.salesforce.com",
    "basePath": "/services/data/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "description": "Lists summary information about each Salesforce version currently available, including the version, label, and a link to each version's root.",
                "operationId": "getVersions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}": {
            "get": {
                "description": "Lists available resources for the specified API version, including resource name and URI.",
                "operationId": "getResources_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/sobjects": {
            "get": {
                "description": "Lists the available objects and their metadata for your organization's data. In addition, it provides the organization encoding, as well as maximum batch size permitted in queries. For more information, see Internationalization and Character Sets (http://www.salesforce.com/us/developer/docs/api/Content/implementation_considerations.htm#sforce_api_other_internationalization).",
                "operationId": "getObjects_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/sobjects/{sobject}": {
            "get": {
                "description": "Retrieves the metadata for an object.",
                "operationId": "getBasicObjectMetadata_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new object.",
                "operationId": "createObject_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/sobjects/{sobject}/describe": {
            "get": {
                "description": "Completely describes the individual metadata at all levels for the specified object. For example, this can be used to retrieve the fields, URLs, and child relationships for the Account object.",
                "operationId": "getAllObjectMetadata_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/sobjects/{sobject}/{id}": {
            "get": {
                "description": "Retrieves individual records for an object.",
                "operationId": "getObject_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional list of fields used to return values for."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's object ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a record.",
                "operationId": "deleteObject_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's object ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment."
                    }
                }
            }
        },
        "/{version}/sobjects/{sobject}/{id}/{blobField}": {
            "get": {
                "description": "Retrieves the specified blob field from an individual record. Because blob fields contain binary data, you can't use JSON or XML to retrieve this data.",
                "operationId": "getObjectBlobField_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional list of fields used to return values for."
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "sobject",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "Account",
                            "AccountContactRole",
                            "AccountFeed",
                            "AccountHistory",
                            "AccountPartner",
                            "AccountShare",
                            "ActivityHistory",
                            "AdditionalNumber",
                            "AggregateResult",
                            "ApexClass",
                            "ApexComponent",
                            "ApexLog",
                            "ApexPage",
                            "ApexTestQueueItem",
                            "ApexTestResult",
                            "ApexTrigger",
                            "Approval",
                            "Asset",
                            "AssetFeed",
                            "AssignmentRule",
                            "AsyncApexJob",
                            "Attachment",
                            "BrandTemplate",
                            "BusinessHours",
                            "BusinessProcess",
                            "CallCenter",
                            "Campaign",
                            "CampaignFeed",
                            "CampaignMember",
                            "CampaignMemberStatus",
                            "CampaignShare",
                            "Case",
                            "CaseComment",
                            "CaseContactRole",
                            "CaseFeed",
                            "CaseHistory",
                            "CaseShare",
                            "CaseSolution",
                            "CaseStatus",
                            "CaseTeamMember",
                            "CaseTeamRole",
                            "CaseTeamTemplate",
                            "CaseTeamTemplateMember",
                            "CaseTeamTemplateRecord",
                            "CategoryData",
                            "CategoryNode",
                            "ChatterActivity",
                            "CollaborationGroup",
                            "CollaborationGroupFeed",
                            "CollaborationGroupMember",
                            "CollaborationGroupMemberRequest",
                            "CollaborationInvitation",
                            "Community",
                            "Contact",
                            "ContactFeed",
                            "ContactHistory",
                            "ContactShare",
                            "ContentDocument",
                            "ContentDocumentFeed",
                            "ContentDocumentHistory",
                            "ContentDocumentLink",
                            "ContentVersion",
                            "ContentVersionHistory",
                            "Contract",
                            "ContractContactRole",
                            "ContractFeed",
                            "ContractHistory",
                            "ContractStatus",
                            "CronTrigger",
                            "Dashboard",
                            "DashboardComponent",
                            "DashboardComponentFeed",
                            "DashboardFeed",
                            "Document",
                            "DocumentAttachmentMap",
                            "EmailServicesAddress",
                            "EmailServicesFunction",
                            "EmailStatus",
                            "EmailTemplate",
                            "EntitySubscription",
                            "Event",
                            "EventAttendee",
                            "EventFeed",
                            "FeedComment",
                            "FeedItem",
                            "FeedLike",
                            "FeedTrackedChange",
                            "FieldPermissions",
                            "FiscalYearSettings",
                            "Folder",
                            "ForecastShare",
                            "Group",
                            "GroupMember",
                            "Holiday",
                            "Idea",
                            "IdeaComment",
                            "Lead",
                            "LeadFeed",
                            "LeadHistory",
                            "LeadShare",
                            "LeadStatus",
                            "LoginHistory",
                            "MailmergeTemplate",
                            "Name",
                            "NewsFeed",
                            "Note",
                            "NoteAndAttachment",
                            "ObjectPermissions",
                            "OpenActivity",
                            "Opportunity",
                            "OpportunityCompetitor",
                            "OpportunityContactRole",
                            "OpportunityFeed",
                            "OpportunityFieldHistory",
                            "OpportunityHistory",
                            "OpportunityLineItem",
                            "OpportunityPartner",
                            "OpportunityShare",
                            "OpportunityStage",
                            "OrgWideEmailAddress",
                            "Organization",
                            "Partner",
                            "PartnerRole",
                            "Period",
                            "PermissionSet",
                            "PermissionSetAssignment",
                            "Position__Feed",
                            "Position__c",
                            "Pricebook2",
                            "PricebookEntry",
                            "ProcessInstance",
                            "ProcessInstanceHistory",
                            "ProcessInstanceStep",
                            "ProcessInstanceWorkitem",
                            "Product2",
                            "Product2Feed",
                            "Profile",
                            "PushTopic",
                            "QueueSobject",
                            "RecordType",
                            "Report",
                            "ReportFeed",
                            "SelfServiceUser",
                            "Site",
                            "SiteDomain",
                            "SiteFeed",
                            "SiteHistory",
                            "Solution",
                            "SolutionFeed",
                            "SolutionHistory",
                            "SolutionStatus",
                            "StaticResource",
                            "Task",
                            "TaskFeed",
                            "TaskPriority",
                            "TaskStatus",
                            "User",
                            "UserFeed",
                            "UserLicense",
                            "UserPreference",
                            "UserProfileFeed",
                            "UserRecordAccess",
                            "UserRole",
                            "Vote",
                            "WebLink"
                        ],
                        "type": "integer",
                        "description": "A Salesforce's object."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's object ID."
                    },
                    {
                        "name": "blobField",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's object blob field."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/sobjects/User/{id}/password": {
            "get": {
                "description": "Gets password expiration status for a given user. The session must have permission to access the given user password information, otherwise an error response is returned.",
                "operationId": "getUserPasswordExpirationStatus_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's user ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Changes the password for a given user ID. The new password must conform to the password policies for the organization, otherwise you will get an error response. You can only change one password per request.",
                "operationId": "Create_setUserPassword_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's user ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Resets an user password. Salesforce will reset the user password to an auto-generated password, which will be returned in the response.",
                "operationId": "Delete_resetUserPassword_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A Salesforce's user ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment."
                    }
                }
            }
        },
        "/{version}/query": {
            "get": {
                "description": "Executes the specified SOQL query. If the initial query returns only part of the results, the end of the response will contain a field called nextRecordsUrl. In such cases, use the resource {version}/query/{id} to request the next batch of records and repeat until all records have been retrieved.",
                "operationId": "Get_executeSoqlQuery_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "SELECT+name+from+Account",
                        "type": "string",
                        "description": "A SOQL query."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/query/{id}": {
            "get": {
                "description": "Retrieves the remaining SOQL query results using the identifier within the field \"nextRecordsUrl\" value (i.e. \"nextRecordsUrl\" : \"/services/data/v24.0/query/01gD0000002HU6KIAW-2000\") located at the end of the initial query results. Requests the next batch of records and you could repeat (using the corresponding identifier) until all records have been retrieved.",
                "operationId": "getQueryResultBatch_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An identifier used to retrieve the remaining results."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{version}/search": {
            "get": {
                "description": "Executes the specified SOSL search. The search string must be URL-encoded.",
                "operationId": "Get_executeSoqlSearch_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "v20.0",
                            "v21.0",
                            "v22.0",
                            "v23.0",
                            "v24.0"
                        ],
                        "default": "v24.0",
                        "type": "integer",
                        "description": "An API version."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "FIND+%7Btest%7D",
                        "type": "string",
                        "description": "A SOSL statement."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create sandbox copies of your environments for development, testing, and training without compromising the data and applications in your production environment.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "version": {
            "title": "version",
            "type": "integer",
            "format": "int32",
            "enum": [
                "v20.0",
                "v21.0",
                "v22.0",
                "v23.0",
                "v24.0"
            ]
        },
        "sobject": {
            "title": "sobject",
            "type": "integer",
            "format": "int32",
            "enum": [
                "Account",
                "AccountContactRole",
                "AccountFeed",
                "AccountHistory",
                "AccountPartner",
                "AccountShare",
                "ActivityHistory",
                "AdditionalNumber",
                "AggregateResult",
                "ApexClass",
                "ApexComponent",
                "ApexLog",
                "ApexPage",
                "ApexTestQueueItem",
                "ApexTestResult",
                "ApexTrigger",
                "Approval",
                "Asset",
                "AssetFeed",
                "AssignmentRule",
                "AsyncApexJob",
                "Attachment",
                "BrandTemplate",
                "BusinessHours",
                "BusinessProcess",
                "CallCenter",
                "Campaign",
                "CampaignFeed",
                "CampaignMember",
                "CampaignMemberStatus",
                "CampaignShare",
                "Case",
                "CaseComment",
                "CaseContactRole",
                "CaseFeed",
                "CaseHistory",
                "CaseShare",
                "CaseSolution",
                "CaseStatus",
                "CaseTeamMember",
                "CaseTeamRole",
                "CaseTeamTemplate",
                "CaseTeamTemplateMember",
                "CaseTeamTemplateRecord",
                "CategoryData",
                "CategoryNode",
                "ChatterActivity",
                "CollaborationGroup",
                "CollaborationGroupFeed",
                "CollaborationGroupMember",
                "CollaborationGroupMemberRequest",
                "CollaborationInvitation",
                "Community",
                "Contact",
                "ContactFeed",
                "ContactHistory",
                "ContactShare",
                "ContentDocument",
                "ContentDocumentFeed",
                "ContentDocumentHistory",
                "ContentDocumentLink",
                "ContentVersion",
                "ContentVersionHistory",
                "Contract",
                "ContractContactRole",
                "ContractFeed",
                "ContractHistory",
                "ContractStatus",
                "CronTrigger",
                "Dashboard",
                "DashboardComponent",
                "DashboardComponentFeed",
                "DashboardFeed",
                "Document",
                "DocumentAttachmentMap",
                "EmailServicesAddress",
                "EmailServicesFunction",
                "EmailStatus",
                "EmailTemplate",
                "EntitySubscription",
                "Event",
                "EventAttendee",
                "EventFeed",
                "FeedComment",
                "FeedItem",
                "FeedLike",
                "FeedTrackedChange",
                "FieldPermissions",
                "FiscalYearSettings",
                "Folder",
                "ForecastShare",
                "Group",
                "GroupMember",
                "Holiday",
                "Idea",
                "IdeaComment",
                "Lead",
                "LeadFeed",
                "LeadHistory",
                "LeadShare",
                "LeadStatus",
                "LoginHistory",
                "MailmergeTemplate",
                "Name",
                "NewsFeed",
                "Note",
                "NoteAndAttachment",
                "ObjectPermissions",
                "OpenActivity",
                "Opportunity",
                "OpportunityCompetitor",
                "OpportunityContactRole",
                "OpportunityFeed",
                "OpportunityFieldHistory",
                "OpportunityHistory",
                "OpportunityLineItem",
                "OpportunityPartner",
                "OpportunityShare",
                "OpportunityStage",
                "OrgWideEmailAddress",
                "Organization",
                "Partner",
                "PartnerRole",
                "Period",
                "PermissionSet",
                "PermissionSetAssignment",
                "Position__Feed",
                "Position__c",
                "Pricebook2",
                "PricebookEntry",
                "ProcessInstance",
                "ProcessInstanceHistory",
                "ProcessInstanceStep",
                "ProcessInstanceWorkitem",
                "Product2",
                "Product2Feed",
                "Profile",
                "PushTopic",
                "QueueSobject",
                "RecordType",
                "Report",
                "ReportFeed",
                "SelfServiceUser",
                "Site",
                "SiteDomain",
                "SiteFeed",
                "SiteHistory",
                "Solution",
                "SolutionFeed",
                "SolutionHistory",
                "SolutionStatus",
                "StaticResource",
                "Task",
                "TaskFeed",
                "TaskPriority",
                "TaskStatus",
                "User",
                "UserFeed",
                "UserLicense",
                "UserPreference",
                "UserProfileFeed",
                "UserRecordAccess",
                "UserRole",
                "Vote",
                "WebLink"
            ]
        }
    }
}