{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "SendGrid",
        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "sendgrid.com",
    "basePath": "/apiv2/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/blocks.get.{format}": {
            "get": {
                "description": "Retrieves a list of Blocks with addresses and response codes, optionally with dates.",
                "operationId": "Get_blocks.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the timestamp of the Block records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past for which to retrieve blocks (includes today). If specified, must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the date range for which to retrieve blocks. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the date range for which to retrieve blocks. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/blocks.delete.{format}": {
            "get": {
                "description": "Deletes an address from the Block list.",
                "operationId": "Get_blocks.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email block address to remove. Must be a valid user account email."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/bounces.get.{format}": {
            "get": {
                "description": "Retrieves a list of bounces with addresses and response codes, optionally with dates.",
                "operationId": "Get_bounces.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the timestamp of the bounce records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past for which to retrieve bounces (includes today). If specified, must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the date range for which to retrieve bounces. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the date range for which to retrieve bounces. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Limit the number of results returned."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Beginning point in the list to retrieve from."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "hard",
                            "soft"
                        ],
                        "type": "string",
                        "description": "The type of bounce to search for. Valid values: hard or soft."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email addresses to search for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/bounces.delete.{format}": {
            "get": {
                "description": "Deletes an address from the Bounce list. Please note that if no parameters are specified the ENTIRE list will be deleted.",
                "operationId": "Get_bounces.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Date to start deleting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Date to end deleting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "hard",
                            "soft"
                        ],
                        "type": "string",
                        "description": "The type of bounce to be removed. Valid values: hard or soft."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email bounce address to remove."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/bounces.count.{format}": {
            "get": {
                "description": "Counts the total number of bounces.",
                "operationId": "Get_bounces.count_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "hard",
                            "soft"
                        ],
                        "type": "string",
                        "description": "The type of bounce to search for. Valid values: hard or soft."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/eventposturl.get.{format}": {
            "get": {
                "description": "Retrieves the event notification URL which currently receives event notifications.",
                "operationId": "Get_eventposturl.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/eventposturl.set.{format}": {
            "get": {
                "description": "Sets the event notification URL.",
                "operationId": "Get_eventposturl.set_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The URL to receive event notifications from."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/eventposturl.delete.{format}": {
            "get": {
                "description": "Deletes the event notification URL.",
                "operationId": "Get_eventposturl.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/filter.getavailable.{format}": {
            "get": {
                "description": "List all of the available apps. Note: The name entry is used in all the other API calls to identify a app. For a list of all the apps and parameters accesible with the Web API you can check the Filter Settings page, http://docs.sendgrid.com/documentation/api/web-api/filtersettings.",
                "operationId": "Get_filter.getavailable_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/filter.activate.{format}": {
            "get": {
                "description": "Activates an app.",
                "operationId": "Get_filter.activate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Name of the app."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/filter.deactivate.{format}": {
            "get": {
                "description": "Deactivates an app.",
                "operationId": "Get_filter.deactivate_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Name of the app."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/filter.getsettings.{format}": {
            "get": {
                "description": "Get filter settings.",
                "operationId": "Get_filter.getsettings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Name of the app."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/invalidemails.get.{format}": {
            "get": {
                "description": "Retrieves a list of invalid emails with addresses and response codes, optionally with dates.",
                "operationId": "Get_invalidemails.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "1",
                        "type": "string",
                        "description": "Retrieve the timestamp of the invalid email records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past for which to retrieve invalid emails (includes today). If specified, must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the date range for which to retrieve invalid emails. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the date range for which to retrieve invalid emails. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Limit the number of results returned."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Beginning point in the list to retrieve from."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email addresses to search for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/invalidemails.delete.{format}": {
            "get": {
                "description": "Deletes an address from the Invalid Email list. Please note that if no parameters are submitted the ENTIRE list will be deleted.",
                "operationId": "Get_invalidemails.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start deleting at. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end deleting at. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Invalid Email address to remove. Must be a valid user account email."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/invalidemails.count.{format}": {
            "get": {
                "description": "Counts the total number of invalid emails.",
                "operationId": "Get_invalidemails.count_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/parse.get.{format}": {
            "get": {
                "description": "Pull down the settings already configured for parsing incoming email.",
                "operationId": "Get_parse.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/parse.set.{format}": {
            "get": {
                "description": "Specify the hostname and url for parsing incoming emails.",
                "operationId": "Get_parse.set_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "hostname",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The host name."
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The URL."
                    },
                    {
                        "name": "spam_check",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Whether to check or not for spam."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/parse.delete.{format}": {
            "get": {
                "description": "Deletes the existing settings for parsing incoming emails.",
                "operationId": "Get_parse.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "hostname",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The host name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/profile.get.{format}": {
            "get": {
                "description": "View your SendGrid profile.",
                "operationId": "Get_profile.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/profile.set.{format}": {
            "get": {
                "description": "Selectively update your profile without other information being modified.",
                "operationId": "Get_profile.set_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your first name."
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your last name."
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Company address."
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "City where your company is located."
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "State where your company is located."
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Country where your company is located."
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Zipcode where your company is located."
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Valid phone number where we can reach you."
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your company’s website."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/password.set.{format}": {
            "get": {
                "description": "Resets your password.",
                "operationId": "Get_password.set_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Your new password. Must be at least 6 characters."
                    },
                    {
                        "name": "confirm_password",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Confrim new password. Must match password parameter and be at least 6 characters long."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/profile.setUsername.{format}": {
            "get": {
                "description": "The account username is used to login to our SMTP server and the website. Changes will take effect immediately.",
                "operationId": "Get_profile.setUsername_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the new username we will be authenticating with our SMTP servers and our website. Changes take effect immediately. Must not exceed 100 characters. The username cannot be already taken or contain the SendGrid.com domain."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/profile.setEmail.{format}": {
            "get": {
                "description": "We send out a confirmation email to the new email account in order to be validated. Your email address changes when you click on the confirmation link.",
                "operationId": "Get_profile.setEmail_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the new email address we will be contacting you with. Changes take effect immediately. Must be in email format and not more than 100 characters."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spamreports.get.{format}": {
            "get": {
                "description": "Retrieves a list of spam reports with addresses and response codes, optionally with dates.",
                "operationId": "Get_spamreports.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the timestamp of the spam report records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past for which to retrieve spam reports (includes today). If specified, must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the date range for which to retrieve spam reports. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the date range for which to retrieve spam reports. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Limit the number of results returned."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Beginning point in the list to retrieve from."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email addresses to search for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spamreports.delete.{format}": {
            "get": {
                "description": "Deletes an address from the Spam Reports list.",
                "operationId": "Get_spamreports.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email spam reports address to remove. Must be a valid user account email."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start deleting at. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end deleting at. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spamreports.count.{format}": {
            "get": {
                "description": "Counts the total number of spam reports.",
                "operationId": "Get_spamreports.count_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/stats.get.{format}": {
            "get": {
                "description": "Retrieves statistics broken down by category. If the category does not exist, there will be an empty result set. Note that you can use either the days parameter or the start_date and end_date parameter.",
                "operationId": "Get_stats.categories.total.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "aggregate",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "The category you will specify to retrieve detailed stats. Must be an existing category that has statistics. This can also be passed in as an array, to send to multiple categories (i.e. category[]={category1}&category[]={category2}&...&category[]={categoryN))."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The category you will specify to retrieve detailed stats. Must be an existing category that has statistics."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past to include statistics (includes today). Must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start date to look up statistics. Date must be in YYYY-MM-DD format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end date to look up statistics. Date must be in YYYY-MM-DD format and be after the start_date parameter."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/unsubscribes.get.{format}": {
            "get": {
                "description": "Retrieves a list of Unsubscribes with addresses and optionally with dates.",
                "operationId": "Get_unsubscribes.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Retrieve the timestamp of the unsubscribe records. It will return a date in a MySQL timestamp format – YYYY-MM-DD HH:MM:SS. Must be set to 1."
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of days in the past for which to retrieve unsubscribes (includes today). If specified, must be an integer greater than 0."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The start of the date range for which to retrieve unsubscribes. Date must be in YYYY-MM-DD format and be earlier than the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The end of the date range for which to retrieve unsubscribes. Date must be in YYYY-MM-DD format and be later than the start_date parameter."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Limit the number of results returned."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Beginning point in the list to retrieve from."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email addresses to search for."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/unsubscribes.delete.{format}": {
            "get": {
                "description": "Deletes an address from the Unsubscribe list. Please note that if no parameters are provided the ENTIRE list will be removed.",
                "operationId": "Get_unsubscribes.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start retrieving for. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end retrieving for. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unsubscribed email address to remove. Must be a valid user account email."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/unsubscribes.add.{format}": {
            "get": {
                "description": "Adds an email address to the Unsubscribe list.",
                "operationId": "Get_unsubscribes.add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email address to add to unsubscribe list. Must be a valid email address."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/unsubscribes.count.{format}": {
            "get": {
                "description": "Counts the total number of unsubscribes.",
                "operationId": "Get_unsubscribes.count_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to start counting from. Date must be in YYYY-mm-dd format and be before the end_date parameter."
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The date to end counting from. Date must be in YYYY-mm-dd format and be after the start_date parameter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user.bounces.{format}": {
            "get": {
                "description": "Since SendGrid does not re-deliver to bounced addresses, users can remove bounces from their list at any time if redelivery to a bounced address is desired.",
                "operationId": "Get_user.bounces.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "delete",
                        "type": "string",
                        "description": "This will allow you to delete the bounces for the specified user. Must be set to delete."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Bounce email address you want to delete."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The subuser we are retrieving bounces from. Subuser must be registered under your account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user.spamreports.{format}": {
            "get": {
                "description": "Deletes spam reports. Since SendGrid does not deliver to spam reported addresses, users can remove spam reports from their list at any time if re-delivery to a spam reported address is desired.",
                "operationId": "Get_user.spamreports.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "delete",
                        "type": "string",
                        "description": "This will allow you to delete a spam report for the specified user. Must be set to delete."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "You must specify the spam reports to remove. Must be a spam reports."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The subuser we are retrieving spam reports from. Subuser must be registered under your account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user.unsubscribes.{format}": {
            "get": {
                "description": "Adds unsubscribe email records to their account if they need to stop sending email messages to a specific recipient.",
                "operationId": "Get_user.unsubscribes.add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "task",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "add",
                        "type": "string",
                        "description": "This will allow you to add an unsubscribe record for the specified subuser. Must be set to add."
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "You must specify the unsubscribe record to add. Must be an unsubscribe record."
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The subuser we are retrieving unsubscribes from. Subuser must be registered under your account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/add.{format}": {
            "get": {
                "description": "Create a new Newsletter.",
                "operationId": "Get_newsletter.add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "identity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The Identity that will be used for the Newsletter being created."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name that will be used for the Newsletter being created."
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The subject that will be used for the Newsletter being created."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The text portion of the Newsletter being created."
                    },
                    {
                        "name": "html",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The html portion of the Newsletter being created."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/edit.{format}": {
            "get": {
                "description": "Edit an existing Newsletter.",
                "operationId": "Get_newsletter.edit_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of the Newsletter being updated."
                    },
                    {
                        "name": "newname",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new name for the Newsletter being edited."
                    },
                    {
                        "name": "identity",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new Identity for the Newsletter being edited."
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new subject that will be used for the Newsletter being edited."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new text portion of the Newsletter being edited."
                    },
                    {
                        "name": "html",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The new html portion of the Newsletter being edited."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/get.{format}": {
            "get": {
                "description": "Retrieves the contents of an existing newsletter.",
                "operationId": "Get_newsletter.get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The name of an existing Newsletter."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/list.{format}": {
            "get": {
                "description": "Retrieve the names of all existing Newsletters, or search for a specific newsletter.",
                "operationId": "Get_newsletter.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Search to see if a specific Newsletter exists rather than a list of all Newsletters."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/delete.{format}": {
            "get": {
                "description": "Remove an existing Newsletter.",
                "operationId": "Get_newsletter.delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Remove the Newsletter with this name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/lists/add.{format}": {
            "get": {
                "description": "Create a new Recipient List.",
                "operationId": "Get_newsletter.lists.add_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "list",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Create a Recipient List with this name."
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specify the column name for the ‘name’ associated with email addresses."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/lists/edit.{format}": {
            "get": {
                "description": "Rename a Recipient List.",
                "operationId": "Get_newsletter.lists.edit_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "json",
                            "xml"
                        ],
                        "default": "xml",
                        "type": "string",
                        "description": "Determines the response format. It can be either json for a JSON response or xml for an XML response."
                    },
                    {
                        "name": "list",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the name of the Recipient List to be renamed."
                    },
                    {
                        "name": "newlist",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specify the new name for the Recipient List."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allows SendGrid customers to retrieve account information such as statistics, bounces, spam reports, and unsubscribes.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/newsletter/lists/get.{format}": {
            "get": {
                "description": "List all Recipient Lists on your account, or check if a particular List exists.",
                "operationId": "Get_newsletter.lists.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
[...]
