{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "SoundCloud",
        "description": "Access, host, upload, and comment on audio.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.soundcloud.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/tracks.{format}": {
            "get": {
                "description": "Returns a collection of tracks",
                "operationId": "get_tracks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "summer",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "pop",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "all",
                        "type": "object",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "created_at",
                            "hotness"
                        ],
                        "default": "create_at",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "bpm-from",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "bpm-to",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "duration-from",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "duration-to",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "created_at-from",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "created_at-to",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads a track",
                "operationId": "post_tracks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "A Track Title",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "asset_data",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/tracks/{track_id}.{format}": {
            "get": {
                "description": "Returns a track by track id",
                "operationId": "get_track_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a given track",
                "operationId": "put_track_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "A Track Title",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "asset_data",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a given track",
                "operationId": "delete_track_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio."
                    }
                }
            }
        },
        "/tracks/{track_id}/comments.{format}": {
            "get": {
                "description": "Returns comments of a track by track id",
                "operationId": "get_track_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "description": "Posts a comments to a track by track id",
                "operationId": "post_track_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/tracks/{track_id}/permissions.{format}": {
            "get": {
                "description": "Returns all users with permission for a track by track id",
                "operationId": "get_track_permissions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates the list of permitted users for a track by track id",
                "operationId": "put_track_permissions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/tracks/{track_id}/secret-token.{format}": {
            "get": {
                "description": "Returns the secret token for a track by track id. This resource can only be used by the track owner.",
                "operationId": "get_track_secret-token_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Resets the secret token for a track by track id. The secret token can not be specified but will be randomly chosen on\n                    the server and returned. This resource can only be used by the track owner.",
                "operationId": "put_track_secret_token_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users.{format}": {
            "get": {
                "description": "Returns a collection of users",
                "operationId": "get_users_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}.{format}": {
            "get": {
                "description": "Returns a user by user id",
                "operationId": "get_user_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/tracks.{format}": {
            "get": {
                "description": "Returns a collection of tracks uploaded by user id",
                "operationId": "get_user_tracks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/comments.{format}": {
            "get": {
                "description": "Returns a collection of comments made by user id",
                "operationId": "get_user_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/followings.{format}": {
            "get": {
                "description": "Returns a collection of users the user with user id is following",
                "operationId": "get_user_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/followings/{contact_id}.{format}": {
            "get": {
                "description": "Checks if the user with the id contact_id is in the givens user's list of contacts.",
                "operationId": "get_user_following_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Adds the user with the id contact_id to the givens user's list of contacts.",
                "operationId": "put_user_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes the user with the id contact_id from the givens user's list of contacts.",
                "operationId": "delete_user_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio."
                    }
                }
            }
        },
        "/users/{user_id}/followers.{format}": {
            "get": {
                "description": "Returns a collection of users who follow the user with user id",
                "operationId": "get_user_followers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/followers/{contact_id}.{format}": {
            "get": {
                "description": "Checks if the user with contact_id is a follower of the given user.",
                "operationId": "get_user_follower_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/favorites.{format}": {
            "get": {
                "description": "Returns a collection of tracks favorited by the user with user id",
                "operationId": "get_user_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/favorites/{track_id}.{format}": {
            "put": {
                "description": "Adds the given track to the given user's list of favorites.",
                "operationId": "put_user_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the given track from the given user's list of favorites.",
                "operationId": "delete_user_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio."
                    }
                }
            }
        },
        "/users/{user_id}/groups.{format}": {
            "get": {
                "description": "Returns a collection of groups joined by user with user id",
                "operationId": "get_user_groups_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/playlists.{format}": {
            "get": {
                "description": "Returns a collection of playlists created by user with user id",
                "operationId": "get_user_playlists_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me.{format}": {
            "get": {
                "description": "Returns the logged-in user",
                "operationId": "get_me_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates the logged-in user",
                "operationId": "put_me_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/tracks.{format}": {
            "get": {
                "description": "Returns a collection of tracks uploaded by logged-in user",
                "operationId": "get_me_tracks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/comments.{format}": {
            "get": {
                "description": "Returns a collection of comments made by logged-in user",
                "operationId": "get_me_comments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/followings.{format}": {
            "get": {
                "description": "Returns a collection of users the logged-in user is following",
                "operationId": "get_me_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/followings/{contact_id}.{format}": {
            "get": {
                "description": "Checks if the user with the id contact_id is in the logged-in user's list of contacts.",
                "operationId": "get_me_following_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "description": "Adds the user with the id contact_id to the logged-in user's list of contacts.",
                "operationId": "put_me_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the user with the id contact_id from the logged-in user's list of contacts.",
                "operationId": "delete_me_followings_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio."
                    }
                }
            }
        },
        "/me/followers.{format}": {
            "get": {
                "description": "Returns a collection of users who follow the logged-in user",
                "operationId": "get_me_followers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/followers/{contact_id}.{format}": {
            "get": {
                "description": "Checks if the user with the id contact_id is a follower of the logged-in user",
                "operationId": "get_me_follower_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "183",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/favorites.{format}": {
            "get": {
                "description": "Returns a collection of tracks favorited by the logged-in user",
                "operationId": "get_me_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/favorites/{track_id}.{format}": {
            "put": {
                "description": "Adds the given track to the logged-in user's list of favorites.",
                "operationId": "put_me_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the given track from the logged-in user's list of favorites.",
                "operationId": "delete_me_favorites_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "track_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "291",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio."
                    }
                }
            }
        },
        "/me/groups.{format}": {
            "get": {
                "description": "Returns a collection of groups joined by logged-in user",
                "operationId": "get_me_groups_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/me/playlists.{format}": {
            "get": {
                "description": "Returns a collection of playlists created by the logged-in user",
                "operationId": "get_me_playlists_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/playlists.{format}": {
            "get": {
                "description": "Returns a collection of playlists",
                "operationId": "get_playlists_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "all",
                        "type": "object",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/playlists/{playlist_id}.{format}": {
            "get": {
                "description": "Returns a playlist by playlist id",
                "operationId": "get_playlist_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups.{format}": {
            "get": {
                "description": "Returns a collection of groups",
                "operationId": "get_groups_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}.{format}": {
            "get": {
                "description": "Returns a group by group id",
                "operationId": "get_group_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}/users.{format}": {
            "get": {
                "description": "Returns a combined collection of moderators, members and contributors of the group with group id",
                "operationId": "get_group_users_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}/moderators.{format}": {
            "get": {
                "description": "Returns a collection of moderators of the group with group id",
                "operationId": "get_group_moderators_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}/members.{format}": {
            "get": {
                "description": "Returns a collection of members of the group with group id",
                "operationId": "get_group_members_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}/contributors.{format}": {
            "get": {
                "description": "Returns a collection of contributors of the group with group id",
                "operationId": "get_group_contributors_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/groups/{group_id}/tracks.{format}": {
            "get": {
                "description": "Returns a collection of tracks contributed to the group with group id",
                "operationId": "get_group_tracks_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/comments/{comment_id}.{format}": {
            "get": {
                "description": "Returns a comment by comment id",
                "operationId": "get_comment_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "18",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/resolve.{format}": {
            "get": {
                "description": "Translates a website URI into an API URI",
                "operationId": "Get_resolve_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "http://soundcloud.com/forss",
                        "type": "string",
                        "description": "Access, host, upload, and comment on audio."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access, host, upload, and comment on audio.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "order": {
            "title": "order",
            "type": "string",
            "enum": [
                "created_at",
                "hotness"
            ]
        }
    }
}