{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Stack Exchange",
        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.stackoverflow.com",
    "basePath": "/1.1/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/answers": {
            "get": {
                "description": "Get all answers on the site.",
                "operationId": "getAnswers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/answers/{ids}": {
            "get": {
                "description": "Get answers identified by a set of ids.",
                "operationId": "getAnswersByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/answers/{ids}/comments": {
            "get": {
                "description": "Get comments on the answers identified by a set of ids.",
                "operationId": "getAnswersCommentsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/badges": {
            "get": {
                "description": "Get all badges on the site, in alphabetical order.",
                "operationId": "getBadges_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/badges/{ids}": {
            "get": {
                "description": "Get all users who have been awarded the badges identified by ids.",
                "operationId": "getBadgeRecipients_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/badges/name": {
            "get": {
                "description": "Get all non-tagged-based badges in alphabetical order.",
                "operationId": "getNonTaggedBadges_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/badges/tags": {
            "get": {
                "description": "Get all tagged-based badges in alphabetical order.",
                "operationId": "getTaggedBadges_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/comments": {
            "get": {
                "description": "Get all comments on the site.",
                "operationId": "getComments_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/comments/{ids}": {
            "get": {
                "description": "Get comments identified by a set of ids.",
                "operationId": "getCommentsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/posts/{ids}/comments": {
            "get": {
                "description": "Get comments on the posts (question or answer) identified by a set of ids.",
                "operationId": "getPostsCommentsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/errors/{id}": {
            "get": {
                "description": "Simulate an API error for testing purposes.",
                "operationId": "Get_simulateApiError_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "id of the error to simulate. 32-bit signed integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/privileges": {
            "get": {
                "description": "Get all the privileges available on the site.",
                "operationId": "getPrivileges_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions": {
            "get": {
                "description": "Get all questions on the site.",
                "operationId": "getQuestions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "tagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Semicolon delimited list of tags questions must have. string"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}": {
            "get": {
                "description": "Get the questions identified by a set of ids.",
                "operationId": "getQuestionsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}/answers": {
            "get": {
                "description": "Get the answers to the questions identified by a set of ids.",
                "operationId": "getQuestionsAnswersByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}/comments": {
            "get": {
                "description": "Get the comments on the questions identified by a set of ids.",
                "operationId": "getQuestionsCommentsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}/linked": {
            "get": {
                "description": "Get the questions that link to the questions identified by a set of ids.",
                "operationId": "getLinkedQuestionsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}/related": {
            "get": {
                "description": "Get the questions that are related to the questions identified by a set of ids.",
                "operationId": "getRelatedQuestionsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/{ids}/timeline": {
            "get": {
                "description": "Get the timelines of the questions identified by a set of ids.",
                "operationId": "getQuestionsTimelinesByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/unanswered": {
            "get": {
                "description": "Get all questions the site considers unanswered.",
                "operationId": "getUnansweredQuestions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "tagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Semicolon delimited list of tags questions must have. string"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/questions/no-answers": {
            "get": {
                "description": "Get all questions on the site with no answers.",
                "operationId": "getNoAnswersQuestions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    },
                    {
                        "name": "tagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Semicolon delimited list of tags questions must have. string"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/revisions/{ids}": {
            "get": {
                "description": "Get all revisions for posts identified by a set of ids.",
                "operationId": "getPostsRevisionsByIds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/revisions/{id}/{revisionguid}": {
            "get": {
                "description": "Get a specific revision identified by a post id and a revision guid.",
                "operationId": "getPostSpecificRevision_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A single primary key identifier or a vectorized, semicolon-delimited list of identifiers. string"
                    },
                    {
                        "name": "revisionguid",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "specific revision id. guid, 8-4-4-4-12 format"
                    },
                    {
                        "name": "fromdate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the minimum creation date on a returned item. unix epoch date, range [0, 253,402,300,799]"
                    },
                    {
                        "name": "todate",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Unix timestamp of the maximum creation date on a returned item. Unix epoch date, range [0, 253,402,300,799]"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/search": {
            "get": {
                "description": "Search the site for questions meeting certain criteria.",
                "operationId": "SearchQuestionsByCriteria_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nottagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "List of tags delimited by semi-colons of which at least one must be on a question. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "max",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Maximum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "min",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Minimum of the range to include in the response according to the current sort. integer or unix epoch date"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "desc",
                            "asc"
                        ],
                        "default": "desc",
                        "type": "string",
                        "description": "How the current sort should be ordered. one of desc (default), or asc"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The pagination offset for the current collection. Affected by the specified pagesize. 32-bit signed integer"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of collection results to display during pagination. Should be between 0 and 100 inclusive. 32-bit signed integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "activity",
                            "creation",
                            "votes"
                        ],
                        "default": "activity",
                        "type": "string",
                        "description": "How a collection should be sorted. one of activity (default), creation, or votes"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/similar": {
            "get": {
                "description": "Search the site based on similarity to a title.",
                "operationId": "SearchSimilarQuestionsByTitle_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nottagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "List of tags delimited by semi-colons of which at least one must be on a question. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "tagged",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "List of tags delimited by semi-colons of which at least one must be on a question. This is a vectorized parameter, multiple ids can be sent a single request if delimited with a semi-colon. string"
                    },
                    {
                        "name": "answers",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", the answers to a question will be returned. boolean"
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", a post's body will be included in the response. boolean"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When \"true\", any comments on a post will be included in the response. boolean"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A title. string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/stats": {
            "get": {
                "description": "Get a set of statistics for the entire site.",
                "operationId": "getStats_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Create apps or scripts that can access Stack Exchange questions, answers, comments, badges and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/tags": {
            "get": {
                "description": "Get the tags on the site.",
[...]
