{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Tumblr",
        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    ",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.tumblr.com",
    "basePath": "/v2/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/blog/{base-hostname}/info": {
            "get": {
                "description": "This method returns general information about the blog, such as the title, number of posts, and other high-level data.",
                "operationId": "Get_blog-info_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/avatar/{size}": {
            "get": {
                "description": "Retrieves a blog's avatar in one of 9 different sizes.",
                "operationId": "Get_blog-avatar_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    },
                    {
                        "name": "size",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "Value_16",
                            "Value_24",
                            "Value_30",
                            "Value_40",
                            "Value_48",
                            "Value_64",
                            "Value_96",
                            "Value_128",
                            "Value_512"
                        ],
                        "default": "64",
                        "type": "integer",
                        "description": "The size of the avatar (square, one value for both length and width). Must be one of the values: 16, 24, 30, 40, 48, 64, 96, 128, 512"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/followers": {
            "get": {
                "description": "Retrieves a blog's followers.",
                "operationId": "Get_blog-followers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results to return: 1–20, inclusive"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Result to start at."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/posts/{type}": {
            "get": {
                "description": "Retrieves published posts.",
                "operationId": "Get_posts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "A specific post ID. Returns the single post specified or (if not found) a 404 error."
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Limits the response to posts with the specified tag"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of posts to return: 1–20, inclusive"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Post number to start at."
                    },
                    {
                        "name": "reblog_info",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Indicates whether to return reblog information (specify true or false). Returns the various reblogged_ fields."
                    },
                    {
                        "name": "notes_info",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Indicates whether to return notes information (specify true or false). Returns note count and note metadata."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "raw"
                        ],
                        "type": "string",
                        "description": "Specifies the post format to return, other than HTML."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "quote",
                            "link",
                            "answer",
                            "video",
                            "audio",
                            "photo"
                        ],
                        "type": "string",
                        "description": "The type of post to return. Specify one of the following:    text, quote, link, answer, video, audio, photo. By default, all types are returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/posts/queue": {
            "get": {
                "description": "Retrieves queued posts.",
                "operationId": "Get_blog-queue_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/posts/draft": {
            "get": {
                "description": "Retrieves draft posts.",
                "operationId": "Get_blog-drafts_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/posts/submission": {
            "get": {
                "description": "Retrieves submission posts.",
                "operationId": "Get_blog-submissions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/post": {
            "post": {
                "description": "Creates a new video blog post.",
                "operationId": "post-video_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "photo",
                            "quote",
                            "link",
                            "chat",
                            "audio",
                            "video"
                        ],
                        "default": "video",
                        "type": "string",
                        "description": "The type of post to create."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma-separated tags for this post."
                    },
                    {
                        "name": "tweet",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Manages the autotweet (if enabled) for this post: set to off for no tweet, or enter text to override the default tweet"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The GMT date and time of the post, as a string. Default is the date and time of the POST request."
                    },
                    {
                        "name": "markdown",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Indicates whether the post uses markdown syntax."
                    },
                    {
                        "name": "caption",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The user-supplied caption."
                    },
                    {
                        "name": "embed",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "HTML embed code for the video. Either the embed or data parameter is required."
                    },
                    {
                        "name": "data",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A video file, as URL-encoded binary. Either the embed or data parameter is required."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/post/edit": {
            "post": {
                "description": "Edits a blog post.",
                "operationId": "post-edit_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "photo",
                            "quote",
                            "link",
                            "chat",
                            "audio",
                            "video"
                        ],
                        "type": "string",
                        "description": "The post type."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma-separated tags for this post."
                    },
                    {
                        "name": "tweet",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Manages the autotweet (if enabled) for this post: set to off for no tweet, or enter text to override the default tweet"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The GMT date and time of the post, as a string. Default is the date and time of the POST request."
                    },
                    {
                        "name": "markdown",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Indicates whether the post uses markdown syntax."
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the post to edit."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/post/reblog": {
            "post": {
                "description": "Reblogs a post.",
                "operationId": "post-reblog_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "photo",
                            "quote",
                            "link",
                            "chat",
                            "audio",
                            "video"
                        ],
                        "type": "string",
                        "description": "The post type."
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Comma-separated tags for this post."
                    },
                    {
                        "name": "tweet",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Manages the autotweet (if enabled) for this post: set to off for no tweet, or enter text to override the default tweet"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The GMT date and time of the post, as a string. Default is the date and time of the POST request."
                    },
                    {
                        "name": "markdown",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "Indicates whether the post uses markdown syntax."
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the reblogged post on tumblelog. Default is the next available ID."
                    },
                    {
                        "name": "reblog_key",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The reblog key for the reblogged post – get the reblog key with a /posts request"
                    },
                    {
                        "name": "comment",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comment added to the reblogged post."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/blog/{base-hostname}/post/delete": {
            "post": {
                "description": "Deletes a post.",
                "operationId": "post-delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the post to delete."
                    },
                    {
                        "name": "base-hostname",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The unique hostname of the blog."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/user/dashboard": {
            "get": {
                "description": "Use this method to retrieve the dashboard that matches the OAuth credentials submitted with the request.",
                "operationId": "Get_user-dashboard_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results to return: 1–20, inclusive"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Post number to start at."
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "text",
                            "photo",
                            "quote",
                            "link",
                            "chat",
                            "audio",
                            "video",
                            "question"
                        ],
                        "type": "string",
                        "description": "The type of post to return."
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Return posts that have appeared after this ID. Use this parameter to page through the results: first get a set of posts, and then get posts since the last ID of the previous set."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/user/likes": {
            "get": {
                "description": "Use this method to retrieve the liked posts that match the OAuth credentials submitted with the request.",
                "operationId": "Get_user-likes_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results to return: 1–20, inclusive"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Liked post number to start at."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/user/following": {
            "get": {
                "description": "Use this method to retrieve the blogs followed by the user whose OAuth credentials are submitted with the request.",
                "operationId": "Get_user-following_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 20.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of results to return: 1–20, inclusive"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": 0.0,
                        "type": "integer",
                        "format": "int32",
                        "description": "Result number to start at."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/user/follow": {
            "post": {
                "description": "Follow a blog.",
                "operationId": "Create_user-follow_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The URL of the blog to follow."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        },
        "/user/unfollow": {
            "post": {
                "description": "Unfollow a blog.",
                "operationId": "Create_user-unfollow_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The URL of the blog to unfollow."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ntShare photos, mobile apps, and social network using Tumblr's API's.n    "
                    }
                }
            }
        }
    },
    "definitions": {
        "size": {
            "title": "size",
            "type": "integer",
            "format": "int32",
            "enum": [
                "Value_16",
                "Value_24",
                "Value_30",
                "Value_40",
                "Value_48",
                "Value_64",
                "Value_96",
                "Value_128",
                "Value_512"
            ]
        },
        "format": {
            "title": "format",
            "type": "string",
            "enum": [
                "text",
                "raw"
            ]
        },
        "type": {
            "title": "type",
            "type": "string",
            "enum": [
                "text",
                "quote",
                "link",
                "answer",
                "video",
                "audio",
                "photo"
            ]
        },
        "type3": {
            "title": "type3",
            "type": "string",
            "enum": [
                "text",
                "photo",
                "quote",
                "link",
                "chat",
                "audio",
                "video"
            ]
        },
        "type4": {
            "title": "type4",
            "type": "string",
            "enum": [
                "text",
                "photo",
                "quote",
                "link",
                "chat",
                "audio",
                "video",
                "question"
            ]
        }
    }
}