{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Twitter",
        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "search.twitter.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/statuses/mentions_timeline.json": {
            "get": {
                "description": "Returns the 20\n                                        most recent mentions (tweets containing a users's @screen_name) for the authenticating user.The\n                                        timeline returned is the equivalent of the one seen when you view your mentions on twitter.com.This\n                                        method can only return up to 800 statuses.This method will include retweets in the JSON response\n                                        regardless of whether the include_rts parameter is set.",
                "operationId": "Get_statuses.mentions.timeline_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies the number of tweets to try and retrieve, up to a maximum of 200. The value of count is\n                                        best thought of as a limit to the number of tweets to return because suspended or deleted content is\n                                        removed after the count has been applied. We include retweets in the count, even if include_rts is\n                                        not supplied. It is recommended you always send include_rts=1 when using this API method."
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                                        limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                                        occured since the since_id, the since_id will be forced to the oldest ID available."
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                                        of the contributor. By default only the user_id of the contributor is included."
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "The entities node will be disincluded when set to false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/user_timeline.json": {
            "get": {
                "description": "Returns the 20 most\n                                        recent statuses posted by the authenticating user. It is also possible to request another user's\n                                        timeline by using the screen_name or user_id parameter. The other users timeline will only be\n                                        visible if they are not protected, or if the authenticating user's follow request was accepted by\n                                        the protected user. The timeline returned is the equivalent of the one seen when you view a user's\n                                        profile on twitter.com. This method can only return up to 3,200 of a user's most recent statuses.\n                                        Native retweets of other statuses by the user is included in this total, regardless of whether\n                                        include_rts is specified when requesting this resource. This method will not include retweets in the\n                                        XML and JSON responses unless the include_rts parameter is set. The RSS and Atom responses will\n                                        always include retweets as statuses prefixed with RT, regardless of provided parameters. Always\n                                        specify either an user_id or screen_name when requesting a user timeline.",
                "operationId": "Get_statuses.user_timeline_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies the number of tweets to try and retrieve, up to a maximum of 200. The value of count is\n                                        best thought of as a limit to the number of tweets to return because suspended or deleted content is\n                                        removed after the count has been applied. We include retweets in the count, even if include_rts is\n                                        not supplied. It is recommended you always send include_rts=1 when using this API method."
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                                        limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                                        occured since the since_id, the since_id will be forced to the oldest ID available."
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    },
                    {
                        "name": "exclude_replies",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies\n                                        with the count parameter will mean you will receive up-to count tweets — this is because the count\n                                        parameter retrieves that many tweets before filtering out retweets and replies. This parameter is\n                                        only supported for JSON and XML responses."
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                                        of the contributor. By default only the user_id of the contributor is included."
                    },
                    {
                        "name": "include_rts",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "When set to false, the timeline will strip any native retweets (though they will still count toward\n                                        both the maximal length of the timeline and the slice selected by the count parameter). Note: If\n                                        you're using the trim_user parameter in conjunction with include_rts, the retweets will still\n                                        contain a full user object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/home_timeline.json": {
            "get": {
                "description": "Returns a collection\n                                        of the most recent Tweets and retweets posted by the authenticating user and the users they follow.\n                                        The home timeline is central to how most users interact with the Twitter service.\n\n                                        Up to 800 Tweets are obtainable on the home timeline. It is more volatile for users that follow many\n                                        users or follow users who tweet frequently.",
                "operationId": "Get_statuses.home_timeline_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies the number of records to retrieve. Must be less than or equal to 200."
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID."
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int64",
                        "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                                        limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                                        occured since the since_id, the since_id will be forced to the oldest ID available."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    },
                    {
                        "name": "exclude_replies",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter will prevent replies from appearing in the returned timeline. Using exclude_replies\n                                        with the count parameter will mean you will receive up-to count tweets — this is because the count\n                                        parameter retrieves that many tweets before filtering out retweets and replies."
                    },
                    {
                        "name": "contributor_details",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter enhances the contributors element of the status response to include the screen_name\n                                        of the contributor. By default only the user_id of the contributor is included."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/retweets/{id}.json": {
            "get": {
                "description": "Returns up to 100 of\n                                        the\n                                        first retweets of a given tweet.",
                "operationId": "Get_statuses.retweets_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status."
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the number of records to retrieve. Must be less than or equal to 100."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/show/{id}.json": {
            "get": {
                "description": "Returns a single status,\n                                        specified by the id parameter below. The status's author will be returned inline.",
                "operationId": "Get_statuses.show_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    },
                    {
                        "name": "include_my_retweet",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, any Tweets returned that have been retweeted by the authenticating\n                                        user will include an additional current_user_retweet node, containing the ID of the source status\n                                        for the retweet."
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The entities node will be disincluded when set to false."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/destroy/{id}.json": {
            "post": {
                "description": "Destroys the status\n                                        specified by the required ID parameter. The authenticating user must be the author of the specified\n                                        status. Returns the destroyed status if successful.",
                "operationId": "Create_statuses.destroy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/update.json": {
            "post": {
                "description": "Updates the authenticating\n                                        user's status, also known as tweeting. To upload an image to accompany the tweet, use POST\n                                        statuses/update_with_media (https://dev.twitter.com/docs/api/1/post/statuses/update_with_media). For\n                                        each update attempt, the update text is compared with the authenticating user's recent tweets. Any\n                                        attempt that would result in duplication will be blocked, resulting in a 403 error. Therefore, a\n                                        user cannot submit the same status twice in a row. While not rate limited by the API a user is\n                                        limited in the number of tweets they can create at a time. If the number of updates posted by the\n                                        user reaches the current allowed limit this method will return an HTTP 403 error.",
                "operationId": "Create_statuses.update_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "Posting from @apigee's API test console. It's like a command line for the Twitter API! #apitools",
                        "type": "string",
                        "description": "The text of your status update, typically up to 140 characters. URL encode as necessary. t.co link\n                                        short-url wrapping (https://dev.twitter.com/docs/tco-link-wrapper/faq) may effect character counts."
                    },
                    {
                        "name": "in_reply_to_status_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of an existing status that the update is in reply to. Note: This parameter will be ignored\n                                        unless the author of the tweet this parameter references is mentioned within the status text.\n                                        Therefore, you must include @username, where username is the author of the referenced tweet, within\n                                        the update."
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "37.426363",
                        "type": "string",
                        "description": "The latitude of the location this tweet refers to. This parameter will be ignored unless it is\n                                        inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there\n                                        isn't a corresponding long parameter."
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "-122.141114",
                        "type": "string",
                        "description": "The longitude of the location this tweet refers to. The valid ranges for longitude is -180.0 to\n                                        +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, if it is\n                                        not a number, if geo_enabled is disabled, or if there not a corresponding lat parameter."
                    },
                    {
                        "name": "place_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A place in the world. These IDs can be retrieved from GET geo/reverse_geocode\n                                        (https://dev.twitter.com/docs/api/1/get/geo/reverse_geocode)."
                    },
                    {
                        "name": "display_coordinates",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": "false",
                        "type": "object",
                        "description": "Whether or not to put a pin on the exact coordinates a tweet has been sent from."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/retweet/{id}.json": {
            "post": {
                "description": "Retweets a tweet.\n                                        Returns\n                                        the original tweet with retweet details embedded.",
                "operationId": "Create_statusesretweetid_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status."
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "When set to either true, t or 1, each tweet returned in a timeline will include a user object\n                                        including only the status authors numerical ID. Omit this parameter to receive the complete user\n                                        object."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/update_with_media.json": {
            "post": {
                "description": "Updates the\n                                        authenticating user's status and attaches media for upload. Unlike POST statuses/update\n                                        (https://dev.twitter.com/docs/api/1.1/post/statuses/update), this method expects raw multipart data.\n                                        Your POST request's Content-Type should be set to multipart/form-data with the media[] parameter.\n                                        The Tweet text will be rewritten to include the media URL(s), which will reduce the number of\n                                        characters allowed in the Tweet text. If the URL(s) cannot be appended without text truncation, the\n                                        tweet will be rejected and this method will return an HTTP 403 error. Important: Make sure that\n                                        you're using upload.twitter.com as your host while posting statuses with media. It is strongly\n                                        recommended to use SSL with this method.",
                "operationId": "Create_statuses.update_with_media_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "multipart/form-data",
                        "type": "string",
                        "description": "Content type."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The text of your status update. URL encode as necessary. t.co link wrapping\n                                        (https://dev.twitter.com/docs/tco-link-wrapper/faq) may affect character counts if the post contains\n                                        URLs. You must additionally account for the characters_reserved_per_media per uploaded media,\n                                        additionally accounting for space characters in between finalized URLs. Note: Request the GET\n                                        help/configuration (https://dev.twitter.com/docs/api/1.1/get/help/configuration) endpoint to get the\n                                        current characters_reserved_per_media and max_media_per_upload values."
                    },
                    {
                        "name": "media",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Up to max_media_per_upload files may be specified in the request, each named media[]. Supported\n                                        image formats are PNG, JPG and GIF. Animated GIFs are not supported. Note: Request the GET\n                                        help/configuration (https://dev.twitter.com/docs/api/1.1/get/help/configuration) endpoint to get the\n                                        current max_media_per_upload and photo_size_limit values."
                    },
                    {
                        "name": "possibly_sensitive",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Set to true for content which may not be suitable for every audience."
                    },
                    {
                        "name": "in_reply_to_status_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of an existing status that the update is in reply to. Note: This parameter will be ignored\n                                        unless the author of the tweet this parameter references is mentioned within the status text.\n                                        Therefore, you must include @username, where username is the author of the referenced tweet, within\n                                        the update."
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The latitude of the location this tweet refers to. This parameter will be ignored unless it is\n                                        inside the range -90.0 to +90.0 (North is positive) inclusive. It will also be ignored if there\n                                        isn't a corresponding long parameter. Example value: 37.7821120598956."
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The longitude of the location this tweet refers to. The valid ranges for longitude is -180.0 to\n                                        +180.0 (East is positive) inclusive. This parameter will be ignored if outside that range, not a\n                                        number, geo_enabled is disabled, or if there not a corresponding lat parameter. Example value:\n                                        -122.400612831116."
                    },
                    {
                        "name": "place_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A place in the world identified by a Twitter place ID. Place IDs can be retrieved from\n                                        geo/reverse_geocode."
                    },
                    {
                        "name": "display_coordinates",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Whether or not to put a pin on the exact coordinates a tweet has been sent from."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/statuses/oembed.json": {
            "get": {
                "description": "Returns information allowing\n                                        the creation of an embedded representation of a Tweet on third party sites. See the oEmbed\n                                        specification (http://oembed.com) for information about the response format. Either the id or url\n                                        parameters must be specified in a request, it is not necessary to include both. While this endpoint\n                                        allows a bit of customization for the final appearance of the embedded Tweet, be aware that the\n                                        appearance of the rendered Tweet may change over time to be consistent with Twitter's Display\n                                        Guidelines (https://dev.twitter.com/terms/display-guidelines). Do not rely on any class or id\n                                        parameters to stay constant in the returned markup.",
                "operationId": "Get_statuses.oembed_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "maxwidth",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum width in pixels that the embed should be rendered at. This value is constrained to be\n                                        between 250 and 550 pixels. Note that Twitter does not support the oEmbed maxheight parameter.\n                                        Tweets are fundamentally text, and are therefore of unpredictable height that cannot be scaled like\n                                        an image or video. Relatedly, the oEmbed response will not provide a value for height.\n                                        Implementations that need consistent heights for Tweets should refer to the hide_thread and\n                                        hide_media parameters below."
                    },
                    {
                        "name": "hide_media",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies whether the embedded Tweet should automatically expand images which were uploaded via\n                                        POST statuses/update_with_media. When set to either true, t or\n                                        1 images will not be expanded. Defaults to false."
                    },
                    {
                        "name": "hide_thread",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies whether the embedded Tweet should automatically show the original message in the case\n                                        that the embedded Tweet is a reply. When set to either true, t or 1 the original Tweet will not be\n                                        shown. Defaults to false."
                    },
                    {
                        "name": "omit_script",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies whether the embedded Tweet HTML should include a\n                                        'script' element pointing to widgets.js. In cases where a page already includes widgets.js, setting\n                                        this\n                                        value to true will prevent a redundant script element from being included. When set to either true,\n                                        t or 1 the 'script'element will not be included in the embed HTML, meaning that pages must include a\n                                        reference to\n                                        widgets.js manually. Defaults to false."
                    },
                    {
                        "name": "align",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "left",
                            "right",
                            "center",
                            "none"
                        ],
                        "type": "string",
                        "description": "Specifies whether the embedded Tweet should be left aligned, right aligned, or centered in the\n                                        page. Valid values are left, right, center, and none. Defaults to none, meaning no alignment styles\n                                        are specified for the Tweet."
                    },
                    {
                        "name": "related",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A value for the TWT related parameter, as described in Web Intents\n                                        (https://dev.twitter.com/docs/intents). This value will be forwarded to all Web Intents calls.\n                                        Example values: twitterapi, twittermedia, twitter."
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Language code for the rendered embed. This will affect the text and localization of the rendered\n                                        HTML. Example value: fr"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/search/tweets.json": {
            "get": {
                "description": "Returns a collection of\n                                        relevant Tweets matching a specified query.\n\n                                        Please note that Twitter's search service and, by extension, the Search API is not meant to be an\n                                        exhaustive source of Tweets. Not all Tweets will be indexed or made available via the search\n                                        interface.\n\n                                        In API v1.1, the response format of the Search API has been improved to return Tweet objects more\n                                        similar to the objects you'll find across the REST API and platform. You may need to tolerate some\n                                        inconsistencies and variance in perspectival values (fields that pertain to the perspective of the\n                                        authenticating user) and embedded user objects.",
                "operationId": "search.tweets_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A UTF-8, URL-encoded search query of 1,000 characters maximum, including operators. Queries may\n                                        additionally be limited by complexity.Example: @noradio."
                    },
                    {
                        "name": "geocode",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns tweets by users located within a given radius of the given latitude/longitude. The location\n                                        is preferentially taking from the Geotagging API, but will fall back to their Twitter profile. The\n                                        parameter value is specified by \"latitude,longitude,radius\", where radius units must be specified as\n                                        either \"mi\" (miles) or \"km\" (kilometers). Note that you cannot use the near operator via the API to\n                                        geocode arbitrary locations; however you can use this geocode parameter to search near geocodes\n                                        directly. A maximum of 1,000 distinct \"sub-regions\" will be considered when using the radius\n                                        modifier."
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restricts tweets to the given language, given by an ISO 639-1 code. Language detection is\n                                        best-effort.Example Values: eu"
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specify the language of the query you are sending (only ja is currently effective). This is\n                                        intended for language-specific consumers and the default should work in the majority of\n                                        cases.Example Values: ja"
                    },
                    {
                        "name": "result_type",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Optional. Specifies what type of search results you would prefer to receive. The current default is\n                                        \"mixed.\" Valid values include:\n                                        * mixed: Include both popular and real time results in the response.\n                                        * recent: return only the most recent results in the response\n                                        * popular: return only the most popular results in the response. Example Values: mixed, recent,\n                                        popular"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The number of tweets to return per page, up to a maximum of 100. Defaults to 15. This was formerly\n                                        the \"rpp\" parameter in the old Search API. Example Values: 100"
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns tweets generated before the given date. Date should be formatted as YYYY-MM-DD. Keep in\n                                        mind that the search index may not go back as far as the date you specify here. Example Values:\n                                        2012-09-01"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                                        limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                                        occured since the since_id, the since_id will be forced to the oldest ID available. Example Values:\n                                        12345"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID. Example\n                                        Values: 12345"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The entities node will be disincluded when set to false. Example Values: false"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If supplied, the response will use the JSONP format with a callback of the given name. The\n                                        usefulness of this parameter is somewhat diminished by the requirement of authentication for\n                                        requests to this endpoint. Example Values: processTweets"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/help/configuration.json": {
            "get": {
                "description": "Returns the current\n                                        configuration used by Twitter including twitter.com slugs which are not usernames, maximum photo\n                                        resolutions, and t.co URL lengths.\n\n                                        It is recommended applications request this endpoint when they are loaded, but no more than once a\n                                        day.",
                "operationId": "Get_help.configurations_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/help/languages.json": {
            "get": {
                "description": "Returns the list of languages\n                                        supported by Twitter along with their ISO 639-1 code. The ISO 639-1 code is the two letter value to\n                                        use if you include lang with any of your requests.",
                "operationId": "Get_help.languages_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/help/privacy.json": {
            "get": {
                "description": "Returns Twitter's Privacy Policy",
                "operationId": "Get_help.privacy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/help/tos.json": {
            "get": {
                "description": "Returns the Twitter Terms of Service\n                                        in the requested format. These are not the same as the Developer Rules of the Road.",
                "operationId": "Get_help.tos_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/application/rate_limit_status.json": {
            "get": {
                "description": "Returns the\n                                        current rate limits for\n                                        methods belonging to the specified resource families.\n\n                                        Each 1.1 API resource belongs to a \"resource family\" which is indicated in its method documentation.\n                                        You can typically determine a method's resource family from the first component of the path after\n                                        the resource version.\n\n                                        This method responds with a map of methods belonging to the families specified by the resources\n                                        parameter, the current remaining uses for each of those resources within the current rate limiting\n                                        window, and its expiration time in epoch time. It also includes a rate_limit_context field that\n                                        indicates the current access token context.\n\n                                        You may also issue requests to this method without any parameters to receive a map of all rate\n                                        limited GET methods. If your application only uses a few of methods, please explicitly provide a\n                                        resources parameter with the specified resource families you work with.",
                "operationId": "Get_application.rate_limit_status_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "resources",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A comma-separated list of resource families you want to know the current rate limit disposition\n                                        for. For best performance, only specify the resource families pertinent to your application.Example\n                                        Values: statuses,friends,trends,help"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/report_spam.json": {
            "post": {
                "description": "The user\n                                        specified in the id is blocked by the authenticated user and reported as a spammer.",
                "operationId": "Create_users.report_spam_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/trends/place.json": {
            "get": {
                "description": "Returns the top 10 trending\n                                        topics for a specific WOEID, if trending information is available for it.\n\n                                        The response is an array of \"trend\" objects that encode the name of the trending topic, the query\n                                        parameter that can be used to search for the topic on Twitter Search, and the Twitter Search URL.\n\n                                        This information is cached for 5 minutes. Requesting more frequently than that will not return any\n                                        more data, and will count against your rate limit usage.",
                "operationId": "Get_trends.place_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The Yahoo! Where On Earth ID of the location to return trending information for. Global information\n                                        is available by using 1 as the WOEID."
                    },
                    {
                        "name": "exclude",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Setting this equal to hashtags will remove all hashtags from the trends list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/trends/available.json": {
            "get": {
                "description": "Returns the locations that\n                                        Twitter has trending topic information for.\n\n                                        The response is an array of \"locations\" that encode the location's WOEID and some other\n                                        human-readable information such as a canonical name and country the location belongs in.\n\n                                        A WOEID is a Yahoo! Where On Earth ID.",
                "operationId": "Get_trends.available_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/trends/closest.json": {
            "get": {
                "description": "Returns the locations that\n                                        Twitter has trending topic information for, closest to a specified location.\n\n                                        The response is an array of \"locations\" that encode the location's WOEID and some other\n                                        human-readable information such as a canonical name and country the location belongs in.\n\n                                        A WOEID is a Yahoo! Where On Earth ID.",
                "operationId": "Get_trends.closest_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If provided with a long parameter the available trend locations will be sorted by distance, nearest\n                                        to furthest, to the co-ordinate pair. The valid ranges for longitude is -180.0 to +180.0 (West is\n                                        negative, East is positive) inclusive.\n\n                                        Example Values: 37.781157"
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If provided with a lat parameter the available trend locations will be sorted by distance, nearest\n                                        to furthest, to the co-ordinate pair. The valid ranges for longitude is -180.0 to +180.0 (West is\n                                        negative, East is positive) inclusive.\n\n                                        Example Values: -122.400612831116"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/geo/id/{place_id}.json": {
            "get": {
                "description": "Returns all the\n                                        information about a known place.Example Values: df51dec6f4ee2b2c",
                "operationId": "Get_geo.place_id_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "place_id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A place in the world. These IDs can be retrieved from geo/reverse_geocode.\n\n                                        Example Values: df51dec6f4ee2b2c"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/geo/reverse_geocode.json": {
            "get": {
                "description": "Given a latitude and a\n                                        longitude, searches for up to 20 places that can be used as a place_id when updating a status.\n\n                                        This request is an informative call and will deliver generalized results about geography",
                "operationId": "Get_geo.reverse_geocode_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The latitude to search around. This parameter will be ignored unless it is inside the range -90.0\n                                        to +90.0 (North is positive) inclusive. It will also be ignored if there isn't a corresponding long\n                                        parameter.\n\n                                        Example Values: 37.7821120598956"
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The longitude to search around. The valid ranges for longitude is -180.0 to +180.0 (East is\n                                        positive) inclusive. This parameter will be ignored if outside that range, if it is not a number, if\n                                        geo_enabled is disabled, or if there not a corresponding lat parameter.\n\n                                        Example Values: -122.400612831116"
                    },
                    {
                        "name": "accuracy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A hint on the \"region\" in which to search. If a number, then this is a radius in meters, but it can\n                                        also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is\n                                        assumed to be 0m. If coming from a device, in practice, this value is whatever accuracy the device\n                                        has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).\n\n                                        Example Values: 5ft"
                    },
                    {
                        "name": "granularity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the minimal granularity of place types to return and must be one of: poi, neighborhood,\n                                        city, admin or country. If no granularity is provided for the request neighborhood is assumed.\n                                        Setting this to city, for example, will find places which have a type of city, admin or country.\n\n                                        Example Values: city"
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A hint as to the number of results to return. This does not guarantee that the number of results\n                                        returned will equal max_results, but instead informs how many \"nearby\" results to return. Ideally,\n                                        only pass in the number of places you intend to display to the user here.\n\n                                        Example Values: 3"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If supplied, the response will use the JSONP format with a callback of the given name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/geo/search.json": {
            "get": {
                "description": "Search for places that can be\n                                        attached to a statuses/update. Given a latitude and a longitude pair, an IP address, or a name, this\n                                        request will return a list of all the valid places that can be used as the place_id when updating a\n                                        status.\n\n                                        Conceptually, a query can be made from the user's location, retrieve a list of places, have the user\n                                        validate the location he or she is at, and then send the ID of this location with a call to POST\n                                        statuses/update.\n\n                                        This is the recommended method to use find places that can be attached to statuses/update. Unlike\n                                        GET geo/reverse_geocode which provides raw data access, this endpoint can potentially re-order\n                                        places with regards to the user who is authenticated. This approach is also preferred for\n                                        interactive place matching with the user.",
                "operationId": "Get_geo.search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "accuracy",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "A hint on the \"region\" in which to search. If a number, then this is a radius in meters, but it can\n                                        also take a string that is suffixed with ft to specify feet. If this is not passed in, then it is\n                                        assumed to be 0m. If coming from a device, in practice, this value is whatever accuracy the device\n                                        has measuring its location (whether it be coming from a GPS, WiFi triangulation, etc.).\n\n                                        Example Values: 5ft"
                    },
                    {
                        "name": "granularity",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the minimal granularity of place types to return and must be one of: poi, neighborhood,\n                                        city, admin or country. If no granularity is provided for the request neighborhood is assumed.\n                                        Setting this to city, for example, will find places which have a type of city, admin or country.\n\n                                        Example Values: city"
                    },
                    {
                        "name": "contained_within",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the place_id which you would like to restrict the search results to. Setting this value\n                                        means only places within the given place_id will be found.\n\n                                        Specify a place_id. For example, to scope all results to places within \"San Francisco, CA USA\", you\n                                        would specify a place_id of \"5a110d312052166f\"\n\n                                        Example Values: 247f43d441defc03"
                    },
                    {
                        "name": "attribute:street_address",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter searches for places which have this given street address. There are other\n                                        well-known, and application specific attributes available. Custom attributes are also permitted.\n                                        Learn more about Place Attributes.\n\n                                        Example Values: 795%20Folsom%20St"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If supplied, the response will use the JSONP format with a callback of the given name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/geo/similar_places.json": {
            "get": {
                "description": "Locates places near the\n                                        given coordinates which are similar in name.\n\n                                        Conceptually you would use this method to get a list of known places to choose from first. Then, if\n                                        the desired place doesn't exist, make a request to POST geo/place to create a new one.\n\n                                        The token contained in the response is the token needed to be able to create a new place.",
                "operationId": "Get_geo.similar_places_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contained_within",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This is the place_id which you would like to restrict the search results to. Setting this value\n                                        means only places within the given place_id will be found.\n\n                                        Specify a place_id. For example, to scope all results to places within \"San Francisco, CA USA\", you\n                                        would specify a place_id of \"5a110d312052166f\"\n\n                                        Example Values: 247f43d441defc03"
                    },
                    {
                        "name": "attribute:street_address",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter searches for places which have this given street address. There are other\n                                        well-known, and application specific attributes available. Custom attributes are also permitted.\n                                        Learn more about Place Attributes.\n\n                                        Example Values: 795%20Folsom%20St"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If supplied, the response will use the JSONP format with a callback of the given name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/geo/places.json": {
            "post": {
                "description": "Creates a new place object at the\n                                        given latitude and longitude.\n\n                                        Before creating a place you need to query GET geo/similar_places with the latitude, longitude and\n                                        name of the place you wish to create. The query will return an array of places which are similar to\n                                        the one you wish to create, and a token. If the place you wish to create isn't in the returned array\n                                        you can use the token with this method to create a new one.",
                "operationId": "Create_geo.places_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "attribute:street_address",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "This parameter searches for places which have this given street address. There are other\n                                        well-known, and application specific attributes available. Custom attributes are also permitted.\n                                        Learn more about Place Attributes.\n\n                                        Example Values: 795%20Folsom%20St"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "If supplied, the response will use the JSONP format with a callback of the given name."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/saved_searches/list.json": {
            "get": {
                "description": "Returns the authenticated\n                                        user's saved search queries.",
                "operationId": "Get_saved_searches.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/saved_searches/show/{id}.json": {
            "get": {
                "description": "Returns the\n                                        authenticated user's saved search queries.",
                "operationId": "Get_savedsearchesid_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the saved search.\n\n                                        Example Values: 313006"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/saved_searches/create.json": {
            "post": {
                "description": "Create a new saved\n                                        search for the authenticated user. A user may only have 25 saved searches.",
                "operationId": "Create_saved_searches.create_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The query of the search the user would like to save."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/saved_searches/destroy/{id}.json": {
            "post": {
                "description": "Destroys a\n                                        saved\n                                        search for the authenticating user. The authenticating user must be the owner of saved search id\n                                        being destroyed.",
                "operationId": "Create_saved_searches.destroy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The ID of the saved search.\n\n                                        Example Values: 313006"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/favorites/list.json": {
            "get": {
                "description": "Returns the 20 most recent\n                                        Tweets favorited by the authenticating or specified user.",
                "operationId": "Get_favorites.list_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the number of records to retrieve. Must be less than or equal to 200. Defaults to 20.\n\n                                        Example Values: 5"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are\n                                        limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has\n                                        occured since the since_id, the since_id will be forced to the oldest ID available.\n\n                                        Example Values: 12345"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.\n\n                                        Example Values: 54321"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The entities node will be omitted when set to false.\n\n                                        Example Values: false"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/favorites/create.json": {
            "post": {
                "description": "Favorites the status\n                                        specified in the ID parameter as the authenticating user. Returns the favorite status when\n                                        successful.\n\n                                        This process invoked by this method is asynchronous. The immediately returned status may not\n                                        indicate the resultant favorited status of the tweet. A 200 OK response from this method will\n                                        indicate whether the intended action was successful or not.",
                "operationId": "Create_favorites.create_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status.\n\n                                        Example Values: 123"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The entities node will be omitted when set to false.\n\n                                        Example Values: false"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/favorites/destroy.json": {
            "post": {
                "description": "Un-favorites the status\n                                        specified in the ID parameter as the authenticating user. Returns the un-favorited status in the\n                                        requested format when successful.\n\n                                        This process invoked by this method is asynchronous. The immediately returned status may not\n                                        indicate the resultant favorited status of the tweet. A 200 OK response from this method will\n                                        indicate whether the intended action was successful or not.",
                "operationId": "Create_favorites.destroy_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The numerical ID of the desired status.\n\n                                        Example Values: 123"
                    },
                    {
                        "name": "include_entities",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The entities node will be omitted when set to false.\n\n                                        Example Values: false"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/suggestions/{slug}.json": {
            "get": {
                "description": "Access the users in\n                                        a given category of the Twitter suggested user list. It is recommended that applications cache this\n                                        data for no more than one hour.",
                "operationId": "Get_users.suggestions.slug_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The short name of list or a category\n\n                                        Example Values: twitter"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restricts the suggested categories to the requested language. The language must be specified by the\n                                        appropriate two letter ISO 639-1 representation. Currently supported languages are provided by the\n                                        GET help/languages API request. Unsupported language codes will receive English (en) results. If you\n                                        use lang in this request, ensure you also include it when requesting the GET users/suggestions/:slug\n                                        list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/suggestions.json": {
            "get": {
                "description": "Access to Twitter's\n                                        suggested user list. This returns the list of suggested user categories. The category can be used in\n                                        GET users/suggestions/:slug to get the users in that category.",
                "operationId": "Get_users.suggestions_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restricts the suggested categories to the requested language. The language must be specified by the\n                                        appropriate two letter ISO 639-1 representation. Currently supported languages are provided by the\n                                        GET help/languages API request. Unsupported language codes will receive English (en) results. If you\n                                        use lang in this request, ensure you also include it when requesting the GET users/suggestions/:slug\n                                        list."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/suggestions/{slug}/members.json": {
            "get": {
                "description": "Access the\n                                        users in a given category of the Twitter suggested user list and return their most recent status if\n                                        they are not a protected user.",
                "operationId": "Get_users.suggestionsslugmembers_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The short name of list or a category\n\n                                        Example Values: twitter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access user data, geo, statuses and more with Twitter's REST API.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/direct_messages.json": {
            "get": {
[...]
