{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Weather Underground",
        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "api.wunderground.com",
    "basePath": "/api/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{key}/geolookup/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the geographic attributes of San Francisco CA.    Use {2 letter state code} /    {City Name}",
                "operationId": "Get_USA_Geolocate_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/q/France/Paris.json": {
            "get": {
                "description": "This example will return the geographic attributes of Paris, France. Use {Full Country Name} / {City Name}",
                "operationId": "Get_Outside_of_USA_Geolocate_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/q/autoip.json": {
            "get": {
                "description": "This example will return the geographic attributes associated with the IP address location of the user.",
                "operationId": "Get_IPAddress_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/q/94107.json": {
            "get": {
                "description": "This example will return the geographic attributes of zip code 94107",
                "operationId": "Get_ZIP_geolocate_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/q/SFO.json": {
            "get": {
                "description": "This example will return the geographic attributes of San Francisco International Airport (Airport Code: SFO)",
                "operationId": "Get_Airport_geolocate_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/q/37.776289,-122.395234.json": {
            "get": {
                "description": "This example will return the the geographic attributes of Latitude 37.776289 N, Longitude 122.395234 W",
                "operationId": "Get_Lat_Long_geolocate_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/conditions/q/pws:KCATAHOE2.json": {
            "get": {
                "description": "This example will return the the current weather conditions at the Personal Weather Station (pws) KCATAHOE2",
                "operationId": "Get_pws_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/conditions/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the current conditions in San Francisco, California",
                "operationId": "Get_Conditions_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/astronomy/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the Astronomy of San Francisco, California",
                "operationId": "Get_Astronomy_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/forecast/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the 3 Day Forecast Summary for San Francisco, California",
                "operationId": "Get_forecast3_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/almanac/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return Today's Average Highs/Lows and Record Highs/Lows for San Francisco, California.",
                "operationId": "Get_almanac_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/conditions/forecast/lang:FR/q/France/Paris.json": {
            "get": {
                "description": "This example will return Current Conditions and a 3 day simple Forecast for Paris France in French. See documentation page for full list of language code options.",
                "operationId": "Get_French_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/conditions/forecast/lang:SP/q/Spain/Alicante.json": {
            "get": {
                "description": "This example will return Current Conditions and a 3 day simple Forecast for Alicante, Spain in Spanish. See documentation page for full list of language code options.",
                "operationId": "Get_Spanish_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/forecast10day/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the 10 Day Forecast Summary for San Francisco, California",
                "operationId": "Get_forecast10_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/hourly/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return a detailed hourly forecast for the 'next' 36 hours in San Francisco, California",
                "operationId": "Get_OneDay_hourly_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/satellite/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return URL's for satellite (visual and IR) images for San Francisco, California",
                "operationId": "Get_satellite_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0": {
            "get": {
                "description": "This example will return dynamic radar image around Salt Lake City, UT with a transparent background. See Docs for all the options for creating these images.",
                "operationId": "Get_radar_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/radar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1": {
            "get": {
                "description": "This example will return dynamic radar image around Salt Lake City, UT with a Base Map background. See Docs for all the options for creating these images.",
                "operationId": "Get_radar_example2_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/alerts/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return active severe alerts for San Francisco, California.    This request only works in the USA, Canada and Europe.",
                "operationId": "Get_alerts_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/tide/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return 4 days of tides for San Francisco, California starting 'today'.    This request only works in the USA.",
                "operationId": "Get_Tide_example1_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/tide_20160312/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return 4 days of tides for San Francisco, California following March 3 2012.    This request only works in the USA.",
                "operationId": "Get_Tide_example2_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/rawtide_20160312/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return raw tide data for San Francisco, California on March 3 2016.    This request only works in the USA.",
                "operationId": "Get_Tide_RAW_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/hourly10day/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return a detailed hourly forecast for the next 10 days in San Francisco, California",
                "operationId": "Get_TenDay_hourly_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/yesterday/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return yesterday's weather in San Francisco, California.",
                "operationId": "Get_yesterday_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/planner_10051031/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return a Historical roll up of weather data in San Francisco from Oct 5 to Oct 31. An example application: http://www.wunderground.com/travelplanner/index.asp",
                "operationId": "Get_Planner_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/webcams/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return URL's to webcam images in San Francisco, California.    It will also return information about the webcam, including it's location in Lat,Long coordinates.",
                "operationId": "Get_cams_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=1": {
            "get": {
                "description": "This example will return dynamic animated radar image around Salt Lake City, UT with a base map background. See Docs for all the options for creating these images.",
                "operationId": "Get_radar_example3_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/animatedradar/image.gif?maxlat=42.35%26maxlon=-109.311%26minlat=39.27%26minlon=-114.644%26width=600%26height=480%26newmaps=0": {
            "get": {
                "description": "This example will return dynamic animated radar image around Salt Lake City, UT with a transparent background. See Docs for all the options for creating these images.",
                "operationId": "Get_radar_example4_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/history_20101018/q/SFO.json": {
            "get": {
                "description": "This example will return historical data for San Francisco, California for the specified date.    If you search by zip or lat/long you will get nearest airport.",
                "operationId": "Get_History_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/history_20101018/q/pws:KCASANFR14.json": {
            "get": {
                "description": "This example will return historical data for a Personal Weather Station for the specified date.    The feature only works with JSON.    XML will come out soon.",
                "operationId": "Get_History_example_pws_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/conditions/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the geographical and current conditions for San Francisco, California",
                "operationId": "Get_Geolocate_current_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{key}/geolookup/conditions/forecast/q/CA/San_Francisco.json": {
            "get": {
                "description": "This example will return the geographical, current conditions and 3 day forecast summary for San Francisco, California",
                "operationId": "Get_Geolocate_current_forecast_example_",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Get forecast and weather data with complete geolocation services, global coverage and more.",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}