{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "Youphoric",
        "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. ",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "youphoriclabs.com",
    "basePath": "/sms/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/register.php?": {
            "get": {
                "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. ",
                "operationId": "Get_method1_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "client",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "apigee",
                        "type": "string",
                        "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. "
                    },
                    {
                        "name": "FirstName",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "First Name"
                    },
                    {
                        "name": "LastName",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Last Name"
                    },
                    {
                        "name": "MiddleName",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Middle Name"
                    },
                    {
                        "name": "Street",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Street"
                    },
                    {
                        "name": "Barangay",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Barangay"
                    },
                    {
                        "name": "CityTown",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "City or Town"
                    },
                    {
                        "name": "Province",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Province"
                    },
                    {
                        "name": "ZipCode",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Zip or Postal Code"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Username"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Password"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Email"
                    },
                    {
                        "name": "contactno",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mobile or Telephone"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. ",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/mt.php?": {
            "post": {
                "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. ",
                "operationId": "Create_method4_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Characters limit 11"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Mobile Number."
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Text Message"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Youphoric SMS API allows you to create and launch SMS-based apps quickly to reach Smart subscribers in the Philippines. ",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}