{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "YouTube",
        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps.",
        "license": {
            "name": "MIT",
            "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
        }
    },
    "host": "insight.youtube.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/feeds/{projection}/standardfeeds/{regionId}/{feedId}_{categoryName}": {
            "get": {
                "description": "Retrieves a standard YouTube feed. Standard feeds contain lists of videos that either reflect YouTube user behavior, such as top-rated and most viewed video feeds, or were selected by YouTube staff, such as recently featured and mobile video feeds.",
                "operationId": "Get_standardfeeds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The author parameter restricts the search to videos uploaded by a particular YouTube user. Requesting a standard feed, YouTube will retrieve the standard feed and then filter the response to only include videos uploaded by the specified author. For example, if you request the \"Top Rated\" feed for user GoogleDevelopers, the API will retrieve the top-rated feed and return a response containing videos in that feed uploaded by user GoogleDevelopers. The API will not return a list of that user's videos ordered by rating."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "today",
                            "this_week",
                            "this_month",
                            "all_time"
                        ],
                        "default": "all_time",
                        "type": "integer",
                        "description": "Allows you to restrict the feed to only contain relevant results from the previous day, week or month. Note: The top_rated, top_favorites, most_viewed, most_discussed and most_responded standard feeds support the time parameter."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "regionID",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Region ID for region-specific standard feeds. See API docs for a list of valid region values."
                    },
                    {
                        "name": "feedID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "top_rated",
                            "top_favorites",
                            "most_viewed",
                            "most_shared",
                            "most_popular",
                            "most_recent",
                            "most_discussed",
                            "most_responded",
                            "recently_featured",
                            "on_the_web"
                        ],
                        "type": "integer",
                        "description": "Feed ID."
                    },
                    {
                        "name": "categoryName",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Category name for category-specific standard feeds. See API docs for a list of valid category values."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/channelstandardfeeds/{regionId}/{feedId}_{userType}/-/{categoryName}": {
            "get": {
                "description": "Returns standard feeds that list the most viewed or most subscribed YouTube channels.",
                "operationId": "Get_channelstandardfeeds_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies a search query term. See API docs for more details."
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "today",
                            "this_week",
                            "this_month",
                            "all_time"
                        ],
                        "default": "all_time",
                        "type": "integer",
                        "description": "Allows you to restrict the feed to only contain relevant results from the previous day, week or month. Note: YouTube does not generate a feed of the most subscribed channels from the previous day. As such, the only supported values of the time parameter for the most_subscribed feed are this_week, this_month, and all_time."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "regionID",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Region ID for region-specific standard feeds. See API docs for a list of valid region values."
                    },
                    {
                        "name": "feedID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "top_rated",
                            "top_favorites",
                            "most_viewed",
                            "most_shared",
                            "most_popular",
                            "most_recent",
                            "most_discussed",
                            "most_responded",
                            "recently_featured",
                            "on_the_web"
                        ],
                        "type": "integer",
                        "description": "Feed ID."
                    },
                    {
                        "name": "userType",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "User type used to filter the standard channel feed. Valid user types that can be appended to the feed URL are Comedians, Directors, Gurus, Musicians, Non-profit, Partners, Politicians, Reporters, and Sponsors. See API docs for details. Note: If you request a standard channel feed for a specific user type, you can also specify a region but you cannot also specify a category name."
                    },
                    {
                        "name": "categoryName",
                        "in": "path",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Category name for category-specific standard feeds. See API docs for a list of valid category values."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/playlists/{playlistId}": {
            "get": {
                "description": "Retrieves information about a playlist -- a collection of up to 200 videos that can be viewed sequentially -- given its ID.",
                "operationId": "Get_playlists_get_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The author parameter restricts the search to videos uploaded by a particular YouTube user. Requesting a standard feed, YouTube will retrieve the standard feed and then filter the response to only include videos uploaded by the specified author. For example, if you request the \"Top Rated\" feed for user GoogleDevelopers, the API will retrieve the top-rated feed and return a response containing videos in that feed uploaded by user GoogleDevelopers. The API will not return a list of that user's videos ordered by rating."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "restriction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifies the IP address that should be used to filter videos that can only be played in specific countries. To request videos playable from a specific computer, include the restriction parameter in your request and set the parameter value to the IP address of the computer where the videos will be played – e.g. restriction=255.255.255.255. To request videos that are playable in a specific country, include the restriction parameter in your request and set the parameter value to the ISO 3166 two-letter country code of the country where the videos will be played – e.g. restriction=DE."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "playlistID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that uniquely identifies a YouTube playlist."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            },
            "post": {
                "description": "Adds a video to a playlist. See API docs for request format.",
                "operationId": "Create_playlists_post_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "playlistID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that uniquely identifies a YouTube playlist."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/playlists/{playlistId}/{playlistEntryId}": {
            "put": {
                "description": "Updates the order in which a video appears in a playlist. See API docs for request format.",
                "operationId": "Update_playlists_entry_put_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "playlistID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that uniquely identifies a YouTube playlist."
                    },
                    {
                        "name": "playlistEntryID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that identifies a playlist entry (video)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            },
            "delete": {
                "description": "Deletes a video from a playlist.",
                "operationId": "Delete_playlists_entry_delete_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "default": "application/atom+xml",
                        "type": "string",
                        "description": "Specifies Content Type."
                    },
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    },
                    {
                        "name": "playlistID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that uniquely identifies a YouTube playlist."
                    },
                    {
                        "name": "playlistEntryID",
                        "in": "query",
                        "required": true,
                        "x-is-map": false,
                        "type": "string",
                        "description": "An ID that identifies a playlist entry (video)."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/playlists/snippets": {
            "get": {
                "description": "Retrieves a list of playlists matching a user-specified search term.",
                "operationId": "Get_playlists_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies a search query term. See API docs for more details. retrieve a list of playlists matching a user-specified search term."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/videos": {
            "get": {
                "description": "Retrieves a list of videos matching a user-specified search term.",
                "operationId": "Get_videos_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The author parameter restricts the search to videos uploaded by a particular YouTube user. Requesting a standard feed, YouTube will retrieve the standard feed and then filter the response to only include videos uploaded by the specified author. For example, if you request the \"Top Rated\" feed for user GoogleDevelopers, the API will retrieve the top-rated feed and return a response containing videos in that feed uploaded by user GoogleDevelopers. The API will not return a list of that user's videos ordered by rating."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "caption",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "boolean",
                        "description": "Enables you to restrict a search to videos that have or do not have caption tracks. To only request videos that have captions, set the caption parameter value to true. To only request videos that do not have captions, set the caption parameter value to false. Note: For backward-compatibility reasons, the API will also only return videos that have captions if you include the caption parameter but do not specify a parameter value."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "enables you to retrieve videos that are in a particular category or are tagged with a particular keyword or developer tag."
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "Specifies that videos must be available in a particular video format. See API docs for a list of valid format values."
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restricts the search to videos that have a geographical location specified in their metadata. See API docs for details."
                    },
                    {
                        "name": "location-radius",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "In conjunction with the location parameter, defines a geographic area. If the geographic coordinates associated with a video fall within that area, then the video may be included in search results. The location-radius parameter value must be a floating point number followed by a measurement unit. Valid measurement units are m, km, ft and mi. For example, valid parameter values include \"1500m\", \"5km\", \"10000ft\" and \"0.75mi\". The API will return an error if the radius is greater than 1000 kilometers."
                    },
                    {
                        "name": "lr",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Restricts the search to videos that have a title, description or keywords in a specific language. Valid values for the lr parameter are ISO 639-1 two-letter language codes. You can also use the values zh-Hans for simplified Chinese and zh-Hant for traditional Chinese."
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies the method that will be used to order entries in the API response. See API docs for valid values and more details."
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Specifies a search query term. See API docs for more details."
                    },
                    {
                        "name": "restriction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifies the IP address that should be used to filter videos that can only be played in specific countries. To request videos playable from a specific computer, include the restriction parameter in your request and set the parameter value to the IP address of the computer where the videos will be played – e.g. restriction=255.255.255.255. To request videos that are playable in a specific country, include the restriction parameter in your request and set the parameter value to the ISO 3166 two-letter country code of the country where the videos will be played – e.g. restriction=DE."
                    },
                    {
                        "name": "safeSearch",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "none",
                            "moderate",
                            "strict"
                        ],
                        "type": "integer",
                        "description": "Indicates whether the search results should include restricted content as well as standard content. Accepted values: none, moderate, strict."
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "today",
                            "this_week",
                            "this_month",
                            "all_time"
                        ],
                        "default": "all_time",
                        "type": "integer",
                        "description": "Allows you to restrict the feed to only contain relevant results from the previous day, week or month. Note: The top_rated, top_favorites, most_viewed, most_discussed and most_responded standard feeds support the time parameter."
                    },
                    {
                        "name": "uploader",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "partner"
                        ],
                        "type": "integer",
                        "description": "Lets you restrict a query to YouTube partner videos. A YouTube partner is a person or organization that has been accepted into and participates in the YouTube Partner Program."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
                        "description": "Projection name. All API requests must specify a projection. Most developers who are using this documentation will use the api projection. However, if you are developing applications for mobile devices, you can substitute mobile for api in any of the sample requests described in the API documentation. Similarly, if you prefer to use the base projection, which is well suited to feed readers, you can substitute base for api in any of the sample requests described in the API documentation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get YouTube on any screen, any time. Integrate video content and functionality into your website and apps."
                    }
                }
            }
        },
        "/feeds/{projection}/videos/-/{category_or_tag}": {
            "get": {
                "description": "Retrieves a feed of all of the videos that are in a particular category or that are associated with a particular keyword.",
                "operationId": "Get_videos_category_tag_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "alt",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "atom",
                            "rss",
                            "json",
                            "json-in-script",
                            "jsonc"
                        ],
                        "default": "atom",
                        "type": "integer",
                        "description": "The alt parameter specifies the format of the feed to be returned. The default value is atom and this document only explains the format of Atom responses. If you set the parameter value to json-in-script, then you must also set the callback parameter value to identify the callback function to which the API response will be sent."
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The author parameter restricts the search to videos uploaded by a particular YouTube user. Requesting a standard feed, YouTube will retrieve the standard feed and then filter the response to only include videos uploaded by the specified author. For example, if you request the \"Top Rated\" feed for user GoogleDevelopers, the API will retrieve the top-rated feed and return a response containing videos in that feed uploaded by user GoogleDevelopers. The API will not return a list of that user's videos ordered by rating."
                    },
                    {
                        "name": "callback",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The callback parameter identifies the callback function to which the API response will be sent. If the value of the alt parameter is jsonc or json-in-script, and you specify a value for the callback parameter, then the API response will be wrapped in a call to the specified function. This parameter is required if the value of the alt parameter is json-in-script."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields parameter serves one or both of the following purposes: 1. It identifies the data fields that should be included in a partial API response. 2. It specifies conditions that should be used to filter the result set. See API docs for more details. Note: The fields parameter is currently used for experimental features only."
                    },
                    {
                        "name": "fields-language",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The fields-language parameter is being used temporarily to force the API server to apply new syntax rules affecting requests to retrieve partial API responses. To use the new syntax rules for partial API responses, or to filter results based on the presence of an element that does not contain text content, set the fields-language parameter value to r2. (This is the only valid value for this parameter.)"
                    },
                    {
                        "name": "max-results",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The max-results parameter specifies the maximum number of results that should be included in the result set. This parameter works in conjunction with the start-index parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the max-results parameter to 10 and the start-index parameter to 11. The default value of this parameter is 25, and the maximum value is 50. However, for displaying lists of videos, we recommend that you set the max-results parameter to 10."
                    },
                    {
                        "name": "prettyprint",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The prettyprint parameter lets you request an XML response formatted with indentations and line breaks. Set the parameter's value to true to have the response formatted as such. The default parameter value is false."
                    },
                    {
                        "name": "start-index",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The start-index parameter specifies the index of the first matching result that should be included in the result set. This parameter uses a one-based index, meaning the first result is 1, the second result is 2 and so forth. This parameter works in conjunction with the max-results parameter to determine which results to return. For example, to request the second set of 10 results – i.e. results 11-20 – set the start-index parameter to 11 and the max-results parameter to 10."
                    },
                    {
                        "name": "strict",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "default": false,
                        "type": "boolean",
                        "description": "The strict parameter can be used to instruct YouTube to reject an API request if the request contains invalid request parameters. The default API behavior is to ignore invalid request parameters. If you want YouTube to reject API requests that contain invalid parameters, set the strict parameter value to true. For example, YouTube would reject the following request because \"foo\" is not a valid request parameter."
                    },
                    {
                        "name": "v",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "enum": [
                            "1",
                            "2"
                        ],
                        "default": "2",
                        "type": "integer",
                        "description": "Specifies the version of the API that YouTube should use to handle the API request. Your request can specify the desired API version using either the v parameter or the GData-Version HTTP request header. If your request does not specify an API version, YouTube will handle your request using API version 1. The current API version is 2."
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "The key parameter specifies your developer key, an alphanumeric string that uniquely identifies the application making an API request. You can also use the X-GData-Key request header to specify your developer key. Your application does not need to specify your developer key twice by using both the key parameter and the X-GData-Key request header, but it should provide your developer key using at least one of those two methods."
                    },
                    {
                        "name": "restriction",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Identifies the IP address that should be used to filter videos that can only be played in specific countries. To request videos playable from a specific computer, include the restriction parameter in your request and set the parameter value to the IP address of the computer where the videos will be played – e.g. restriction=255.255.255.255. To request videos that are playable in a specific country, include the restriction parameter in your request and set the parameter value to the ISO 3166 two-letter country code of the country where the videos will be played – e.g. restriction=DE."
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "x-is-map": false,
                        "type": "string",
                        "description": "Category or keyword parameter(s), specified in GData format. See API docs for more details. This parameter is optional -- you can use the parameter in the URL. However, either is required for this method."
                    },
                    {
                        "name": "projection",
                        "in": "path",
                        "required": true,
                        "x-is-map": false,
                        "enum": [
                            "api",
                            "base",
                            "mobile"
                        ],
                        "default": "api",
                        "type": "integer",
[...]
