{
    "swagger": "2.0",
    "info": {
        "version": "partner",
        "title": "350,000+ Recipe and Grocery List API (v2)",
        "description": "#Documentation\r\n\r\nThis is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.\r\n\r\nThe update brings with it Swagger-based documentation. [Swagger](http://swagger.io) is an emerging standard for describing REST-based APIs, and with this Swagger-compliant endpoint (above), you can make ready-to-go interface libraries for your code via [swagger-codegen](https://github.com/swagger-api/swagger-codegen). For instance, it's easy to generate libraries for Node.js, Java, Ruby, ASP.NET MVC, jQuery, php and more!\r\n\r\nYou can also try out the endpoint calls with your own api_key right here on this page. Be sure to enter your api_key above to use the \"Try it out!\" buttons on this page.\r\n\r\n##Start Here\r\n\r\nDevelopers new to the BigOven API should start with this version, not with the legacy API. We'll be making improvements to this API over time, and doing only bug fixes on the v1 API.\r\n\r\n\r\n\r\nTo pretend you're a BigOven user (for instance, to get your recently viewed recipes or your grocery list), you need to pass in Basic Authentication information in the header, just as with the v1 API. We do now require that you make all calls via https. You need to pass your api_key in with every call, though this can now be done on the header (send a request header \"X-BigOven-API-Key\" set to your api_key value, e.g., Request[\"X-BigOven-API-Key\"]=\"your-key-here\".)\r\n\r\n##Migration Notes\r\n\r\nFor existing partners, we encourage you to [migrate](http://api2.bigoven.com), and while at this writing we have no hard-and-fast termination date for the v1 API, we strongly prefer that you migrate by January 1, 2017. While the changes aren't overly complex, there are several breaking changes, including refactoring of recipe search and results and removal of support for XML. This is not a simply plug-and-play replacement to the v1 API. With respect to an exclusive focus on JSON, the world has spoken, and it prefers JSON for REST-based API's. We've taken numerous steps to refactor the API to make it more REST-compliant. Note that this v2 API will be the preferred API from this point onward, so we encourage developers to migrate to this new format. We have put together some [migration notes](/web/documentation/migration-to-v2) that we encourage you to read carefully.\r\n\r\n##Photos\r\n\r\nSee our [photos documentation](http://api2.bigoven.com/web/documentation/recipe-images). \r\n\r\nFor more information on usage of this API, including features, pricing, rate limits, terms and conditions, please visit the [BigOven API website](http://api2.bigoven.com).",
        "termsOfService": "Please see our [terms of service](http://api2.bigoven.com/web/documentation/termsofuse"
    },
    "host": "api2.bigoven.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/collection/{id}": {
            "get": {
                "tags": [
                    "Collection"
                ],
                "summary": "Gets a recipe collection. A recipe collection is a curated set of recipes.",
                "operationId": "Collection_GetCollection",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "the collection identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "results per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "page number (starting with 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "test",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sessionForLogging",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.RecipeSearchResult"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/collections": {
            "get": {
                "tags": [
                    "Collection"
                ],
                "summary": "Get the list of current, seasonal recipe collections. From here, you can use the /collection/{id} endpoint to retrieve the recipes in those collections.",
                "operationId": "Collection_Collections",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "test",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.API2.CollectionInfo"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/glossary/{id}": {
            "get": {
                "tags": [
                    "Glossary"
                ],
                "summary": "Get food glossary article",
                "operationId": "Glossary_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "identifier of article to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Glossary article successfully returned"
                    },
                    "404": {
                        "description": "Glossary article not found"
                    }
                },
                "deprecated": false
            }
        },
        "/glossary/byterm/{term}": {
            "get": {
                "tags": [
                    "Glossary"
                ],
                "summary": "Get food glossary article by term (e.g., asparagus). This editorial is (c) BigOven and MUST carry attribution and a link back to the glossary entry on BigOven.com.",
                "operationId": "Glossary_ByTerm",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "term",
                        "in": "path",
                        "description": "Keyword used to look up article, e.g., asparagus",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.GlossaryEntry"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist/department": {
            "post": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Departmentalize a list of strings -- used for ad-hoc grocery list item addition",
                "operationId": "GroceryList_Department",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.GroceryListController.DepartmentModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/API2.GroceryListDepartmentResult"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist": {
            "get": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Get the user's grocery list.  User is determined by Basic Authentication.",
                "operationId": "GroceryList_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.GroceryList"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Delete all the items on a grocery list; faster operation than a sync with deleted items.",
                "operationId": "GroceryList_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist/recipe": {
            "post": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Add a Recipe to the grocery list.  In the request data, pass in recipeId, scale (scale=1.0 says to keep the recipe the same size as originally posted), markAsPending (true/false) to indicate that\r\n            the lines in the recipe should be marked in a \"pending\" (unconfirmed by user) state.",
                "operationId": "GroceryList_AddRecipe",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.GroceryListController.PostGroceryListRecipeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist/sync": {
            "post": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Synchronize the grocery list.  Call this with a POST to /grocerylist/sync",
                "operationId": "GroceryList_PostGroceryListSync",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.GroceryListController.PostGroceryListSyncRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist/item": {
            "post": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Add a single line item to the grocery list",
                "operationId": "GroceryList_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "newItem",
                        "in": "body",
                        "description": "name, quantity, unit, notes, department",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.GroceryListController.PostToGroceryListRecipeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.ShoppingListLine"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/grocerylist/item/{guid}": {
            "put": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "Update a grocery item by GUID",
                "operationId": "GroceryList_GroceryListItemGuid",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "req",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.GroceryListController.UpdateItemByGuidRequest"
                        }
                    },
                    {
                        "name": "guid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "GroceryList"
                ],
                "summary": "/grocerylist/item/{guid}  DELETE will delete this item assuming you own it.",
                "operationId": "GroceryList_DeleteItemByGuid",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "guid",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/images": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Get all the images for a recipe. DEPRECATED. Please use /recipe/{recipeId}/photos.",
                "operationId": "Images_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "Recipe ID (required)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.API.Image"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/photos": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Get all the photos for a recipe",
                "operationId": "Images_GetRecipePhotos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "Recipe ID (required)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.ImagesController.RecipePhotosResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/scans": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Gets a list of RecipeScan images for the recipe. There will be at most 3 per recipe.",
                "operationId": "Images_GetScanImages",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "the recipe identifier (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.API.Image"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/image": {
            "post": {
                "tags": [
                    "Images"
                ],
                "summary": "POST: /recipe/{recipeId}/image?lat=42&amp;lng=21&amp;caption=this%20is%20my%20caption\r\n             \r\n             Note that caption, lng and lat are all optional, but must go on the request URI as params because this endpoint\r\n             needs a multipart/mime content header and will not parse JSON in the body along with it.\r\n            \r\n             Testing with Postman (validated 11/20/2015):\r\n             1) Remove the Content-Type header; add authentication information\r\n             2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n             change the type of the input from Text to File.  Browse and choose a JPG.",
                "operationId": "Images_UploadRecipeImage",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "caption",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "if the user is unknown"
                    },
                    "415": {
                        "description": "if unsupported media type (e.g., bad JPG)"
                    },
                    "400": {
                        "description": "if bad request (e.g., missing parameters)"
                    },
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/note/{noteId}": {
            "get": {
                "tags": [
                    "Note"
                ],
                "summary": "Get a given note. Make sure you're passing authentication information in the header for the user who owns the note.",
                "operationId": "Note_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipe identifier (integer)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "noteId",
                        "in": "path",
                        "description": "The note ID (note -- it's not the RecipeID)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.RecipeNote"
                        }
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Note"
                ],
                "summary": "HTTP PUT (update) a Recipe note (RecipeNote).",
                "operationId": "Note_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "noteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipeNote",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.NoteController.NoteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.RecipeNote"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Note"
                ],
                "summary": "Delete a review\r\n                do a DELETE Http request of /note/{ID}",
                "operationId": "Note_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipeId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "noteId",
                        "in": "path",
                        "description": "noteId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/notes": {
            "get": {
                "tags": [
                    "Note"
                ],
                "summary": "recipe/100/notes",
                "operationId": "Note_GetNotes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipeId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "page (int, starting from 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "recipeId",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.RecipeNoteList"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/note": {
            "post": {
                "tags": [
                    "Note"
                ],
                "summary": "HTTP POST a new note into the system.",
                "operationId": "Note_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipeId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "note",
                        "in": "body",
                        "description": "a recipe note, with fields: Date (YYYY-MM-DD string), Notes (string), People (string), Variations (string), RecipeID (int?)",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.NoteController.NoteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.RecipeNote"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipes/raves": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Get the recipe/comment tuples for those recipes with 4 or 5 star ratings",
                "operationId": "Recipe_Raves",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "page, starting with 1",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "results per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.RecipeInfoReviewTuple2"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{id}": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Return full Recipe detail",
                "operationId": "Recipe_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "the Recipe ID to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "prefetch",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.Recipe"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Delete a Recipe (you must be authenticated as an owner of the recipe)",
                "operationId": "Recipe_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/related": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Get recipes related to the given recipeId",
                "operationId": "Recipe_Related",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.RecipeSearchResult"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/feedback": {
            "post": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Feedback on a Recipe -- for internal BigOven editors",
                "operationId": "Recipe_Feedback",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "The payload for feedback, which includes the field \"feedback\"",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.RecipeController.FeedbackDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipes/random": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Get a random, home-page-quality Recipe.",
                "operationId": "Recipe_GetRandomRecipe",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Recipe"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipes": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Search for recipes. There are many parameters that you can apply. Starting with the most common, use title_kw to search within a title.\r\n            Use any_kw to search across the entire recipe.\r\n            If you'd like to limit by course, set the parameter \"include_primarycat\" to one of (appetizers,bread,breakfast,dessert,drinks,maindish,salad,sidedish,soup,marinades,other).\r\n            If you'd like to exclude a category, set exclude_cat to one or more (comma-separated) list of those categories to exclude.\r\n            If you'd like to include a category, set include_cat to one or more (comma-separated) of those categories to include.\r\n            To explicitly include an ingredient in your search, set the parameter \"include_ing\" to a CSV of up to three ingredients, e.g.:include_ing=mustard,chicken,beef%20tips\r\n            To explicitly exclude an ingredient in your search, set the parameter \"exclude_ing\" to a CSV of up to three ingredients.\r\n            All searches must contain the paging parameters pg and rpp, which are integers, and represent the page number (1-based) and results per page (rpp).\r\n            So, to get the third page of a result set paged with 25 recipes per page, you'd pass pg=3&amp;rpp=25\r\n            If you'd like to target searches to just a single target user's recipes, set userId=the target userId (number).\r\n            Or, you can set username=theirusername\r\n            vtn;vgn;chs;glf;ntf;dyf;sff;slf;tnf;wmf;rmf;cps\r\n            cuisine\r\n            photos\r\n            filter=added,try,favorites,myrecipes\\r\\n\\r\\n\r\n            folder=FolderNameCaseSensitive\r\n            coll=ID of Collection",
                "operationId": "Recipe_RecipeSearch",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "any_kw",
                        "in": "query",
                        "description": "Search anywhere in the recipe for the keyword",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "folder",
                        "in": "query",
                        "description": "Search in a specific folder name for the authenticated user",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "coll",
                        "in": "query",
                        "description": "Limit to a collection ID number",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "optionally set to either \"myrecipes\", \"try\", \"favorites\",\"added\" to filter to just the authenticated user's recipe set",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "title_kw",
                        "in": "query",
                        "description": "Search just in the recipe title for the keyword",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Set the target userid to search their public recipes",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Set the target username to search their public recipes",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "photos",
                        "in": "query",
                        "description": "if set to true, limit search results to photos only",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "boostmine",
                        "in": "query",
                        "description": "if set to true, boost my own recipes in my folders so they show up high in the list (at the expense of other sort orders)",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "include_cat",
                        "in": "query",
                        "description": "integer of the subcategory you'd like to limit searches to (see the /recipe/categories endpoint for available id numbers). For instance, 58 is \"Main Dish &gt; Casseroles\".",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude_cat",
                        "in": "query",
                        "description": "like include_cat, set this to an integer to exclude a specific category",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_primarycat",
                        "in": "query",
                        "description": "csv indicating up to three top-level categories -- valid values are [appetizers,bread,breakfast,desserts,drinks,maindish,salads,sidedish,soups,marinades,other]",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_ing",
                        "in": "query",
                        "description": "A CSV representing up to 3 ingredients to include, e.g., tomatoes,corn%20%starch,chicken",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude_ing",
                        "in": "query",
                        "description": "A CSV representing up to 3 ingredients to exclude  (Powersearch-capable plan required)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cuisine",
                        "in": "query",
                        "description": "Limit to a specific cuisine. Cooks can enter anything free-form, but the few dozen preconfigured values are Afghan,African,American,American-South,Asian,Australian,Brazilian,Cajun,Canadian,Caribbean,Chinese,Croatian,Cuban,Dessert,Eastern European,English,French,German,Greek,Hawaiian,Hungarian,India,Indian,Irish,Italian,Japanese,Jewish,Korean,Latin,Mediterranean,Mexican,Middle Eastern,Moroccan,Polish,Russian,Scandanavian,Seafood,Southern,Southwestern,Spanish,Tex-Mex,Thai,Vegan,Vegetarian,Vietnamese",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "db",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userset",
                        "in": "query",
                        "description": "If set to a given username, it'll force the search to filter to just that username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "integer; results per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "integer: the page number",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "vtn",
                        "in": "query",
                        "description": "when set to 1, limit to vegetarian (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "vgn",
                        "in": "query",
                        "description": "when set to 1, limit to vegan (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "chs",
                        "in": "query",
                        "description": "when set to 1, limit to contains-cheese (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "glf",
                        "in": "query",
                        "description": "when set to 1, limit to gluten-free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "ntf",
                        "in": "query",
                        "description": "when set to 1, limit to nut-free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "dyf",
                        "in": "query",
                        "description": "when set to 1, limit to dairy-free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sff",
                        "in": "query",
                        "description": "when set to 1, limit to seafood-free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "slf",
                        "in": "query",
                        "description": "when set to 1, limit to shellfish-free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "tnf",
                        "in": "query",
                        "description": "when set to 1, limit to tree-nut free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "wmf",
                        "in": "query",
                        "description": "when set to 1, limit to white-meat free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rmf",
                        "in": "query",
                        "description": "when set to 1, limit to red-meat free (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "cps",
                        "in": "query",
                        "description": "when set to 1, recipe contains pasta, set to 0 means contains no pasta (Powersearch-capable plan required)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API2.RecipeSearchResult"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/categories": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Get a list of recipe categories (the ID field can be used for include_cat in search parameters)",
                "operationId": "Recipe_Categories",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.RecipeCategory"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/autocomplete": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Given a query, return recipe titles starting with query. Query must be at least 3 chars in length.",
                "operationId": "Recipe_AutoComplete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/scan": {
            "post": {
                "tags": [
                    "Recipe"
                ],
                "summary": "POST an image as a new RecipeScan request\r\n                1)  Fetch the filename -- DONE\r\n                2)  Copy it to the pics/scan folder - ENSURE NO NAMING COLLISIONS -- DONE\r\n                3)  Create 120 thumbnail size  in pics/scan/120 -- DONE\r\n                4)  Insert the CloudTasks record\r\n                5)  Create the HIT\r\n                6)  Update the CloudTasks record with the HIT ID\r\n                7)  Email the requesing user\r\n                8)  Call out to www.bigoven.com to fetch the image and re-create the thumbnail",
                "operationId": "Recipe_Scan",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "test",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "devicetype",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Not authorized"
                    },
                    "402": {
                        "description": "Payment required (not enough credits)"
                    },
                    "415": {
                        "description": "Bad media type (bad JPG)"
                    },
                    "500": {
                        "description": "General error on initiating RecipeScan task; please try again or contact us at support[at]bigoven.com"
                    }
                },
                "deprecated": false
            }
        },
        "/recipe": {
            "put": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Update a recipe",
                "operationId": "Recipe_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipe",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Recipe"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Recipe"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Add a new recipe",
                "operationId": "Recipe_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipe",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Recipe"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Recipe"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipes/recentviews": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Get a list of recipes that the authenticated user has most recently viewed",
                "operationId": "Recipe_RecentViews",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "Page number starting with 1",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "results per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.RecipeInfoDateTuple2"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/review/{reviewId}": {
            "get": {
                "tags": [
                    "Review"
                ],
                "summary": "Get a given review",
                "operationId": "Review_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "reviewId",
                        "in": "path",
                        "description": "int",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "int",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Review"
                        }
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Review"
                ],
                "summary": "HTTP PUT (update) a Recipe review (UserComment).",
                "operationId": "Review_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "reviewId",
                        "in": "path",
                        "description": "reviewId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "review",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.ReviewController.ReviewRequest"
                        }
                    },
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipeId (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BigOven.Model.API.Review"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Review"
                ],
                "summary": "Delete a review",
                "operationId": "Review_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "ucId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "reviewId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/reviews": {
            "get": {
                "tags": [
                    "Review"
                ],
                "summary": "Get reviews for a recipe",
                "operationId": "Review_GetReviews",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "recipe id (int)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pg",
                        "in": "query",
                        "description": "the page (int), starting with 1",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rpp",
                        "in": "query",
                        "description": "results per page (int)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BigOven.Model.API.Review"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/recipe/{recipeId}/review": {
            "post": {
                "tags": [
                    "Review"
                ],
                "summary": "Add a new review or rating.\r\n            You need to provide EITHER a StarRating or a Comment or both.\r\n            Just providing a StarRating is a \"rating\"; just providing a Comment is a \"comment\". You can also provide a comment AND a rating (preferred)",
                "operationId": "Review_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "recipeId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/API2.Controllers.ReviewController.ReviewRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/System.Object"
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "BigOven.Model.API2.RecipeSearchResult": {
            "type": "object",
            "properties": {
                "ResultCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "Results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API2.RecipeInfox"
                    }
                },
                "SpellSuggest": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API2.RecipeInfox": {
            "type": "object",
            "properties": {
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Title": {
                    "type": "string"
                },
                "Cuisine": {
                    "type": "string"
                },
                "Category": {
                    "type": "string"
                },
                "Subcategory": {
                    "type": "string"
                },
                "Microcategory": {
                    "type": "string"
                },
                "StarRating": {
                    "format": "double",
                    "type": "number"
                },
                "WebURL": {
                    "type": "string"
                },
                "ReviewCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "Poster": {
                    "$ref": "#/definitions/BigOven.Model.API2.UserInfoTinyx"
                },
                "IsPrivate": {
                    "type": "boolean"
                },
                "Servings": {
                    "format": "double",
                    "type": "number"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "IsRecipeScan": {
                    "type": "boolean"
                },
                "IsBookmark": {
                    "type": "boolean"
                },
                "TotalTries": {
                    "format": "int32",
                    "type": "integer"
                },
                "PhotoUrl": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API2.UserInfoTinyx": {
            "type": "object",
            "properties": {
                "UserName": {
                    "type": "string"
                },
                "UserID": {
                    "format": "int32",
                    "type": "integer"
                },
                "FirstName": {
                    "type": "string"
                },
                "LastName": {
                    "type": "string"
                },
                "PhotoUrl": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API2.CollectionInfo": {
            "type": "object",
            "properties": {
                "ID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Description": {
                    "type": "string"
                },
                "Title": {
                    "type": "string"
                },
                "MobileUrl": {
                    "type": "string"
                },
                "PhotoUrl": {
                    "type": "string"
                },
                "PRO": {
                    "type": "boolean"
                },
                "IsFiltered": {
                    "type": "boolean"
                },
                "Token": {
                    "type": "string"
                },
                "Results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API2.RecipeInfox"
                    }
                },
                "WebUrl": {
                    "type": "string"
                },
                "IsSponsored": {
                    "type": "boolean"
                }
            }
        },
        "BigOven.Model.API.GlossaryEntry": {
            "type": "object",
            "properties": {
                "GlossaryEntryID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Term": {
                    "type": "string"
                },
                "Definition": {
                    "type": "string"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "LastModified": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "API2.Controllers.GroceryListController.DepartmentModel": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "string"
                }
            }
        },
        "API2.GroceryListDepartmentResult": {
            "type": "object",
            "properties": {
                "item": {
                    "type": "string"
                },
                "dept": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API2.GroceryList": {
            "type": "object",
            "properties": {
                "Items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API.Grocery.Item"
                    }
                },
                "Recipes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API2.RecipeInfox"
                    }
                },
                "LastModified": {
                    "format": "date-time",
                    "type": "string"
                },
                "VersionGuid": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.Grocery.Item": {
            "type": "object",
            "properties": {
                "ItemID": {
                    "format": "int64",
                    "type": "integer"
                },
                "GUID": {
                    "type": "string"
                },
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "Notes": {
                    "type": "string"
                },
                "DisplayQuantity": {
                    "type": "string"
                },
                "Department": {
                    "type": "string"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "IsChecked": {
                    "type": "boolean"
                },
                "LocalStatus": {
                    "type": "string"
                },
                "LastModified": {
                    "format": "date-time",
                    "type": "string"
                },
                "BigOvenObject": {
                    "type": "string"
                },
                "ThirdPartyURL": {
                    "type": "string"
                }
            }
        },
        "System.Object": {
            "type": "object",
            "properties": {}
        },
        "API2.Controllers.GroceryListController.PostGroceryListRecipeRequest": {
            "type": "object",
            "properties": {
                "recipeId": {
                    "format": "int32",
                    "type": "integer"
                },
                "scale": {
                    "format": "double",
                    "type": "number"
                },
                "markAsPending": {
                    "type": "boolean"
                }
            }
        },
        "API2.Controllers.GroceryListController.PostGroceryListSyncRequest": {
            "type": "object",
            "properties": {
                "list": {
                    "$ref": "#/definitions/BigOven.Model.API.Grocery.GroceryList"
                },
                "since": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.Grocery.GroceryList": {
            "type": "object",
            "properties": {
                "Items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API.Grocery.Item"
                    }
                },
                "Recipes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API.RecipeInfo"
                    }
                },
                "LastModified": {
                    "format": "date-time",
                    "type": "string"
                },
                "VersionGuid": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.RecipeInfo": {
            "type": "object",
            "properties": {
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Title": {
                    "type": "string"
                },
                "Cuisine": {
                    "type": "string"
                },
                "Category": {
                    "type": "string"
                },
                "Subcategory": {
                    "type": "string"
                },
                "Microcategory": {
                    "type": "string"
                },
                "StarRating": {
                    "format": "double",
                    "type": "number"
                },
                "StarRatingIMG": {
                    "type": "string"
                },
                "WebURL": {
                    "type": "string"
                },
                "ImageURL": {
                    "type": "string"
                },
                "ImageURL120": {
                    "type": "string"
                },
                "ReviewCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "Poster": {
                    "$ref": "#/definitions/BigOven.Model.API.UserInfo"
                },
                "IsPrivate": {
                    "type": "boolean"
                },
                "HideFromPublicSearch": {
                    "type": "boolean"
                },
                "IsBookmark": {
                    "type": "boolean"
                },
                "BookmarkURL": {
                    "type": "string"
                },
                "YieldNumber": {
                    "format": "double",
                    "type": "number"
                },
                "QualityScore": {
                    "format": "double",
                    "type": "number"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "MaxImageSquare": {
                    "format": "int32",
                    "type": "integer"
                },
                "TotalTries": {
                    "format": "int32",
                    "type": "integer"
                },
                "HeroPhotoUrl": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.UserInfo": {
            "type": "object",
            "properties": {
                "UserID": {
                    "format": "int32",
                    "type": "integer"
                },
                "UserName": {
                    "type": "string"
                },
                "ImageURL48": {
                    "type": "string"
                },
                "PhotoUrl": {
                    "type": "string"
                },
                "IsPremium": {
                    "type": "boolean"
                },
                "IsKitchenHelper": {
                    "type": "boolean"
                },
                "PremiumExpiryDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "MemberSince": {
                    "format": "date-time",
                    "type": "string"
                },
                "IsUsingRecurly": {
                    "type": "boolean"
                },
                "FirstName": {
                    "type": "string"
                },
                "LastName": {
                    "type": "string"
                }
            }
        },
        "API2.Controllers.GroceryListController.PostToGroceryListRecipeRequest": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "quantity": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "department": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.ShoppingListLine": {
            "type": "object",
            "properties": {
                "ShoppingListLineID": {
                    "format": "int64",
                    "type": "integer"
                },
                "GUID": {
                    "type": "string"
                },
                "TextAmt": {
                    "type": "string"
                },
                "ItemName": {
                    "type": "string"
                },
                "Dept": {
                    "type": "string"
                },
                "HTMLItemName": {
                    "type": "string"
                },
                "DateAdded": {
                    "format": "date-time",
                    "type": "string"
                },
                "Notes": {
                    "type": "string"
                },
                "ListID": {
                    "format": "int64",
                    "type": "integer"
                },
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "PendingAddition": {
                    "type": "boolean"
                },
                "IsChecked": {
                    "type": "boolean"
                },
                "LastModified": {
                    "format": "date-time",
                    "type": "string"
                },
                "MealPlanObjectType": {
                    "format": "int32",
                    "type": "integer"
                },
                "MealPlanID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Store": {
                    "type": "string"
                },
                "ThirdPartyURL": {
                    "type": "string"
                },
                "ThirdPartyHost": {
                    "type": "string"
                },
                "ThirdPartyTitle": {
                    "type": "string"
                }
            }
        },
        "API2.Controllers.GroceryListController.UpdateItemByGuidRequest": {
            "type": "object",
            "properties": {
                "guid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "quantity": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                },
                "notes": {
                    "type": "string"
                },
                "department": {
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.Image": {
            "type": "object",
            "properties": {
                "ImageID": {
                    "format": "int64",
                    "type": "integer"
                },
                "ImageURL": {
                    "type": "string"
                },
                "ImageURL48": {
                    "type": "string"
                },
                "ImageURL64": {
                    "type": "string"
                },
                "ImageURL120": {
                    "type": "string"
                },
                "ImageURL128": {
                    "type": "string"
                },
                "ImageURL200": {
                    "type": "string"
                },
                "ImageURL256": {
                    "type": "string"
                },
                "CreationDate": {
                    "type": "string"
                },
                "IsPrimary": {
                    "type": "boolean"
                },
                "Caption": {
                    "type": "string"
                },
                "Poster": {
                    "$ref": "#/definitions/BigOven.Model.API.UserInfo"
                },
                "MaxImageSquare": {
                    "format": "int32",
                    "type": "integer"
                },
                "ImageSquares": {
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                }
            }
        },
        "API2.Controllers.ImagesController.RecipePhotosResponse": {
            "type": "object",
            "properties": {
                "ResultCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "Results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API2.Photo"
                    }
                }
            }
        },
        "BigOven.Model.API2.Photo": {
            "type": "object",
            "properties": {
                "ImageID": {
                    "format": "int64",
                    "type": "integer"
                },
                "PhotoUrl": {
                    "type": "string"
                },
                "CreationDate": {
                    "type": "string"
                },
                "IsPrimary": {
                    "type": "boolean"
                },
                "Caption": {
                    "type": "string"
                },
                "Poster": {
                    "$ref": "#/definitions/BigOven.Model.API2.UserInfoTinyx"
                },
                "MaxImageSquare": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "BigOven.Model.API.RecipeNote": {
            "type": "object",
            "properties": {
                "Date": {
                    "type": "string"
                },
                "DateDT": {
                    "format": "date-time",
                    "type": "string"
                },
                "ID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Notes": {
                    "type": "string"
                },
                "People": {
                    "type": "string"
                },
                "Variations": {
                    "type": "string"
                },
                "UserID": {
                    "format": "int32",
                    "type": "integer"
                },
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "GUID": {
                    "type": "string"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "API2.Controllers.NoteController.NoteRequest": {
            "type": "object",
            "properties": {
                "Date": {
                    "format": "date-time",
                    "type": "string"
                },
                "DateDT": {
                    "format": "date-time",
                    "type": "string"
                },
                "ID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Notes": {
                    "type": "string"
                },
                "People": {
                    "type": "string"
                },
                "Variations": {
                    "type": "string"
                },
                "UserID": {
                    "format": "int32",
                    "type": "integer"
                },
                "RecipeID": {
                    "format": "int32",
                    "type": "integer"
                },
                "GUID": {
                    "type": "string"
                },
                "CreationDate": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "BigOven.Model.API.RecipeNoteList": {
            "type": "object",
            "properties": {
                "ResultCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "Results": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/BigOven.Model.API.RecipeNote"
                    }
                }
            }
        },
        "BigOven.Model.API2.RecipeNote": {
            "type": "object",
            "properties": {
                "Date": {
                    "type": "string"
                },
                "DateDT": {
                    "format": "date-time",
                    "type": "string"
                },
                "ID": {
                    "format": "int32",
                    "type": "integer"
                },
                "Notes": {
                    "type": "string"
                },
                "People": {
                    "type": "string"
                },
                "Variations": {
                    "type": "string"
                },
                "UserID": {
[...]
