{
    "swagger": "2.0", 
    "info": {
        "version": "1.0", 
        "description": "Reddit RESTful API", 
        "title": "Reddit API"
    }, 
    "host": "www.reddit.com", 
    "basePath": "/", 
    "scheme": [
        "http"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/api/v1/me": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Returns the identity of the user currently authenticated via OAuth.", 
                "summary": "Returns the identity of the user currently authenticated via OAuth.", 
                "security": [], 
                "operationId": "account"
            }
        }, 
        "/api/v1/me/prefs": {
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "{  &quot;beta&quot;: boolean value,  &quot;clickgadget&quot;: boolean value,  &quot;collapse_read_messages&quot;: boolean value,  &quot;compress&quot;: boolean value,  &quot;creddit_autorenew&quot;: boolean value,  &quot;default_comment_sort&quot;: one of (`confidence`, `old`, `top`, `qa`, `controversial`, `new`),  &quot;domain_details&quot;: boolean value,  &quot;email_messages&quot;: boolean value,  &quot;enable_default_themes&quot;: boolean value,  &quot;hide_ads&quot;: boolean value,  &quot;hide_downs&quot;: boolean value,  &quot;hide_from_robots&quot;: boolean value,  &quot;hide_locationbar&quot;: boolean value,  &quot;hide_ups&quot;: boolean value,  &quot;highlight_controversial&quot;: boolean value,  &quot;highlight_new_comments&quot;: boolean value,  &quot;ignore_suggested_sort&quot;: boolean value,  &quot;label_nsfw&quot;: boolean value,  &quot;lang&quot;: a valid IETF language tag (underscore separated),  &quot;legacy_search&quot;: boolean value,  &quot;mark_messages_read&quot;: boolean value,  &quot;media&quot;: one of (`on`, `off`, `subreddit`),  &quot;min_comment_score&quot;: an integer between -100 and 100,  &quot;min_link_score&quot;: an integer between -100 and 100,  &quot;monitor_mentions&quot;: boolean value,  &quot;newwindow&quot;: boolean value,  &quot;no_profanity&quot;: boolean value,  &quot;num_comments&quot;: an integer between 1 and 500,  &quot;numsites&quot;: an integer between 1 and 100,  &quot;organic&quot;: boolean value,  &quot;other_theme&quot;: subreddit name,  &quot;over_18&quot;: boolean value,  &quot;private_feeds&quot;: boolean value,  &quot;public_votes&quot;: boolean value,  &quot;research&quot;: boolean value,  &quot;show_flair&quot;: boolean value,  &quot;show_gold_expiration&quot;: boolean value,  &quot;show_link_flair&quot;: boolean value,  &quot;show_promote&quot;: boolean value,  &quot;show_stylesheets&quot;: boolean value,  &quot;show_trending&quot;: boolean value,  &quot;store_visits&quot;: boolean value,  &quot;theme_selector&quot;: subreddit name,  &quot;threaded_messages&quot;: boolean value,  &quot;threaded_modmail&quot;: boolean value,  &quot;use_global_defaults&quot;: boolean value,}", 
                        "type": "string", 
                        "name": "This endpoint expects JSON data of this format", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "", 
                "summary": "", 
                "security": [], 
                "operationId": "account"
            }, 
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of items from this set:threaded_messageshide_downsemail_messagesshow_link_flaircreddit_autorenewshow_trendingprivate_feedsmonitor_mentionsresearchignore_suggested_sortmediaclickgadgetuse_global_defaultslabel_nsfwdomain_detailsshow_stylesheetshighlight_controversialno_profanitydefault_theme_srlanghide_upshide_from_robotscompressstore_visitsthreaded_modmailbetaother_themeshow_gold_expirationover_18enable_default_themesshow_promotemin_comment_scorepublic_votesorganiccollapse_read_messagesshow_flairmark_messages_readhide_adsmin_link_scorenewwindownumsiteslegacy_searchnum_commentshighlight_new_commentsdefault_comment_sorthide_locationbar", 
                        "type": "string", 
                        "name": "fields", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Return the preference settings of the logged in user", 
                "summary": "Return the preference settings of the logged in user", 
                "security": [], 
                "operationId": "account"
            }
        }, 
        "/api/v1/me/karma": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Return a breakdown of subreddit karma.", 
                "summary": "Return a breakdown of subreddit karma.", 
                "security": [], 
                "operationId": "account"
            }
        }, 
        "/api/v1/me/trophies": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Return a list of trophies for the current user.", 
                "summary": "Return a list of trophies for the current user.", 
                "security": [], 
                "operationId": "account"
            }
        }, 
        "/prefs/where": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "This endpoint is a listing.", 
                "summary": "This endpoint is a listing.", 
                "security": [], 
                "operationId": "account"
            }
        }, 
        "/captcha/iden": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Request a CAPTCHA image given an iden.", 
                "summary": "Request a CAPTCHA image given an iden.", 
                "security": [], 
                "operationId": "captcha"
            }
        }, 
        "/api/new_captcha": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Responds with an iden of a new CAPTCHA.", 
                "summary": "Responds with an iden of a new CAPTCHA.", 
                "security": [], 
                "operationId": "captcha"
            }
        }, 
        "/api/needs_captcha": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Check whether CAPTCHAs are needed for API methods that define then&quot;captcha&quot; and &quot;iden&quot; parameters.", 
                "summary": "Check whether CAPTCHAs are needed for API methods that define then&quot;captcha&quot; and &quot;iden&quot; parameters.", 
                "security": [], 
                "operationId": "captcha"
            }
        }, 
        "{/r/subreddit}/api/flairtemplate": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a valid subreddit image name", 
                        "type": "string", 
                        "name": "css_class", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "flair_template_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (USER_FLAIR, LINK_FLAIR)", 
                        "type": "string", 
                        "name": "flair_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 64 characters", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "text_editable", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/flaircsv": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "comma-seperated flair information", 
                        "type": "string", 
                        "name": "flair_csv", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Change the flair of multiple users in the same subreddit with ansingle API call.", 
                "summary": "Change the flair of multiple users in the same subreddit with ansingle API call.", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/flair": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a valid subreddit image name", 
                        "type": "string", 
                        "name": "css_class", 
                        "in": "query"
                    }, 
                    {
                        "description": "a fullname of a link", 
                        "type": "string", 
                        "name": "link", 
                        "in": "query"
                    }, 
                    {
                        "description": "a user by name", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 64 characters", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/flairconfig": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "flair_enabled", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (left, right)", 
                        "type": "string", 
                        "name": "flair_position", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "flair_self_assign_enabled", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (`,left,right`)", 
                        "type": "string", 
                        "name": "link_flair_position", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "link_flair_self_assign_enabled", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/deleteflair": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a user by name", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/flairselector": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "a fullname of a link", 
                        "type": "string", 
                        "name": "link", 
                        "in": "query"
                    }, 
                    {
                        "description": "a user by name", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Return information about a users&#39;s flair options.", 
                "summary": "Return information about a users&#39;s flair options.", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/clearflairtemplates": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (USER_FLAIR, LINK_FLAIR)", 
                        "type": "string", 
                        "name": "flair_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/setflairenabled": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "flair_enabled", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/selectflair": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "flair_template_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a fullname of a link", 
                        "type": "string", 
                        "name": "link", 
                        "in": "query"
                    }, 
                    {
                        "description": "a user by name", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 64 characters", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/flairlist": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 1000)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "a user by name", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "This endpoint is a listing.", 
                "summary": "This endpoint is a listing.", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "{/r/subreddit}/api/deleteflairtemplate": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "flair_template_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "the string json", 
                "summary": "the string json", 
                "security": [], 
                "operationId": "flair"
            }
        }, 
        "/api/v1/gold/give/username": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "an integer between 1 and 36", 
                        "type": "string", 
                        "name": "months", 
                        "in": "query"
                    }, 
                    {
                        "description": "A valid, existing reddit username", 
                        "type": "string", 
                        "name": "username", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "an integer between 1 and 36", 
                "summary": "an integer between 1 and 36", 
                "security": [], 
                "operationId": "reddit-gold"
            }
        }, 
        "/api/v1/gold/gild/fullname": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "fullname", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "fullname of a thing", 
                "summary": "fullname of a thing", 
                "security": [], 
                "operationId": "reddit-gold"
            }
        }, 
        "/api/editusertext": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing created by the user", 
                        "type": "string", 
                        "name": "thing_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Edit the body text of a comment or self-post.", 
                "summary": "Edit the body text of a comment or self-post.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/report": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 100 characters", 
                        "type": "string", 
                        "name": "other_reason", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 100 characters", 
                        "type": "string", 
                        "name": "reason", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 100 characters", 
                        "type": "string", 
                        "name": "site_reason", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "thing_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Report a link, comment or message.", 
                "summary": "Report a link, comment or message.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "{/r/subreddit}/api/info": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of thing fullnames", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a valid URL", 
                        "type": "string", 
                        "name": "url", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Return a listing of things specified by their fullnames.", 
                "summary": "Return a listing of things specified by their fullnames.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/saved_categories": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Get a list of categories in which things are currently saved.", 
                "summary": "Get a list of categories in which things are currently saved.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/set_suggested_sort": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (confidence, top, new, hot, controversial, old, random, qa, blank)", 
                        "type": "string", 
                        "name": "sort", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Set a suggested sort for a link.", 
                "summary": "Set a suggested sort for a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/hide": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of link fullnames", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Hide a link.", 
                "summary": "Hide a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/set_contest_mode": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "state", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Set or unset &quot;contest mode&quot; for a link&#39;s comments.", 
                "summary": "Set or unset &quot;contest mode&quot; for a link&#39;s comments.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/vote": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "vote direction. one of (1, 0, -1)", 
                        "type": "string", 
                        "name": "dir", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Cast a vote on a thing.", 
                "summary": "Cast a vote on a thing.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/sendreplies": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing created by the user", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "state", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Enable or disable inbox replies for a link or comment.", 
                "summary": "Enable or disable inbox replies for a link or comment.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/marknsfw": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Mark a link NSFW.", 
                "summary": "Mark a link NSFW.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/unsave": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Unsave a link or comment.", 
                "summary": "Unsave a link or comment.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/morechildren": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a comma-delimited list of comment ID36s", 
                        "type": "string", 
                        "name": "children", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) id of the associated MoreChildren object", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "link_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (confidence, top, new, hot, controversial, old, random, qa)", 
                        "type": "string", 
                        "name": "sort", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Retrieve additional comments omitted from a base comment tree.", 
                "summary": "Retrieve additional comments omitted from a base comment tree.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/del": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing created by the user", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Delete a Link or Comment.", 
                "summary": "Delete a Link or Comment.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/unmarknsfw": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Remove the NSFW marking from a link.", 
                "summary": "Remove the NSFW marking from a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/store_visits": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of link fullnames", 
                        "type": "string", 
                        "name": "links", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Requires a subscription to reddit gold", 
                "summary": "Requires a subscription to reddit gold", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/save": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "a category name", 
                        "type": "string", 
                        "name": "category", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Save a link or comment.", 
                "summary": "Save a link or comment.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/unlock": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a link", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Unlock a link.", 
                "summary": "Unlock a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/submit": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "the user&#39;s response to the CAPTCHA challenge", 
                        "type": "string", 
                        "name": "captcha", 
                        "in": "query"
                    }, 
                    {
                        "description": "extension used for redirects", 
                        "type": "string", 
                        "name": "extension", 
                        "in": "query"
                    }, 
                    {
                        "description": "the identifier of the CAPTCHA challenge", 
                        "type": "string", 
                        "name": "iden", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (link, self)", 
                        "type": "string", 
                        "name": "kind", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "resubmit", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "sendreplies", 
                        "in": "query"
                    }, 
                    {
                        "description": "name of a subreddit", 
                        "type": "string", 
                        "name": "sr", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "title of the submission. up to 300 characters long", 
                        "type": "string", 
                        "name": "title", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }, 
                    {
                        "description": "a valid URL", 
                        "type": "string", 
                        "name": "url", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Submit a link to a subreddit.", 
                "summary": "Submit a link to a subreddit.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/lock": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a link", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Lock a link.", 
                "summary": "Lock a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/set_subreddit_sticky": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "an integer between 1 and 2", 
                        "type": "string", 
                        "name": "num", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "state", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Set or unset a Link as the sticky in its subreddit.", 
                "summary": "Set or unset a Link as the sticky in its subreddit.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/unhide": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of link fullnames", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Unhide a link.", 
                "summary": "Unhide a link.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "/api/comment": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "text", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of parent thing", 
                        "type": "string", 
                        "name": "thing_id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Submit a new comment or reply to a message.", 
                "summary": "Submit a new comment or reply to a message.", 
                "security": [], 
                "operationId": "links-amp-comments"
            }
        }, 
        "{/r/subreddit}/sort": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (hour, day, week, month, year, all)", 
                        "type": "string", 
                        "name": "t", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "This endpoint is a listing.", 
                "summary": "This endpoint is a listing.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "{/r/subreddit}/hot": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "This endpoint is a listing.", 
                "summary": "This endpoint is a listing.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "{/r/subreddit}/random": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "The Serendipity button", 
                "summary": "The Serendipity button", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "/duplicates/article": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "The base 36 ID of a Link", 
                        "type": "string", 
                        "name": "article", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Return a list of other submissions of the same URL", 
                "summary": "Return a list of other submissions of the same URL", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "{/r/subreddit}/new": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "This endpoint is a listing.", 
                "summary": "This endpoint is a listing.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "{/r/subreddit}/comments/article": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "ID36 of a link", 
                        "type": "string", 
                        "name": "article", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) ID36 of a comment", 
                        "type": "string", 
                        "name": "comment", 
                        "in": "query"
                    }, 
                    {
                        "description": "an integer between 0 and 8", 
                        "type": "string", 
                        "name": "context", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) an integer", 
                        "type": "string", 
                        "name": "depth", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) an integer", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "showedits", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "showmore", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (confidence, top, new, hot, controversial, old, random, qa)", 
                        "type": "string", 
                        "name": "sort", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Get the comment tree for a given Link article.", 
                "summary": "Get the comment tree for a given Link article.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "/related/article": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "The base 36 ID of a Link", 
                        "type": "string", 
                        "name": "article", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Related page: performs a search using title of article asnthe search query.", 
                "summary": "Related page: performs a search using title of article asnthe search query.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "/by_id/names": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "A comma-separated list of link fullnames", 
                        "type": "string", 
                        "name": "names", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Get a listing of links by fullname.", 
                "summary": "Get a listing of links by fullname.", 
                "security": [], 
                "operationId": "listings"
            }
        }, 
        "/live/thread/contributors": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Get a list of users that contribute to this thread.", 
                "summary": "Get a list of users that contribute to this thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/report": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (spam, vote-manipulation, personal-information, sexualizing-minors, site-breaking)", 
                        "type": "string", 
                        "name": "type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Report the thread for violating the rules of reddit.", 
                "summary": "Report the thread for violating the rules of reddit.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/rm_contributor_invite": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a account", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Revoke an outstanding contributor invite.", 
                "summary": "Revoke an outstanding contributor invite.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/update": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "body", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Post an update to the thread.", 
                "summary": "Post an update to the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/create": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "description", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "nsfw", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "resources", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 120 characters", 
                        "type": "string", 
                        "name": "title", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Create a new live thread.", 
                "summary": "Create a new live thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/live/thread/about": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "tags": [
                    ""
                ], 
                "description": "Get some basic information about the live thread.", 
                "summary": "Get some basic information about the live thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/delete_update": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "the ID of a single update. e.g. LiveUpdate_ff87068e-a126-11e3-9f93-12313b0b3603", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Delete an update from the thread.", 
                "summary": "Delete an update from the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/strike_update": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "the ID of a single update. e.g. LiveUpdate_ff87068e-a126-11e3-9f93-12313b0b3603", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Strike (mark incorrect and cross out) the content of an update.", 
                "summary": "Strike (mark incorrect and cross out) the content of an update.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/edit": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "description", 
                        "in": "query"
                    }, 
                    {
                        "description": "boolean value", 
                        "type": "string", 
                        "name": "nsfw", 
                        "in": "query"
                    }, 
                    {
                        "description": "raw markdown text", 
                        "type": "string", 
                        "name": "resources", 
                        "in": "query"
                    }, 
                    {
                        "description": "a string no longer than 120 characters", 
                        "type": "string", 
                        "name": "title", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Configure the thread.", 
                "summary": "Configure the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/close_thread": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Permanently close the thread, disallowing future updates.", 
                "summary": "Permanently close the thread, disallowing future updates.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/leave_contributor": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Abdicate contributorship of the thread.", 
                "summary": "Abdicate contributorship of the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/live/thread": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the ID of a single update. e.g. LiveUpdate_ff87068e-a126-11e3-9f93-12313b0b3603", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "the ID of a single update. e.g. LiveUpdate_ff87068e-a126-11e3-9f93-12313b0b3603", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "(internal use only)", 
                        "type": "string", 
                        "name": "is_embed", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "subreddit name", 
                        "type": "string", 
                        "name": "stylesr", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Get a list of updates posted in this thread.", 
                "summary": "Get a list of updates posted in this thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/invite_contributor": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "the name of an existing user", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "permission description e.g. +update,+edit,-manage", 
                        "type": "string", 
                        "name": "permissions", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (liveupdate_contributor_invite, liveupdate_contributor)", 
                        "type": "string", 
                        "name": "type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Invite another user to contribute to the thread.", 
                "summary": "Invite another user to contribute to the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/accept_contributor_invite": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Accept a pending invitation to contribute to the thread.", 
                "summary": "Accept a pending invitation to contribute to the thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/live/thread/discussions": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
                        "in": "query"
                    }, 
                    {
                        "description": "the maximum number of items desired (default: 25, maximum: 100)", 
                        "type": "string", 
                        "name": "limit", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) the string all", 
                        "type": "string", 
                        "name": "show", 
                        "in": "query"
                    }, 
                    {
                        "description": "(optional) expand subreddits", 
                        "type": "string", 
                        "name": "sr_detail", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Get a list of reddit submissions linking to this thread.", 
                "summary": "Get a list of reddit submissions linking to this thread.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/rm_contributor": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a account", 
                        "type": "string", 
                        "name": "id", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Revoke another user&#39;s contributorship.", 
                "summary": "Revoke another user&#39;s contributorship.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/live/thread/set_contributor_permissions": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "the string json", 
                        "type": "string", 
                        "name": "api_type", 
                        "in": "query"
                    }, 
                    {
                        "description": "the name of an existing user", 
                        "type": "string", 
                        "name": "name", 
                        "in": "query"
                    }, 
                    {
                        "description": "permission description e.g. +update,+edit,-manage", 
                        "type": "string", 
                        "name": "permissions", 
                        "in": "query"
                    }, 
                    {
                        "description": "one of (liveupdate_contributor_invite, liveupdate_contributor)", 
                        "type": "string", 
                        "name": "type", 
                        "in": "query"
                    }, 
                    {
                        "description": "a modhash", 
                        "type": "string", 
                        "name": "uh / X-Modhash header", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Change a contributor or contributor invite&#39;s permissions.", 
                "summary": "Change a contributor or contributor invite&#39;s permissions.", 
                "security": [], 
                "operationId": "live-threads"
            }
        }, 
        "/api/v1/scopes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "(optional) An OAuth2 scope string", 
                        "type": "string", 
                        "name": "scopes", 
                        "in": "query"
                    }
                ], 
                "tags": [
                    ""
                ], 
                "description": "Retrieve descriptions of reddit&#39;s OAuth2 scopes.", 
                "summary": "Retrieve descriptions of reddit&#39;s OAuth2 scopes.", 
                "security": [], 
                "operationId": "misc"
            }
        }, 
        "{/r/subreddit}/about/location": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }, 
                "parameters": [
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "after", 
                        "in": "query"
                    }, 
                    {
                        "description": "fullname of a thing", 
                        "type": "string", 
                        "name": "before", 
                        "in": "query"
                    }, 
                    {
                        "description": "a positive integer (default: 0)", 
                        "type": "string", 
                        "name": "count", 
[...]
