{
    "swagger": "2.0",
    "info": {
        "title": "微博  API",
        "description": "包括微博相关API，公共服务API，地理信息API。",
        "version": "2.0"
    },
    "host": "api.weibo.com",
    "schemes": [
        "https"
    ],
    "basePath": "/2",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/statuses/public_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/friends_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/home_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/friends_timeline/ids.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/user_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "需要查询的用户ID。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "需要查询的用户昵称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，超过100以100处理，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/user_timeline/ids.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "需要查询的用户ID。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "需要查询的用户昵称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/timeline_batch.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uids",
                        "in": "query",
                        "description": "需要查询的用户ID，用半角逗号分隔，一次最多20个。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "screen_names",
                        "in": "query",
                        "description": "需要查询的用户昵称，用半角逗号分隔，一次最多20个。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/repost_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要查询的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过200，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/repost_timeline/ids.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要查询的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过200，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/mentions.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过200，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_source",
                        "in": "query",
                        "description": "来源筛选类型，0：全部、1：来自微博、2：来自微群，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_type",
                        "in": "query",
                        "description": "原创筛选类型，0：全部微博、1：原创的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/mentions/ids.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过200，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_source",
                        "in": "query",
                        "description": "来源筛选类型，0：全部、1：来自微博、2：来自微群，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_type",
                        "in": "query",
                        "description": "原创筛选类型，0：全部微博、1：原创的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/bilateral_timeline.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的微博（即比since_id时间晚的微博），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的微博，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，最大不超过100，默认为20。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "base_app",
                        "in": "query",
                        "description": "是否只获取当前应用的数据。0为否（所有数据），1为是（仅当前应用），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "feature",
                        "in": "query",
                        "description": "过滤类型ID，0：全部、1：原创、2：图片、3：视频、4：音乐，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/show.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要获取的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/show_batch.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "需要查询的微博ID，用半角逗号分隔，最多不超过50个。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/querymid.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要查询的微博（评论、私信）ID，批量模式下，用半角逗号分隔，最多不超过20个。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "获取类型，1：微博、2：评论、3：私信，默认为1。",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "is_batch",
                        "in": "query",
                        "description": "是否使用批量模式，0：否、1：是，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/queryid.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mid",
                        "in": "query",
                        "description": "需要查询的微博（评论、私信）MID，批量模式下，用半角逗号分隔，最多不超过20个。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "获取类型，1：微博、2：评论、3：私信，默认为1。",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "is_batch",
                        "in": "query",
                        "description": "是否使用批量模式，0：否、1：是，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "inbox",
                        "in": "query",
                        "description": "仅对私信有效，当MID类型为私信时用此参数，0：发件箱、1：收件箱，默认为0 。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "isBase62",
                        "in": "query",
                        "description": "MID是否是base62编码，0：否、1：是，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/count.json": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "需要获取数据的微博ID，多个之间用逗号分隔，最多不超过100个。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/go": {
            "get": {
                "tags": [
                    "statuses"
                ],
                "parameters": [
                    {
                        "name": "source",
                        "in": "query",
                        "description": "采用OAuth授权方式不需要此参数，其他授权方式为必填参数，数值为应用的AppKey。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，其他授权方式不需要此参数，OAuth授权后获得。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "需要跳转的用户ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要跳转的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/emotions.json": {
            "get": {
                "tags": [
                    "emotions.json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "表情类别，face：普通表情、ani：魔法表情、cartoon：动漫表情，默认为face。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "语言类别，cnname：简体、twname：繁体，默认为cnname。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/repost.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "要转发的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "添加的转发文本，必须做URLencode，内容不超过140个汉字，不填则默认为“转发微博”。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "is_comment",
                        "in": "formData",
                        "description": "是否在转发的同时发表评论，0：否、1：评论给当前微博、2：评论给原微博、3：都评论，默认为0 。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/destroy.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "需要删除的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/update.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "要发布的微博文本内容，必须做URLencode，内容不超过140个汉字。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "visible",
                        "in": "formData",
                        "description": "微博的可见性，0：所有人能看，1：仅自己可见，2：密友可见，3：指定分组可见，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "list_id",
                        "in": "formData",
                        "description": "微博的保护投递指定分组ID，只有当visible参数为3时生效且必选。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lat",
                        "in": "formData",
                        "description": "纬度，有效范围：-90.0到+90.0，+表示北纬，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "long",
                        "in": "formData",
                        "description": "经度，有效范围：-180.0到+180.0，+表示东经，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "annotations",
                        "in": "formData",
                        "description": "元数据，主要是为了方便第三方应用记录一些适合于自己使用的信息，每条微博可以包含一个或者多个元数据，必须以json字串的形式提交，字串长度不超过512个字符，具体内容可以自定。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/upload.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "source",
                        "in": "formData",
                        "description": "采用OAuth授权方式不需要此参数，其他授权方式为必填参数，数值为应用的AppKey。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，其他授权方式不需要此参数，OAuth授权后获得。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "要发布的微博文本内容，必须做URLencode，内容不超过140个汉字。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "visible",
                        "in": "formData",
                        "description": "微博的可见性，0：所有人能看，1：仅自己可见，2：密友可见，3：指定分组可见，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "list_id",
                        "in": "formData",
                        "description": "微博的保护投递指定分组ID，只有当visible参数为3时生效且必选。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pic",
                        "in": "formData",
                        "description": "要上传的图片，仅支持JPEG、GIF、PNG格式，图片大小小于5M。",
                        "required": true,
                        "type": "string",
                        "format": "binary"
                    },
                    {
                        "name": "lat",
                        "in": "formData",
                        "description": "纬度，有效范围：-90.0到+90.0，+表示北纬，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "long",
                        "in": "formData",
                        "description": "经度，有效范围：-180.0到+180.0，+表示东经，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "annotations",
                        "in": "formData",
                        "description": "元数据，主要是为了方便第三方应用记录一些适合于自己使用的信息，每条微博可以包含一个或者多个元数据，必须以json字串的形式提交，字串长度不超过512个字符，具体内容可以自定。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/upload_url_text.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "要发布的微博文本内容，必须做URLencode，内容不超过140个汉字。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "visible",
                        "in": "formData",
                        "description": "微博的可见性，0：所有人能看，1：仅自己可见，2：密友可见，3：指定分组可见，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "list_id",
                        "in": "formData",
                        "description": "微博的保护投递指定分组ID，只有当visible参数为3时生效且必选。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "url",
                        "in": "formData",
                        "description": "图片的URL地址，必须以http开头。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pic_id",
                        "in": "formData",
                        "description": "已经上传的图片pid，多个时使用英文半角逗号符分隔，最多不超过9个。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lat",
                        "in": "formData",
                        "description": "纬度，有效范围：-90.0到+90.0，+表示北纬，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "long",
                        "in": "formData",
                        "description": "经度，有效范围：-180.0到+180.0，+表示东经，默认为0.0。",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "annotations",
                        "in": "formData",
                        "description": "元数据，主要是为了方便第三方应用记录一些适合于自己使用的信息，每条微博可以包含一个或者多个元数据，必须以json字串的形式提交，字串长度不超过512个字符，具体内容可以自定。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/filter/create.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "微博id。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/status"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/statuses/mentions/shield.json": {
            "post": {
                "tags": [
                    "statuses"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "需要屏蔽的@提到我的微博ID。此ID必须在statuses/mentions列表中。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "follow_up",
                        "in": "formData",
                        "description": "是否仅屏蔽当前微博。0：仅屏蔽当前@提到我的微博；1：屏蔽当前@提到我的微博，以及后续对其转发而引起的@提到我的微博。默认1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/show.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "需要查询的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的评论（即比since_id时间晚的评论），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/by_me.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的评论（即比since_id时间晚的评论），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_source",
                        "in": "query",
                        "description": "来源筛选类型，0：全部、1：来自微博的评论、2：来自微群的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/to_me.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的评论（即比since_id时间晚的评论），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_source",
                        "in": "query",
                        "description": "来源筛选类型，0：全部、1：来自微博的评论、2：来自微群的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/timeline.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的评论（即比since_id时间晚的评论），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_user",
                        "in": "query",
                        "description": "返回值中user字段开关，0：返回完整user字段、1：user字段仅返回user_id，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/mentions.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID比since_id大的评论（即比since_id时间晚的评论），默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "max_id",
                        "in": "query",
                        "description": "若指定此参数，则返回ID小于或等于max_id的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "返回结果的页码，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_author",
                        "in": "query",
                        "description": "作者筛选类型，0：全部、1：我关注的人、2：陌生人，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter_by_source",
                        "in": "query",
                        "description": "来源筛选类型，0：全部、1：来自微博的评论、2：来自微群的评论，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/show_batch.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cids",
                        "in": "query",
                        "description": "需要查询的批量评论ID，用半角逗号分隔，最大50。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/create.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "评论内容，必须做URLencode，内容不超过140个汉字。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "需要评论的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "comment_ori",
                        "in": "formData",
                        "description": "当评论转发微博时，是否评论给原微博，0：否、1：是，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/destroy.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cid",
                        "in": "formData",
                        "description": "要删除的评论ID，只能删除登录用户自己发布的评论。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/destroy_batch.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cids",
                        "in": "formData",
                        "description": "需要删除的评论ID，用半角逗号隔开，最多20个。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/reply.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cid",
                        "in": "formData",
                        "description": "需要回复的评论ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "需要评论的微博ID。",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "回复评论内容，必须做URLencode，内容不超过140个汉字。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "without_mention",
                        "in": "formData",
                        "description": "回复中是否自动加入“回复@用户名”，0：是、1：否，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "comment_ori",
                        "in": "formData",
                        "description": "当评论转发微博时，是否评论给原微博，0：否、1：是，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rip",
                        "in": "formData",
                        "description": "开发者上报的操作用户真实IP，形如：211.156.0.1。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comment"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/show.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "需要查询的用户ID。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "需要查询的用户昵称。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/domain_show.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "需要查询的个性化域名。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/counts.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uids",
                        "in": "query",
                        "description": "需要获取数据的用户UID，多个之间用逗号分隔，最多不超过100个。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/friendships/friends.json": {
            "get": {
                "tags": [
                    "friendships"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "需要查询的用户UID。",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "screen_name",
                        "in": "query",
                        "description": "需要查询的用户昵称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "单页返回的记录条数，默认为50，最大不超过200。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "返回结果的游标，下一页用返回值里的next_cursor，上一页用previous_cursor，默认为0。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "trim_status",
                        "in": "query",
                        "description": "返回值中user字段中的status字段开关，0：返回完整status字段、1：status字段仅返回status_id，默认为1。",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/friendships/friends/in_common.json": {
            "get": {
                "tags": [
                    "friendships"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "采用OAuth授权方式为必填参数，OAuth授权后获得。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "uid",
[...]
