{
    "swagger": "2.0",
    "info": {
        "title": "Youku API",
        "description": "优酷视频云的YoukuOpenAPI",
        "version": "2.0"
    },
    "host": "openapi.youku.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v2",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/users/myinfo.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/show.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "用户名",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/show_batch.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_ids",
                        "in": "formData",
                        "description": "用户ID,多个用逗号分隔",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_names",
                        "in": "formData",
                        "description": "用户名,多个用逗号分隔",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/friendship/followings.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "用户名",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/friendship/followers.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "用户ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "用户名",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/friendship/create.json": {
            "post": {
                "tags": [
                    "users"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "formData",
                        "description": "关注用户ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "user_name",
                        "in": "formData",
                        "description": "关注用户名",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/subscribe/create.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_id",
                        "in": "query",
                        "description": "节目id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/subscribe/get.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小 page*count必须小于等于1000",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/users/subscribe/notice.json": {
            "get": {
                "tags": [
                    "users"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/users"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/show.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment_id",
                        "in": "formData",
                        "description": "评论ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/show_batch.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment_ids",
                        "in": "formData",
                        "description": "评论ID,多个用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/by_video.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页数量",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/hot/by_video.json": {
            "get": {
                "tags": [
                    "comments"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/by_me.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/by_mention_me.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/by_reply_me.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/to_me.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "formData",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/create.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "formData",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "content",
                        "in": "formData",
                        "description": "评论内容",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "reply_id",
                        "in": "formData",
                        "description": "回复ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "captcha_key",
                        "in": "formData",
                        "description": "验证码key",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "captcha_text",
                        "in": "formData",
                        "description": "验证码内容",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comments/destroy.json": {
            "post": {
                "tags": [
                    "comments"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "comment_id",
                        "in": "formData",
                        "description": "评论ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/comments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/show_basic.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "video_url",
                        "in": "query",
                        "description": "视频播放页URL",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/show_basic_batch.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_ids",
                        "in": "query",
                        "description": "多条视频ID，用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/show.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext",
                        "in": "query",
                        "description": "视频扩展信息返回， 多个用逗号分隔",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/show_batch.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_ids",
                        "in": "query",
                        "description": "视频ID 多个用逗号分隔",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext",
                        "in": "query",
                        "description": "视频扩展信息返回， 多个用逗号分隔",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/by_me.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 published: 发布时间 view-count: 总播放数 comment-count: 总评论数 favorite-count: 总收藏数",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "last_item",
                        "in": "query",
                        "description": "上次翻页的最后一条记录的信息，包括页数、排序字段值和视频id，直接使用接口返回的last_item值即可",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/update.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "视频标题 长度限制为 2-50 个半角字符 不能全部为数字",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "视频标签 单个标签2-6个汉字 标签个数不能超过10个 单个标签最少2个字母，最多12个字母 单个标签最少2个汉字，最多6个汉字",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "copyright_type",
                        "in": "query",
                        "description": "版权所有 original: 原创 reproduced: 转载",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "public_type",
                        "in": "query",
                        "description": "视频权限 all: 公开 friend: 仅好友 password: 输入密码观看",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "watch_password",
                        "in": "query",
                        "description": "观看密码明文 当public_type为password时，此为必须项",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "视频描述",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "thumbnail_seq",
                        "in": "query",
                        "description": "视频截图序号",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/destroy.json": {
            "post": {
                "tags": [
                    "videos"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "formData",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/by_related.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "返回数量",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/favorite/by_me.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 favorite-time: 收藏时间",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/favorite/by_user.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "用户ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "user_name",
                        "in": "query",
                        "description": "用户名",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 favorite-time: 收藏时间",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/favorite/create.json": {
            "post": {
                "tags": [
                    "videos"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "formData",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/favorite/destroy.json": {
            "post": {
                "tags": [
                    "videos"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "formData",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "video_id",
                        "in": "formData",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/videos/by_category.json": {
            "get": {
                "tags": [
                    "videos"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "genre",
                        "in": "query",
                        "description": "类型",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "时间范围 today: 今日 week: 本周 month: 本月 history: 历史",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 published: 发布时间 view-count: 总播放数 comment-count: 总评论数 reference-count: 总引用 favorite-time: 收藏时间 favorite-count: 总收藏数",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/videos"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/show.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_id",
                        "in": "query",
                        "description": "节目ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/show_batch.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_ids",
                        "in": "query",
                        "description": "多条节目ID，用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/show_premium.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_ids",
                        "in": "query",
                        "description": "多条节目ID，用逗号分隔",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小 page*count必须小于等于1000",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/by_category.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "genre",
                        "in": "query",
                        "description": "类型",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "area",
                        "in": "query",
                        "description": "地区",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "release_year",
                        "in": "query",
                        "description": "上映年",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paid",
                        "in": "query",
                        "description": "是否付费 0.免费 1.付费",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 view-count: 总播放数 comment-count: 总评论数 reference-count: 总引用数 favorite-count: 总收藏数 view-today-count: 今日播放数 view-week-count: 本周播放数 release-date: 上映日期 score: 评分 updated: 最后一个正片添加时间",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "streamtypes",
                        "in": "query",
                        "description": "流格式 flvhd flv 3gphd 3gp hd hd2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "person",
                        "in": "query",
                        "description": "人物姓名或ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小 page*count必须小于等于1000",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/by_related.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_id",
                        "in": "query",
                        "description": "节目ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小 小于等于100",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shows/videos.json": {
            "get": {
                "tags": [
                    "shows"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_id",
                        "in": "query",
                        "description": "节目ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "show_videotype",
                        "in": "query",
                        "description": "视频类型 正片，预告片，花絮，MV，资讯，首映式 多个查询时用半角逗号分隔",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "show_videostage",
                        "in": "query",
                        "description": "节目中视频的集数或期数 (日期型使用YYYYMMDD格式查寻）",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序类型 videoseq-asc 节目中视频顺序号升序 videoseq-desc 节目中视频顺序号降序",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/shows"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/show.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/show_batch.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_ids",
                        "in": "query",
                        "description": "多个专辑ID, 用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/by_category.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "时间范围 today: 今日 week: 本周 month: 本月",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 published: 发布时间 view-count: 总播放数",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/by_me.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 published: 发布时间 view-count: 总播放数",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/by_user.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "用户ID",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "user_name",
                        "in": "query",
                        "description": "用户名",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderby",
                        "in": "query",
                        "description": "排序 published: 发布时间 view-count: 总播放数",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/videos.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "页大小",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/create.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "专辑标题 长度限制为2-100个字符",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "专辑标签 单个标签2-6个汉字 标签个数不能超过10个 单个标签最少2个字母，最多12个字母 单个标签最少2个汉字，最多6个汉字",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "专辑描述",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/update.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "专辑标题 长度限制为 2-50 个半角字符",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "专辑标签 单个标签2-6个汉字 标签个数不能超过10个 单个标签最少2个字母，最多12个字母 单个标签最少2个汉字，最多6个汉字",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "分类名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "专辑描述",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/destroy.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/video/add.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "video_ids",
                        "in": "query",
                        "description": "视频ID，多个用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/video/del.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "video_ids",
                        "in": "query",
                        "description": "视频ID，多个用逗号分隔",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/playlists/video/setcover.json": {
            "get": {
                "tags": [
                    "playlists"
                ],
                "consumes": [],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "应用Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权 获取access_token接口 手动获取access_token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "playlist_id",
                        "in": "query",
                        "description": "专辑ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "video_id",
                        "in": "query",
                        "description": "视频ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/playlists"
                        }
                    },
                    "default": {
[...]
